{% extends "layout.html" %}

{% block pageTitle %}
  Do you receive Pension Credit? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="../change-how-often-we-will-pay-you" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="invited-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you receive Pension Credit? 
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension-credit-yes" name="pc" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="pension-credit-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension-credit-no" name="pc" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="pension-credit-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "idv-recreated-pages/idv-placeholder",
            text: "ID&V CODES REQUIRED (opens in new tab)",
            attributes: {
              target: "_blank"
            }
          },
          {
            href: "idv-recreated-pages/success",
            text: "SKIP ID&V SUCCESS"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}