{% extends "layout_noback.html" %}

{% block pageTitle %}
  You have changed your bank details - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          You have changed your bank details
        </h1>
      </div>
      <!-- <p class="govuk-body">We have sent you a confirmation email.</p> -->
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        We sent your next State Pension payment before you changed your bank details. It will be paid into your previous account on
        {% if data['next-payment-date'] %}
          {{ data['next-payment-date'] }}.
        {% else %}
          Monday 6 February 2023.
        {% endif %}
      </p>
      <p class="govuk-body">
        Starting from
        {% if data['following-payment-date'] %}
          {{ data['following-payment-date'] }},
        {% else %}
          Monday 6 March 2023,
        {% endif %}
        your State Pension payments will be paid into your new account.
      </p>
      <p class="govuk-body">
        We will send you a letter to confirm you have changed your bank details.
      </p>
      <h2 class="govuk-heading-m">
        If you receive Pension Credit
      </h2>
      <p class="govuk-body">
        If you want to change the bank details we use to pay your Pension Credit, <a href="https://www.gov.uk/pension-credit/change-of-circumstances" target="_blank">contact the Pension Service by phone or post (opens in new tab)</a>.
      </p>
      <h2 class="govuk-heading-m">
        Help improve this service
      </h2>
      <p class="govuk-body">
        You can <a href="#">help improve this service by giving us your feedback (opens in new tab)</a>.
      </p>
      <div class="govuk-inset-text">
        <a href="your-state-pension&updated.html" class="govuk-link">Return to your State Pension details</a>
      </div>
      <p class="govuk-body">
        <a href="signed-out.html">Sign out</a>
      </p>
      </div>
    </div>
  </div>

{% endblock %}
