{% extends "layout_noback_nosignout.html" %}

{% block pageTitle %}
   You need to change your address once you have moved - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="bank-playback" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">
          You need to change your address once you have moved
        </h1>
        <p class="govuk-body">
          You can only change your address once you have access to your new property and can receive letters at that new address.
        </p>
        <div class="govuk-inset-text">
          <a href="../your-state-pension&updated.html" class="govuk-link">Return to your State Pension details</a>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
