{% extends "layout_noback_nosignout.html" %}

{% block pageTitle %}
   You cannot use this service to change your address - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="bank-playback" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">
          You cannot change your address online
        </h1>

        <p class="govuk-body">If your new address is outside the UK you need to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/contact-pension-service/report-changes">contact the Pension Service by phone or post</a> if your last address was in England, Scotland or Wales</li>
            <li><a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">contact the Northern Ireland Pension Centre by phone or post</a>, if your last address was in Northern Ireland </li>
          </ul>

        
        <div class="govuk-inset-text">
          <a href="../your-state-pension.html" class="govuk-link">Return to your State Pension details</a>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
