{% extends "layout_noback.html" %}

{% block pageTitle %}
  Your address has been updated - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Your address has been updated
        </h1>
      </div>
      <h2 class="govuk-heading-s">Your home address has been updated to:</h2>

      <p class="govuk-body">
        1 Square Street<br>
        York<br>
        YO3 1SQ	<br>   

        <p class="govuk-body">
          If you would like your letters sent somewhere other than this address, you will have to <a href="https://www.gov.uk/contact-pension-service/report-changes">contact the Pension Service by phone or post</a>.
        </p>
  
  <h2 class="govuk-heading-m">
        Help improve this service
      </h2>
      <p class="govuk-body">
        You can <a href="#">help improve this service by giving us your feedback (opens in new tab)</a>.
      </p>
      <!-- <div class="govuk-inset-text">
        <a href="../your-state-pension&updated.html" class="govuk-link">Return to your State Pension details</a>
      </div> -->
      <div class="govuk-inset-text">
      <a href="../your-state-pension&updated">Return to Your State Pension details.</a></div>
      <p class="govuk-body">
        <a href="signed-out.html">Sign out</a>
      </p>
      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
