
{% extends "layouts/ol_signed_in.html" %}


{% set pageName = "Check your answers about your money and investments" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row ">
      <div class="govuk-grid-column-two-thirds">
       <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
       <span class="govuk-caption-l">Savings and investments</span>

        <h1 class="govuk-heading-l">Check your answers about your money and investments</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          {%if data['capitalTypes']%}
          <div class="govuk-summary-list__row">
            {%if data['partner'] == 'Yes'%}
            <dt class="govuk-summary-list__key">
              Where you and your partner have money
            </dt>

            {% else%}
            <dt class="govuk-summary-list__key">
              Where you have money
            </dt>
            {%endif%}
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                {% for bullet in data['capitalTypes']%}
                  <li>{{bullet}}</li>
                {% endfor %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="capital-select-capital">Change<span class="govuk-visually-hidden">where you or your partner keep your money</span></a>
            </dd>
          </div>
          {%endif%}

          {%if data['todayTotal']%}
            <div class="govuk-summary-list__row">
            {%if data['partner'] == 'Yes'%}
            <dt class="govuk-summary-list__key">
              Money you and your partner have today
            </dt>
            {% else%}
            <dt class="govuk-summary-list__key">
              Money you have today
            </dt>
            {% endif %}

            <dd class="govuk-summary-list__value">
              £{% if data['todayTotal'] %}
                {{ data['todayTotal'] }}
              {% else %}
                3000
              {% endif %}
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="capital-total-today">Change<span class="govuk-visually-hidden">where you or your partner keep your money</span></a>
            </dd>
            </div>
          {% else %}
          <dd class="govuk-summary-list__value">
              £{% if data['todayTotal'] %}
                {{ data['todayTotal'] }}
              {% else %}
                3000
              {% endif %}
          </dd>
        {%endif%}

        </dl>

        <form method="post">
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
