<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/index-tasks" class="govuk-header__link govuk-header__service-name">
        Get your State Pension
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation" hidden>Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="enquiries">
              Find someone
            </a>
          </li>


          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="get-a-task-claims">
              Tasks
            </a>
          </li>

          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="/newclaim7/find">
             Telephone claims
            </a>
          </li>

          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="paperclaims9/find">
             Paper claims
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</header>
