<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you want a confirmation email?
      </h1>
    </legend>
    <div id="more-detail-hint" class="govuk-hint">
    We will send an email when you submit your details to confirm your change has been made.
  </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="phone-confirmation-yes" name="phone-email" type="radio" value="phone-confirmation-yes" {{ checked("phone-email", "phone-confirmation-yes") }}>
        <label class="govuk-label govuk-radios__label" for="phone-confirmation-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="phone-confirmation-no" name="phone-email" type="radio" value="phone-confirmation-no" {{ checked("phone-email", "phone-confirmation-no") }}>
        <label class="govuk-label govuk-radios__label" for="phone-confirmation-no">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>
