
{% extends "layout.html" %}

{% block pageTitle %}
Manage your State Pension
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
  <style>
    #more {display: none;}
  </style>
{% endblock %}

{% block beforeContent %}
<!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="../findr/dob" method="post">
        <div class="govuk-form-group">
                <h1 class="govuk-heading-l">

            Manage your State Pension
          </h1>


        <p class="govuk-body">Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change your bank details</li>
          <li>change your phone number</li>
          <li>change your email address</li>
          <li>change how often we pay your State Pension</li>
          <li>change the address where you live</li>
        <li>check when you'll get your next State Pension payment</li></ul>


            <p class="govuk-body"> This is a new service. You'll be able to report other changes online in the future.</p>
            <h2 class="govuk-heading-m">
            If you need to tell us about something else
            </h2>
            <p class="govuk-body">
                If you live in England, Scotland or Wales <a href="contact-pension-service.html">contact the Pension Service by phone or post</a>.
              </p>
              <p class="govuk-body">
                If you live in Northern Ireland, <a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">contact the Northern Ireland Pension Centre by phone or post</a>.
              </p>
          <h2 class="govuk-heading-m">Check you can use this service</h2>
        <div class="govuk-inset-text">    <p class="govuk-body">
          If you've used this service before, you can <a href="">sign in</a>.
          </p>
          <p class="govuk-body">
            You'll need the email address, mobile phone and password you used to register.
          </p></div>
          <p class="govuk-body">
            If you're using this service for the first time, you'll need to register.
          </p>
          <p class="govuk-body">
          We will check that you can register by asking your:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>date of birth</li>
            <li>full name</li>
            <li>postcode</li>
          </ul>


          <!-- PENSION CREDIT VERSION
            <h1 class="govuk-heading-l">
            How we will use your information
          </h1>
          <p class="govuk-body">
            We will treat your information carefully. We may use it for any of our purposes. To learn about your information rights and how we use information, <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter">see our personal information charter (opens in new tab)</a>. (From Intranet)
          </p>
          <hr/>
          <p class="govuk-body-l govuk-!-margin-bottom-6">
            As well as the details you provide in your application, we will also use information we already hold about you (and your partner, if you live with one). (PC)
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            We will use information:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>that we already have about your State Pension and any benefits you receive</li>
            <li>that we get from HMRC about your income and earnings</li>
          </ul>
          <p class="govuk-body">
            To find out more about how we use information and your information rights, read our <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" target="_blank">Personal Information Charter (opens in new tab)</a>.
          </p>   -->
        </div>
        <button class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </button>
        <div class="govuk-inset-text">
          <p class="govuk-body">
            This service is also available in <a href="manage-state-pension&welsh">Welsh (Cymraeg)</a>.
          </p>
        </div>
      </form>
    </div>
  </div>
  {% endblock %}

{% block footer %}

  {{ govukFooter({
    meta: {
      items: [
        {
          href: "idv-recreated-pages/idv-placeholder",
          text: "ID&V CODES REQUIRED (opens in new tab)",
          attributes: {
            target: "_blank"
          }
        },
        {
          href: "idv-recreated-pages/success",
          text: "SKIP ID&V SUCCESS"
        },
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}

{% endblock %}
