$govuk-new-link-styles: true;
$govuk-rebrand: true;
$govuk-new-typography-scale: true;
// dependencies from GOVUK frontend
// if this is throwing errors, check that you have govuk-frontend installed and that the load paths are correct

@import "node_modules/govuk-frontend/dist/govuk/base";
@import "node_modules/govuk-frontend/dist/govuk/objects/width-container";
@import "node_modules/govuk-frontend/dist/govuk/objects/grid";
@import "node_modules/govuk-frontend/dist/govuk/components/service-navigation";
@import "node_modules/govuk-frontend/dist/govuk/core/govuk-frontend-properties";

// end dependencies from GOVUK frontend

@import "service-header-no-imports"