{% extends "layout.html" %}

{% block pageTitle %}
  Check your details - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your details before you change how often we pay your State Pension</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
           
          </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width:40%;">
                How often do you want us to pay your State Pension?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['frequency-select'] %}
                  {{ data['frequency-select'] }}
                {% else %}
                  Every week
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                {% if data['frequency-select'] == 'Every 4 weeks (13 payments a year)' %}
                <a class="govuk-link govuk-!-font-size-19" href="change-how-often-we-will-pay-you&alt.html">
                  Change<span class="govuk-visually-hidden"> how often we pay your State Pension</span>
                </a>
                {% endif %}
                {% if data['frequency-select'] == 'Every 2 weeks' %}
                <a class="govuk-link govuk-!-font-size-19" href="change-how-often-we-will-pay-you.html">
                  Change<span class="govuk-visually-hidden"> how often we pay your State Pension</span>
                </a>
                {% endif %}
                {% if data['frequency-select'] == 'Every week' %}
                <a class="govuk-link govuk-!-font-size-19" href="change-how-often-we-will-pay-you&single.html">
                  Change<span class="govuk-visually-hidden"> how often we pay your State Pension</span>
                </a>
                {% endif %}
              </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">Submit your change</h2>
        <p class="govuk-body">You are confirming you want to change how often we pay your State Pension.</p>
        <p class="govuk-body">Your regular payment amount will change, but the total amount of State Pension you'll get each year will stay the same.</p>

        <!-- <h2 class="govuk-heading-m">Submit your new details</h2> -->
        <!-- <p class="govuk-body">By submitting this change you are confirming that the information you are giving is complete and correct.</p> -->
        <!-- <p class="govuk-body">By submitting this change, you agree:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the information you have given is complete and correct</li>
          <li>to tell the Department for Work and Pensions (DWP) straight away if your circumstances change, such as your address, bank details or marital status</li>
          <li>to pay back any State Pension if you are paid too much</li>
        </ul>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            You may be prosecuted or have to pay a financial penalty if you give wrong or incomplete information, or if you don't report any changes straight away
          </strong>
        </div> -->
        <form class="form" action="/frequency-scenario4" method="post">
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Confirm and submit
          </button>
        </form>
    </div>
  </div>

{% endblock %}
