{% extends "layout.html" %}

{% block pageTitle %}
  Do you want an email to confirm when your change has been made? - Manage your State Pension - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/email-conf-frequency2" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            {% include 'includes/want-email.html' %}
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="frequency-confirmation-yes" name="frequency-email" type="radio" value="frequency-confirmation-yes" {{ checked("frequency-email", "frequency-confirmation-yes") }}>
                <label class="govuk-label govuk-radios__label" for="frequency-confirmation-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="frequency-confirmation-no" name="frequency-email" type="radio" value="frequency-confirmation-no" {{ checked("frequency-email", "frequency-confirmation-no") }}>
                <label class="govuk-label govuk-radios__label" for="frequency-confirmation-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        
      </form>

    </div>
  </div>

{% endblock %}
