{% extends "layout_dwp_unbranded" %}

{% block pageTitle %}
How to opt out
{% endblock %}

{% block content %}

<!-- {% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      How to opt out of the Winter Fuel Payment
    </h1>
    <p>There are different ways for you to opt out of getting the Winter Fuel Payment.</p>

    <h2 class="govuk-heading-m">Use Manage your State Pension</h2>
    <p>You must be getting State Pension to use this service.</p>
    <p>It is the quickest way for us to complete your opt out request. You can also use Manage your State Pension to check your State Pension details and tell us about other changes.</p>

       <p class="govuk-body"><a
          href="/wf-opt-out/2-0/options-second">Opt out
          using Manage your State Pension</a> before 11:59pm on 20 September 2026.</p>

      <h2 class="govuk-heading-m">Use the online form</h2>
      <p>You do not need to sign in to use this form. It may take longer for us to complete your request. </p>
      <p class="govuk-body"><a
          href="https://submit.forms.service.gov.uk/preview-draft/7964/opt-out-of-winter-fuel-payment/u639RUx3">Opt out
          using the form</a> before 11:59pm on 20 September 2026.</p>
      </p>
      <br>
      <br>

   <h2 class="govuk-heading-m">Contact the Winter Fuel Payment Centre</h2>
    <p><a href="/wf-opt-out/2-0/report-a-change">Opt out by calling the helpline</a> before 6pm on 18 September 2026.</p>



    </form>
    </form>
  </div>

  {% endblock %}