{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Create a password" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{title}}</h1>

    <p class="govuk-body">
        Your password must be 8 characters or more.
    </p>

    <p class="govuk-body">
        It must include at least:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>one upper case letter</li>
      <li>one lower case letter</li>
      <li>one number</li>
      <li>one special character</li>
    </ul>

    {{ govukDetails({
      summaryText: "Which special characters can I use?",
      html: 'You can use the following special characters: @ # $ % ^ & * - _ ; ! + = [ ] { } | \ : &#39; , . ? / ` ~ " ( )'
    }) }}

    <form action="mobile" method="post">

      <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
          

        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Enter password
          </label>

          <div class="govuk-show-password__input-wrapper">
            <input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" autocomplete="off">
            {# <button class="govuk-show-password__toggle" aria-controls="password" type="button" aria-label="Show password">Show</button>
            <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span> #}
          </div>

        </div>

      </div>

      {{ govukButton({
          text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/show-password.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var passwordEl = document.querySelector('.govuk-show-password')
      var passwordModule = new window.GOVUK.Modules.ShowPassword(passwordEl)
      passwordModule.init()
    });
  </script>
{% endblock %}
