{% extends "layout.html" %}

{% block pageTitle %}
  Enter your email address - Manage your State Pension - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Enter your email address</h1>
      <p>We will only use this to send a confirmation email.</p>
      <form class="form" action="../check-your-details-contact" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="enter-email-alt">
            Email address
          </label>
          <input class="govuk-input" id="enter-email-alt" name="enter-email-alt" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "email",
            text: "Email entry show current"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}

