{% extends "layout.html" %}

{% block pageTitle %}
  Have you received a letter? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/received-letter3" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Check which changes you can report online</span>
              Have you received a letter or email to say you can manage your State Pension online?
          </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="received-letter-yes" name="received-letter" type="radio" value="Yes" {{ checked("received-letter", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="received-letter-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="received-letter-no" name="received-letter" type="radio" value="No" {{ checked("received-letter", "No") }}>
              <label class="govuk-label govuk-radios__label" for="received-letter-no">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="received-letter-no" name="received-letter" type="radio" value="No" {{ checked("received-letter", "No") }}>
              <label class="govuk-label govuk-radios__label" for="received-letter-no">
                I don't know
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

    </div>

    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <h3 class="govuk-heading-s">
        England, Scotland and Wales
      </h3>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>

      <h3 class="govuk-heading-s">
        Northern Ireland
      </h3>
      <p><a href="https://www.nidirect.gov.uk/contacts/nidirect-account-support" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
