n{% extends "layout.html" %}

{% block pageTitle %}
Cookies on Manage your State Pension - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Cookies on Manage your State Pension</h1>
    <p class="govuk-body">Cookies are small text files that we save on your phone, tablet or computer when you use this service. Some cookies on Manage your State Pension are essential and others are optional.</p>
    <p>We cannot use cookies to identify you.</p>
    <p class="govuk-body">You must have cookies enabled on your computer to use the Manage your State Pension service.</p>

			<h2 class="govuk-heading-m">If your cookies are switched off</h2>
			<p class="govuk-body">You'll see an error message when you try to use the service if your cookies are disabled.</p>
			<p class="govuk-body">How to turn cookies on depends on the <a href="https://www.whatsmybrowser.org/" class="govuk-link" target="_blank">browser you're using (opens in new tab)</a> and how up to date it is.</p>
			<p class="govuk-body">Find out how to change your settings for the most popular browsers, including:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d" class="govuk-link" target="_blank">Internet Explorer (opens in new tab)</a></li>
				<li><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer" class="govuk-link" target="_blank">Mozilla Firefox (opens in new tab)</a></li>
				<li><a href="https://support.google.com/accounts/answer/61416?hl=en" class="govuk-link" target="_blank">Google Chrome (opens in new tab)</a></li>
				<li><a href="https://support.apple.com/en-gb/guide/safari/ibrw850f6c51/16.1/mac/13.0" class="govuk-link" target="_blank">Safari (opens in new tab)</a>, commonly used on iPads, iPhones and other Apple computers</li>
			</ul>
			<p class="govuk-body">Find out <a href="http://www.aboutcookies.org/Default.aspx?page=1" class="govuk-link" target="_blank">how to manage cookies (opens in new tab)</a> for other browsers.</p>

    <h2 class="govuk-heading-l">Essential cookies</h2>
    <div class="govuk-body" id="essential_cookies_desc">
    <p>Essential cookies are needed to make the service work. If you do not want us to use them you can turn off cookies in your web browser, but the service may not work properly.</p>
    <p>We will not set any essential cookies until you start using the service.</p>
      <table class="govuk-table" aria-describedby="security_cookies_desc">
        <caption class="govuk-table__caption govuk-table__caption--m" id="security_cookies_desc">Security cookies</caption>
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Expires</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
                <tr scope="row" class="govuk-table__row">
                    <td class="govuk-table__cell">circs_session</td>
                    <td class="govuk-table__cell">To remember where you are in the service and your previous answers so you can move back and forward through the service</td>
                    <td class="govuk-table__cell">30 minutes or when you close your browser</td>
                </tr>  
                <tr scope="row" class="govuk-table__row">
                  <td class="govuk-table__cell">circs_session.t</td>
                  <td class="govuk-table__cell">To show a warning before you are signed out automatically</td>
                  <td class="govuk-table__cell">30 minutes or when you close your browser</td>
                </tr>
                <tr scope="row" class="govuk-table__row">
                    <td class="govuk-table__cell">exchange-gateway-session</td>
                    <td class="govuk-table__cell">To prove you have confirmed your identity</td>
                    <td class="govuk-table__cell">10 hours</td>
                </tr>
          </tbody>
      </table>
      <table class="govuk-table" aria-describedby="functional_cookies_desc">
        <caption class="govuk-table__caption govuk-table__caption--m" id="functional_cookies_desc">Functional cookies</caption>
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Expires</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr scope="row" class="govuk-table__row">
                <td class="govuk-table__cell">circs_consent</td>
                <td class="govuk-table__cell">Saves your cookie consent settings</td>
                <td class="govuk-table__cell">1 year</td>
            </tr>
            <tr scope="row" class="govuk-table__row">
                <td class="govuk-table__cell">Lang</td>
                <td class="govuk-table__cell">Saves your language preference</td>
                <td class="govuk-table__cell">1 year</td>
            </tr>
          </tbody>
      </table>
      <!-- <h3 class="govuk-heading-m" id="performance_cookies_desc">Performance cookies</h3>
      <table class="govuk-table" aria-describedby="performance_cookies_desc">
          <thead class="govuk-table__header">
              <tr>
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Purpose</th>
                  <th scope="col" class="govuk-table__header">Expires</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr scope="row" class="govuk-table__row">
                <td class="govuk-table__cell">Cookie 1</td>
                <td class="govuk-table__cell">Plain language description of cookie purpose</td>
                <td class="govuk-table__cell">Cookie duration</td>
            </tr>
            <tr scope="row" class="govuk-table__row">
                <td class="govuk-table__cell">Cookie 2</td>
                <td class="govuk-table__cell">Plain language description of cookie purpose</td>
                <td class="govuk-table__cell">Cookie duration</td>
            </tr>
          </tbody>
      </table> -->
    </div>
    <div class="govuk-body" id="optional_cookies_desc">
    <h2 class="govuk-heading-l">Optional cookies</h2>
    <p>Optional cookies help us to improve the service, but it will work without them. We will not use them without your permission and you can change your mind at any time.</p>
    <form action="#">
        <table class="govuk-table" aria-describedby="google_analytics_cookies_desc">
            <caption class="govuk-table__caption govuk-table__caption--m" id="google_analytics_cookies_desc">
                Analytics cookies (Google Analytics)
                <p class="govuk-body" style="margin-top: 15px;">We use Google Analytics software to collect information about how you use this service and help us make it better. We do not allow Google to use or share this data.</p>
            </caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr scope="row" class="govuk-table__row">
                    <td class="govuk-table__cell">_ga</td>
                    <td class="govuk-table__cell">Counts how many people visit the service by tracking if you've visited before</td>
                    <td class="govuk-table__cell">30 minutes or when you close your browser</td>
                </tr>
                <tr scope="row" class="govuk-table__row">
                    <td class="govuk-table__cell">_gat</td>
                    <td class="govuk-table__cell">Counts how many pages are viewed and how often</td>
                    <td class="govuk-table__cell">10 minutes</td>
                </tr>
            </tbody>
        </table>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">Can we use analytics cookies?</legend>
                <input value="" type="hidden" name="cookie_preferences_form[ga]" id="cookie_preferences_form_ga">
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="google_analytics" name="google_analytics" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="google_analytics">
                            Accept analytics cookies
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="google_analytics-2" name="google_analytics" type="radio" value="no" checked>
                        <label class="govuk-label govuk-radios__label" for="google_analytics-2">
                            Reject analytics cookies
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <button class="govuk-button">Save cookie settings</button>
    </form>
  </div>
</div>

{% endblock %}
