{% extends "layout_noback_nosignout.html" %}

{% block pageTitle %}
  We could not confirm your identity - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We could not confirm your identity</h1>
      <p class="govuk-body">
        If you need to report a change in your circumstances <a href="contact-pension-service.html">contact the Pension Service by phone or post</a>.
      </p> 
      <p class="govuk-body">
        If you live in Northern Ireland, <a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">contact the Northern Ireland Pension Centre by phone or post</a>.
      </p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/">Return to GOV.UK</a>
      </p>

    </div>
  </div>

{% endblock %}
