{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
          Complete
        </strong><br>
        Adding change of address journey
      </h1>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1682586597693/17fb52fb18524109a639f93a8eced427e1aae500?wid=0-1722945459078" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>

      <h2 class="govuk-heading-m">Version notes</h2>

      <h2 class="govuk-heading-s">Change of address</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Based on <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1682586597693/17fb52fb18524109a639f93a8eced427e1aae500?sender=u7945a63eec3e3fa9988e1807" target="_blank">workshops and ideation sessions</a>
        <li><a href="https://dwpdigital.atlassian.net/browse/RFP-3911" target="_blank">JIRA ticket for iterations</a></li>
        <li>Simple address change for citizen moving to another residential home</li>
        <li>Excluding people who move into a care home or hospital</li>
        <li>Journey for users who select an address using postcode search and manual address entry</li>
      </ul>

      <h2 class="govuk-heading-m">Additional pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>TBC</li>
      </ul>
      <!-- <h2 class="govuk-heading-s">Exceptions for change of address</h2>
      <p> Journeys for users who enter a duplicate address through address lookup and manual address entry</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://localhost:3000/contact/3-0/change-of-address/duplicate/uk-address" target="_blank"> Scenario 1 - Duplicate change of address through address lookup</a>
        <li><a href="#" target="_blank">Scenario 2 - Duplicate change of address through manual address entry</a>
      </ul>-->

      <h2 class="govuk-heading-m">Alternative pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">TODO</li>
      </ul>

      <!-- <h2 class="govuk-heading-m">Experimental design</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=""></a></li>
      </ul> -->

{% endblock %}

