{% extends "layout.html" %}

{% block pageTitle %}
  Check your details - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your details</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% if (data['other-benefits'] == "Yes") %}
          {% endif %}  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Have you already moved into this property?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="have-you-already-moved.html">
                Change<span class="govuk-visually-hidden"> if you have already moved into this property</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Is your new address in the UK?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['uk-address'] %}
                {{ data['uk-address'] }}
              {% else %}
                Yes
              {% endif %}  
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="uk-address.html">
                Change<span class="govuk-visually-hidden"> whether your new address is in the UK</span>
              </a>
            </dd>
          </div>

          {% if (data['select-an-address'] == "Select1") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Home address 
            </dt>
            <dd class="govuk-summary-list__value">
              1 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your new home address</span>
              </a>
            </dd>
          </div>
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Home address 
            </dt>
            <dd class="govuk-summary-list__value">
              1 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your new home address</span>
              </a>
            </dd>
          </div>
          {% endif %}
          
          {% if (data['select-an-address'] == "Select2") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Home address 
            </dt>
            <dd class="govuk-summary-list__value">
              84 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/matching-address-found.html">
                Change<span class="govuk-visually-hidden"> your new home address</span>
              </a>
            </dd>
          </div>
          {% endif %}

          {% if (data['select-an-address'] == "Select3") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Home address 
            </dt>
            <dd class="govuk-summary-list__value">
              11 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your new home address</span>
              </a>
            </dd>
          </div>          
          {% endif %}

          {% if (data['select-an-address'] == "Select4") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Home address 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['new-address-line-1'] }}<br>
              {{ data['new-address-line-2'] }}<br>
              {{ data['new-town-1'] }}<br>
              {{ data['county-1'] }}<br>
              {{ data['new-postcode-1'] }}<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden"> your home address</span>
              </a>
            </dd>
          </div>          
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Email address 
            </dt>
            <dd class="govuk-summary-list__value">
              test@test.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-of-address-v3/address-finder/select-an-address.html">
                Change<span class="govuk-visually-hidden">your email address</span>
              </a>
            </dd>
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Would you like to change the address where you live?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
              {% if data['send-letters'] %}
                {{ data['send-letters'] }}
              {% else %}

              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="you-are-changing-the-address-where-you-live.html">
                Change<span class="govuk-visually-hidden"> if your moving this property</span>
              </a>
            </dd>
          </div> -->
          

          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Email address for confirmation of change
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['confirmation-email'] == 'current' %}
              testemail@hotmail.co.uk
              {% elif data['confirmation-email'] == 'new' %}
                {{ data['enter-email'] }}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="email.html">
                Change<span class="govuk-visually-hidden"> email address for confirmation of change</span>
              </a>
            </dd>
          </div> -->
        </dl>


        
        <h2 class="govuk-heading-m">Submit your new details</h2>
        <p class="govuk-body">By submitting this change you are confirming that the information you are giving is complete and correct.</p>
        <!-- <p class="govuk-body">By submitting this change, you agree:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the information you have given is complete and correct</li>
          <li>to tell the Department for Work and Pensions (DWP) straight away if your circumstances change, such as your address, bank details or marital status</li>
          <li>to pay back any State Pension if you are paid too much</li>
        </ul>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            You may be prosecuted or have to pay a financial penalty if you give wrong or incomplete information, or if you don't report any changes straight away
          </strong>
        </div> -->
        <form action="/changed-residential-address3" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Confirm and submit
          </button>
        </form>
    </div>
    
  </div>
  </div>
  

{% endblock %}
{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "../2-0/check-answers.html",
            text: "Lighter declaration",
            attributes: {
              target: "_blank"
            }
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
