{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
         Complete
        </strong><br>
        Change of address- Citizen journey (SP MOP)
      </h1>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="contact-pension-service.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Jump to a page in the journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="contact-pension-service.html">Contact the Pension Service</a></li>
            <li><a href="manage-state-pension.html">Manage Your State pension</a>
            <li><a href="success-idv.html">IDV success</a>
            <li><a href="your-state-pension.html">MySP dashboard</a></li>
            <li><a href="have-you-already-moved.html">Have you already moved into this property?</a></li>
            <li><a href="report-change-after-move.html">You need to change your address once you have moved</a></li>
            <li><a href="uk-address.html">Is your new address in the UK?</a></li>
            <li><a href="you-cannot-change-your-address-online.html">You cannot change your address online</a></li>
            <li><a href="find-address.html">What is your new address?</a></li>
            <li><a href="no-address-found.html">No address found</a></li>
            <li><a href="select-an-address.html">Select an address</a></li>
            <li><a href="email-address.html">What is your email address?</a></li>
            <li><a href="check-your-details.html">Check your details</a></li>
            <li><a href="check-your-details-benefits-yes.html">Check your details - Has benefits</a></li>
            <li><a href="check-your-details-benefits-no.html">Check your details - Doesn't have benefits</a></li>
            <li><a href="you-have-changed-your-address.html">Request sent - No other benefits</a></li>
            <li><a href="you-have-changed-your-address-one-other-benefit.html">Request sent - One additional benefit</a></li>
            <li><a href="you-have-changed-your-address-other-benefits.html">Request sent - Multiple benefits</a></li>
          </ul>
          <h3 class="govuk-heading-s">Your State Pension details</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="your-state-pension.html">Your State Pension overview if status is 'Receiving State Pension'</a></li>
            <li><a href="your-state-pension&issues.html">Your State Pension overview if status is <strong>anything other than</strong> 'Receiving State Pension'</a></li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Version notes</h2>

      <h2 class="govuk-heading-s"></h2>
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li></li>
        <li></li> -->
      </ul>

      <h2 class="govuk-heading-s">Change address - Legacy</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Iteration 1</li>
        <li><a href="https://dwpdigital.atlassian.net/wiki/spaces/RBCCC/pages/133877956697/Open+The+Front+Door+OTFD+Citizen+experience+-+Change+of+address+details" target="_blank">Design documentation</a> 
        <li>Based on <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1738660491787/ff00b6b8b26b63f9fffbf7a0d44d65c5976062fe" target="_blank">workshops and ideation sessions</a>
        <li>Allowing citizens on legacy systems to make a change of address request online</li>
      </ul>

      <h2 class="govuk-heading-m">Additional pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li><a href="confirm-change-request-no-clash.html">Request sent no clash (Next payment due over 8 days away)</a></li>
        <li><a href="confirm-change-request-clash.html">Request sent with a clash (Next payment due within 8 days)</a></li> -->
      </ul>
      <!-- <h2 class="govuk-heading-s">Exceptions for change of address</h2>
      <p> Journeys for users who enter a duplicate address through address lookup and manual address entry</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://localhost:3000/contact/3-0/change-of-address/duplicate/uk-address" target="_blank"> Scenario 1 - Duplicate change of address through address lookup</a>
        <li><a href="#" target="_blank">Scenario 2 - Duplicate change of address through manual address entry</a>
      </ul>-->

      <h2 class="govuk-heading-m">Alternative pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">TODO</li>
      </ul>

      <!-- <h2 class="govuk-heading-m">Experimental design</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=""></a></li>
      </ul> -->

{% endblock %}

