{% extends "layout_noback.html" %}

{% block pageTitle %}
  Your home address has been updated - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          We will update your home address within the next 8 days
        </h1>
      </div>
      <p class="govuk-body">We have sent you a confirmation email.</p>
      <p class="govuk-body">Your home address will be updated to:</p>

      {% if (data['select-an-address'] == "Select1") %}   
      <p class="govuk-body">
        1 Square Street<br>
        York<br>
        YO3 1SQ	<br>
        {% else %}
        <p class="govuk-body">
          1 Square Street<br>
          York<br>
          YO3 1SQ	<br>
        {% endif %}
      
      {% if (data['select-an-address'] == "Select2") %}   
      <p class="govuk-body">
        84 Square Street<br>
        York<br>
        YO3 1SQ	<br>
        {% endif %}

      {% if (data['select-an-address'] == "Select3") %}   
      <p class="govuk-body">
        {{ data['new-address-line-1'] }}<br>
        {{ data['new-address-line-2'] }}<br>
        {{ data['new-town-1'] }}<br>
        {{ data['county-1'] }}<br>
        {{ data['new-postcode-1'] }}<br>
        {% endif %}

      {% if (data['select-an-address'] == "Select4") %}   
      <p class="govuk-body">
        {{ data['new-address-line-1'] }}<br>
        {{ data['new-address-line-2'] }}<br>
        {{ data['new-town-1'] }}<br>
        {{ data['county-1'] }}<br>
        {{ data['new-postcode-1'] }}<br>
        {% endif %}
        <h2 class="govuk-heading-m">What you need to do next</h2>
        <p class="govuk-body">
          You must report your change of address for any other benefits you get or have applied for. You must contact <a href="" target="_blank">the Attendance Allowance helpline (opens in new tab)</a>. 
        </p>
        <p class=govuk-body>
          If you do not report your change of address your payments may stop.
        </p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We will send you an email when we have changed your address for State Pension. This will be within the next 8 days.
        </p>

        <h2 class="govuk-heading-m">Contacting us</h2>
        <p class="govuk-body">
          You may need to contact us:
          <ul class="govuk-list govuk-list--bullet">
            <li>if you need to get in touch urgently</li>
            <li>to change the address we send letters to</li>
            <li>to find out what other changes you must report, and how to tell us about them</li>
          </ul>
        </p>
          <p class="govuk-body">You can contact:
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="contact-pension-service" target="_blank">the Pension Service (opens in new tab)</a> if you live in England, Scotland or Wales</li>
            <li><a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre" target="_blank">the Northern Ireland Pension Centre (opens in new tab)</a> if you live in Northern Ireland</li>
          </ul>
        </p>
  

      <p class="govuk-body">
        You can <a href="#">help improve this service by giving us your feedback (opens in new tab)</a>.
      </p>
      <!-- <div class="govuk-inset-text">
        <a href="../your-state-pension&updated.html" class="govuk-link">Return to your State Pension details</a>
      </div> -->
      <div class="govuk-inset-text">
      <a href="your-state-pension&updated.html">Return to your State Pension details.</a></div>

      </div>
    </div>
  </div>

<br>
  <a href="receipt-email.html">Prototype link - view receipt email</a>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
