{% extends "layout.html" %}

{% block pageTitle %}
  What type of address is it? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="type-of-address" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you get any of these benefits?
              </h1>
            </legend>
            
            <p class="govuk-body">
              Moving into a care home or hospital can affect how you need to change your address.
            </p>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="benefits-yes" name="benefits" type="checkbox" value="Yes" {{ checked("benefits", "Yes") }}> 
                <label class="govuk-label govuk-checkboxes__label" for="benefits-yes">
                  Attendance Allowance
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="benefits-yes" name="benefits" type="checkbox" value="Yes" {{ checked("benefits", "Yes") }}>
                <label class="govuk-label govuk-checkboxes__label" for="benefits-yes">
                  Disability Living Allowance (DLA)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="benefits" name="benefits" type="checkbox" value="Yes" {{ checked("benefits", "Yes") }}>
                <label class="govuk-label govuk-checkboxes__label" for="benefits-yes">
                  Pension Credit
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="benefits-yes" name="benefits" type="checkbox" value="Yes" {{ checked("benefits", "Yes") }}>
                <label class="govuk-label govuk-checkboxes__label" for="benefits-yes">
                  Personal Independence Payment (PIP)
                </label>
              </div>
              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="benefits-yes" name="benefits" type="checkbox" value="No" {{ checked("benefits", "No") }}>
                <label class="govuk-label govuk-checkboxes__label" for="benefits-no">
                  No, I do not get any of these benefits
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
