{% extends "layout.html" %}

{% block pageTitle %}
  Set up custom data, not in service - Manage your State Pension - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="index">
        <h1 class="govuk-heading-l">Enter custom data</h1>
        <p>Any fields left blank here will use default data.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
        <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Payment schedule</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="next-payment-date">
            Next payment date
          </label>
          <div id="next-payment-hint" class="govuk-hint">
            Enter as day of week, day number, month and year, e.g. Monday 9 January 2023
          </div>
          <input class="govuk-input govuk-input--width-20" id="next-payment-date" name="next-payment-date" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="following-payment-date">
            Following months payment date
          </label>
          <div id="next-payment-hint" class="govuk-hint">
            This will be used on confirmation page for user changing bank details too close to next payment.<br>Enter as day of week, day number, month and year, e.g. Monday 9 January 2023
          </div>
          <input class="govuk-input govuk-input--width-20" id="following-payment-date" name="following-payment-date" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="next-payment-amount">
            Next payment amount
          </label>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-10" id="next-payment-amount" name="next-payment-amount" type="text" spellcheck="false" aria-describedby="currency-hint">
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="payment-frequency">
            Payment frequency
          </label>
          <select class="govuk-select" id="payment-frequency" name="payment-frequency">
            <option value="Every 4 weeks">Every 4 weeks</option>
            <option value="Every 2 weeks">Every 2 weeks</option>
            <option value="Every week">Every week</option>
          </select>
        </div>
        <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Current bank details</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="current-account-holder">
            Name on the account
          </label>
          <input class="govuk-input govuk-input--width-20" id="current-account-holder" name="current-account-holder" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="current-sort-code">
            Sort code
          </label>
          <div id="sort-code-hint" class="govuk-hint">
            Must be 6 digits long
          </div>
          <input class="govuk-input govuk-input--width-10" id="current-sort-code" name="current-sort-code" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="current-account-number">
            Account number
          </label>
          <div id="account-number-hint" class="govuk-hint">
            Must be between 6 and 8 digits long
          </div>
          <input class="govuk-input govuk-input--width-20" id="current-account-number" name="current-account-number" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="current-roll-number">
            Building society roll number
          </label>
          <input class="govuk-input govuk-input--width-10" id="rcurrent-oll-number" name="current-roll-number" type="text" value="">
        </div>
        <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Contact details</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="current-address-line1">
            Address
          </label>
          <input class="govuk-input govuk-!-margin-bottom-3" id="current-address-line-1" name="current-address-line-1" type="text" value="">
          <input class="govuk-input govuk-!-margin-bottom-3" id="current-address-line-2" name="current-address-line-2" type="text" value="">
          <input class="govuk-input govuk-!-margin-bottom-3" id="current-address-line-3" name="current-address-line-3" type="text" value="">
          <input class="govuk-input govuk-input--width-10" id="current-postcode" name="current-postcode" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="current-home-phone">
            Home phone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="current-home-phone" name="current-home-phone" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="current-alt-phone">
            Alternative phone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="current-alt-phone" name="current-alt-phone" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="current-mobile-phone">
            Mobile phone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="current-mobile-phone" name="current-mobile-phone" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="current-email">
            Email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="current-email" name="current-email" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="show-letter-format">
            Show alternative format for letters?
          </label>
          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="show-letter-format-yes" name="show-letter-format" type="radio" value="yes" data-aria-controls="conditional-letter"  {{ checked("show-letter-format", "yes") }}>
              <label class="govuk-label govuk-radios__label" for="show-letter-format-yes">
                Yes
              </label>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-letter">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="letter-format">
                    Alternative format for letters
                  </label>
                  <select class="govuk-select" id="letter-format" name="letter-format">
                    <option value="Large print">Large print</option>
                    <option value="Braille">Braille</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="show-letter-format-no" name="show-letter-format" type="radio" value="no"  {{ checked("show-letter-format", "no") }}>
              <label class="govuk-label govuk-radios__label" for="show-letter-format-no">
                No
              </label>
            </div>
          </div>
        </div>
        <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
        <button class="govuk-button" data-module="govuk-button">
          Set this data
        </button>

      </form>

    </div>
  </div>

{% endblock %}
