{% extends "layout.html" %}

{% block pageTitle %}
  Your State Pension - Manage your State Pension - GOV.UK
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your State Pension</h1>
      <h2 class="govuk-heading-m">Payment schedule</h2>
      <p class="govuk-body">
        <a href="https://www.gov.uk/contact-pension-service">Contact the Pension Service</a> if there is a problem with your payment.
      </p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:15px;">
          <dt class="govuk-summary-list__key">
            Next payment date
          </dt>
          <dd class="govuk-summary-list__value">
            Not available
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next payment amount
          </dt>
          <dd class="govuk-summary-list__value">
            Not available
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment frequency
          </dt>
          <dd class="govuk-summary-list__value">
            Every 4 weeks
          </dd>
        </div>
      </dl>
      
    
      <h2 class="govuk-heading-m">Bank details</h2>
      <p class="govuk-body">
        You can only change your bank details online when your payment schedule is available.
      </p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:15px;">
          <dt class="govuk-summary-list__key">
            Name on the account
          </dt>
          <dd class="govuk-summary-list__value">
            M Jones
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            547698
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            98765409
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
      </dl>
      
      <h2 class="govuk-heading-m">Contact details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:15px;">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            123 Square Street<br>
            York<br>
            YO3 1SQ
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home phone number
          </dt>
          <dd class="govuk-summary-list__value">
            01904 4461056
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alternative phone number
          </dt>
          <dd class="govuk-summary-list__value">
            01904 4461056
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile phone number
          </dt>
          <dd class="govuk-summary-list__value">
            077123 45678
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            email@me.co.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alternative format for letters
          </dt>
          <dd class="govuk-summary-list__value">
            Large print
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">
        If you need to tell us about other changes
      </h2>
      <p class="govuk-body">
        To report other changes, like a change of address, <a href="https://www.gov.uk/contact-pension-service">contact the Pension Service</a>. 
      </p>
    </div>
    </div>
  </div>

{% endblock %}
