
{% extends "layout_signed_in.html" %}
{% set pageName = "Do you or your partner have money in any of these?" %}

{% block pageTitle %}
  Check your details - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/get-smi-support1" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
              {{pageName}}
          </h1>
          </legend>
          <div class="govuk-hint">
              Select all options that are relevant to you both.
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes" name="capitalTypes" type="checkbox" value="bank and building society accounts">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes">
                  Bank or building society accounts<br>
                  <span class="govuk-hint">Such as current accounts, savings accounts, and deposit accounts.</span>
                  </label>
              </div>
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes-2" name="capitalTypes" type="checkbox" value="credit union and Post Office accounts">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes-2">
                  Credit union or Post Office accounts<br>
                  <span class="govuk-hint">Such as current accounts, savings accounts, and deposit accounts.</span>

                  </label>
              </div>
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes-" name="capitalTypes" type="checkbox" value="ISAs">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes-">
                      Individual Savings Accounts (ISAs)<br>
                      <span class="govuk-hint">Including cash ISAs, Lifetime ISAs, stocks and shares ISAs, and innovative finance ISAs.</span>

                  </label>
              </div>
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes-4" name="capitalTypes" type="checkbox" value="cash at home or somewhere else">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes-4">
                  Cash at home or somewhere else<br>
                  </label>
              </div>
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes-5" name="capitalTypes" type="checkbox" value="Premium Bonds or other NS&I products">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes-5">
              Premium Bonds or other National Savings and Investment (NS&I) products<br>
                  </label>
              </div>
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes-6" name="capitalTypes" type="checkbox" value="income bonds or capital bonds">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes-6">
                Income bonds or capital bonds
                  </label>
              </div>

              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes-7" name="capitalTypes" type="checkbox" value="outside the UK in cash, investments or accounts">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes-7">
                      Outside the UK, in cash, investments or accounts<br>
                  </label>
              </div>
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes-8" name="capitalTypes" type="checkbox" value="shares">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes-8">
                  Shares
                  </label>
              </div>
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes-9" name="capitalTypes" type="checkbox" value="unit trusts">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes-9">
                  Unit trusts
                  </label>
              </div>
              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes-10" name="capitalTypes" type="checkbox" value="other accounts and investments">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes-10">
                  Other accounts and investments
                  </label>
              </div>


              <div class="govuk-checkboxes__divider">or</div>

              <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="capitalTypes-none" name="capitalTypes" type="checkbox" value="none" data-behaviour="exclusive">
                  <label class="govuk-label govuk-checkboxes__label" for="capitalTypes-none">
                  None of these
                  </label>
              </div>
          </div>
      </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
      </button>

      </form>

  </div>
</div>

{% endblock %}

