{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Have you already moved into this property? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/perm-temp2" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you plan to move out before 28 February 2026?
              </h1>
            </legend>

            <p class="govuk-body">
              If you plan to move out in less than 6 months, you should update the address we send your letters to.
            </p>

            <p class="govuk-body">
              If you are planning to stay at your new property for over 6 months, this is deemed a permanent address which could affect how much Pension Credit you're entitled to.
            </p>

            <p class="govuk-body">
              You will need to inform Pension Credit of this change once you have changed your address with State Pension.
            </p>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="perm-or-temp" name="perm-or-temp" type="radio" value="Yes" {{ checked("perm-or-temp", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="perm-or-temp">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="perm-or-temp" name="perm-or-temp" type="radio" value="No" {{ checked("perm-or-temp", "No") }}>
                <label class="govuk-label govuk-radios__label" for="perm-or-temp">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
