
{% extends "layouts/ol_test.html" %}




{% set homepageLink = "https://bbc.co.uk/" %}

{% set navigation = [
  {
    href: "#nav1",
    text: "Navigation item 1"
  },
  {
    href: "#nav2",
    text: "Navigation item 2",
    active: true
  },
  {
    href: "#nav3",
    text: "Navigation item 3"
  }
]
%} 

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service — <a class='govuk-link' href='#'>your feedback will help us to improve it (opens in new tab)</a>
      </span>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
<div class="govuk-grid-column-one-third" style="float:right;">
  {{
    hmrcLanguageSelect({
      language: 'en',
      en: {
        href: '?en'
      },
      cy: {
        href: '?cy'
      }
    })
  }}
</div>
</div>
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you already moved into this property?
            </h1>
          </legend>
          <!-- <div id="contact-hint" class="govuk-hint">
            Select one option
          </div> -->
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="date-moved">
                  Date you moved
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="date-moved" name="dateMoved" type="dob" spellcheck="false" autocomplete="date-of-birth">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                No
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Phone number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
  </div>
</div>

{% endblock %}