{% extends "layout.html" %}

{% block pageTitle %}
   You need to change your address once you have moved - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">
        
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        
          <h1 class="govuk-fieldset__heading">
            Which best describes the place where you live?
          </h1>
        
        </legend>
        
      
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="groundRent-3" name="groundRent" type="radio" value="I do not own my home">
          <label class="govuk-label govuk-radios__label" for="groundRent-3">
            You own it
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="groundRent-3" name="groundRent" type="radio" value="I do not own my home">
          <label class="govuk-label govuk-radios__label" for="groundRent-3">
            You rent it
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="groundRent-3" name="groundRent" type="radio" value="I do not own my home">
          <label class="govuk-label govuk-radios__label" for="groundRent-3">
            You rent it and own it (Shared ownership)
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="groundRent-3" name="groundRent" type="radio" value="I do not own my home">
          <label class="govuk-label govuk-radios__label" for="groundRent-3">
            You live in a caravan, houseboat or mobile home
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="groundRent-3" name="groundRent" type="radio" value="I do not own my home">
          <label class="govuk-label govuk-radios__label" for="groundRent-3">
            You live in someone else's home without paying towards the rent or mortgage
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="groundRent-3" name="groundRent" type="radio" value="I do not own my home">
          <label class="govuk-label govuk-radios__label" for="groundRent-3">
            You live in a care home
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="groundRent-3" name="groundRent" type="radio" value="I do not own my home">
          <label class="govuk-label govuk-radios__label" for="groundRent-3">
            You live in a hospital
          </label>
        </div>
      </div>
    </fieldset>
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </div>
</form>
<div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-m">
    Get help
  </h2>
  <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
</div>
</div>
{% endblock %}
