{% extends "layout.html" %}

{% block pageTitle %}
  Your bank details - Manage your State Pension - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your bank details</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name on the account
          </dt>
          <dd class="govuk-summary-list__value">
            Mrs R Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            547698
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            98765409
          </dd>
        </div>
      </dl>
      <form class="form" action="/change" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="change-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-heading-m">
                Do you want to change your bank details?
              </h2>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="change-bank" name="change-bank" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="change-bank">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="change-bank-no" name="change-bank" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="change-bank-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
