{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your email - GOV.UK One Login
{% endblock %}



{% block beforeContent %}
{% include "/includes/phase-banner.njk" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/authentication/sign-in/change-security-codes/choose-security-code" method="post">

      <h1 class="govuk-heading-l">Check your email</h1>

      <p class="govuk-body">We need to make sure this is your GOV.UK One Login before you can change how you get security codes.</p>

      <div class="govuk-inset-text">We have sent an email to: <span class="govuk-body govuk-!-font-weight-bold permit-reflow">email@address.com</span></div>

      <p class="govuk-body">The email contains a 6 digit security code. After you enter the code, you'll be able to change how you get security codes when you sign in.</p>

      <p class="govuk-body">Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>

      <p class="govuk-body">The code will expire after 15 minutes.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="code">
            Enter the 6 digit security code
        </label>
        <input class="govuk-input govuk-input--width-10" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">
    </div>
 
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Problems with the code?
        </span>
      </summary>
      <div class="govuk-details__text">
        
        <p class="govuk-body">
          We can <a href="/authentication/sign-in/change-security-codes/resend-code" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">send the code again</a> if the code is not working or you did not receive it.
         
        </p>
        
      </div>
    </details>

      </form>
    </div>
  </div>
</main>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-!-padding-bottom-3"></div>

<div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Prototype options
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">You can:</p>
    <p class="govuk-body">
      <a href="/authentication/sign-in/emails/security-code-email" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">view security code email (opens in new tab)</a>
    </p>
  </div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

</div>
</div>

{% endblock %}
