{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to remove? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/remove-mobile-number4" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you want to remove this mobile phone number?
              </h1>
            </legend>
            <div class="govuk-inset-text">
              {% if data['new-mobile-phone'] %}
                {{ data['new-mobile-phone'] }}
              {% endif %}
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="mobile-phone-remove-yes" name="remove-mobile-phone" type="radio" value="Yes" {{ checked("remove-mobile-phone", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="home-phone-remove-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="mobile-phone-remove-no" name="remove-mobile-phone" type="radio" value="No" {{ checked("remove-mobile-phone", "No") }}>
                <label class="govuk-label govuk-radios__label" for="mobile-phone-remove-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
