{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Check your answers about how we contact you - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">How we contact you</span>
      <h1 class="govuk-heading-l">Check your answers about how we contact you</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Email we will use
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['new-email'] %}
                {{ data['new-email'] }}
              {% else %}
                adam@dwp.gov.uk
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="">
                Change<span class="govuk-visually-hidden"> email address</span>
              </a>
            </dd>
          </div>
        </dl>
        
     
        <form method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
    </div>
  </div>

{% endblock %}
{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "../2-0/check-answers.html",
            text: "Lighter declaration",
            attributes: {
              target: "_blank"
            }
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
