{% extends "layout.html" %}

{% block pageTitle %}
Contact the pension service to change your address - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/update-residential1" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Contact the pension service to change your address
              </h1>
            </legend>


            <p class="govuk-body">
              You have not changed your address.  <a href="https://www.gov.uk/report-benefits-change-circumstances">Contact the Pension Service by phone or post</a> to change the address where you live and the address you would like us to use to send you letters.
            </p>         
          </div>
          <div class="govuk-inset-text">
            <a href="../your-state-pension.html" class="govuk-link">Return to your State Pension details</a>
          </div>   
      </form>

    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
