{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
         Completed
        </strong><br>
        Change of bank details - Citizen journey (SP MOP)
      </h1>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="contact-pension-service.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Jump to a page in the journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="contact-pension-service.html">Contact the Pension Service</a></li>
            <li><a href="manage-state-pension.html">Manage Your State pension</a>
            <li><a href="success-idv.html">IDV success</a>
            <li><a href="your-state-pension.html">MySP dashboard</a></li>
            <li><a href="can-we-pay.html">We might send your next payment to your old account</a></li>
            <li><a href="call-us.html">If you need your next payment to be paid into your new account</a></li>
            <li><a href="uk-account.html">Do you want to use a UK bank or building society account?</a></li>
            <li><a href="can-only-use-uk-account.html">You can only use this service with a UK bank or building society account</a></li>
            <li><a href="bank-or-building-society-details.html">Where would you like us to pay your State Pension?</a></li>
            <li><a href="email-address.html">What is your email address?</a></li>
            <li><a href="check-your-details.html">Check your details before you submit them</a></li>
            <li><a href="confirm-change-request.html">Request sent</a></li>
            <li><a href="receipt-email.html">Receipt email</a></li>
            <li><a href="your-state-pension-in-progress.html">MySP dashboard in progress</a></li>
          </ul>
          <h3 class="govuk-heading-s">Your State Pension details</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="your-state-pension.html">Your State Pension overview if status is 'Receiving State Pension'</a></li>
            <li><a href="your-state-pension&issues.html">Your State Pension overview if status is <strong>anything other than</strong> 'Receiving State Pension'</a></li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Version notes</h2>

      <h2 class="govuk-heading-s"></h2>
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li></li>
        <li></li> -->
      </ul>

      <h2 class="govuk-heading-s">Change bank account details - Legacy</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Iteration 2</li>
        <li><a href="https://dwpdigital.atlassian.net/wiki/spaces/RBCCC/pages/133812977705/Open+The+Front+Door+OTFD+Agent+Experience+-+Change+bank+account" target="_blank">Design documentation</a> 
        <li>Based on <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1733327114919/54caca267b60f272d9d480f11ccdf2f9ca3b7742" target="_blank">workshops and ideation sessions</a>
        <li>Allowing citizens on legacy systems to make a change of bank account request online</li>
      </ul>

      <h2 class="govuk-heading-m">Additional pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="confirm-change-request-no-clash.html">Request sent no clash (Next payment due over 8 days away)</a></li>
        <li><a href="confirm-change-request-clash.html">Request sent with a clash (Next payment due within 8 days)</a></li>
      </ul>
      <!-- <h2 class="govuk-heading-s">Exceptions for change of address</h2>
      <p> Journeys for users who enter a duplicate address through address lookup and manual address entry</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://localhost:3000/contact/3-0/change-of-address/duplicate/uk-address" target="_blank"> Scenario 1 - Duplicate change of address through address lookup</a>
        <li><a href="#" target="_blank">Scenario 2 - Duplicate change of address through manual address entry</a>
      </ul>-->

      <h2 class="govuk-heading-m">Alternative pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">TODO</li>
      </ul>

      <!-- <h2 class="govuk-heading-m">Experimental design</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=""></a></li>
      </ul> -->

{% endblock %}

