{% extends "layout.html" %}

{% block pageTitle %}
  Do you want to use a UK bank or building society account? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="when-did-you-start-receiving-your-state-pension" method="post">

            <!--page heading with caption include-->
            {% set pageHeadingH1 %}
            <span class="govuk-caption-l">
                Confirm your identity
            </span>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  On what day of the week is your state pension paid?
                </h1>
              </legend>
            {% endset %}

            {{ govukRadios({
            idPrefix: "day-of-the-week-state-pension-is-paid",
            name: "day-of-the-week-state-pension-is-paid",
            fieldset: {
                legend: {
                    html: pageHeadingH1,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "Select the day your state pension is usually paid. You don’t need to tell us about times when you were paid on a different day. For example, if your payment fell on a bank holiday. "
            },
            items: [
                {
                    value: "monday",
                    text: "Monday"
                },
                {
                    value: "tuesday",
                    text: "Tuesday"
                },
                {
                    value: "wednesday",
                    text: "Wednesday"
                },
                {
                    value: "thursday",
                    text: "Thursday"
                },
                {
                    value: "friday",
                    text: "Friday"
                },
                {
                    value: "dont-know",
                    text: "Don't know"
                }
            ]
            }) }}

            {{ govukDetails({
            summaryText: "I do not have this information now",
            html: detailsTextHtml | safe
            }) }}


            {{ govukButton({
                text: "Continue"
            }) }}

            <p><a href={{ skipQuestionUrl }}>I cannot answer this question</a></p>
    </form>
  </div>
</div>


{% endblock %}
