{% extends "layout.html" %}

{% block pageTitle %}
  You cannot use this service - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            You need to call us if you need your next payment to be paid into your new account
          </h1>
          <p class="govuk-body">
            It may take us up to 8 days to change your payment details online.
          </p>  
          <p class="govuk-body">
            This means that we cannot guarantee that your next payment will be paid into your new account.
          </p>  
          <h2 class="govuk-heading-m">
            If you need your next payment to be paid into your new account
          </h2>
          <p class="govuk-body">
            So that we can help you as quickly as possible, you should call us on <strong>0800 731 0469</strong>.
          </p>  
          <h2 class="govuk-heading-m">
            If you are happy for us to pay your next payment into your old account
          </h2>
          <p class="govuk-body">
            You can <a href="uk-account">continue to provide your new account details</a> and we will update your account details within the next 8 days.
          </p>  
          <a href="your-state-pension">Go back to your State Pension details</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
