{% extends "layout.html" %}

{% block pageTitle %}
  You may need to call us - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            We may not be able to change your bank details in time for your next payment
          </h1>
          <p class="govuk-body">
            We will send your next payment on Friday 17th January 2025.
          </p>
          <p class="govuk-body">
            It may take us up to 8 days to update your payment details. This means we may send your next payment to your old account. We will then send future payments to your new account.
          </p>
          <h2 class="govuk-heading-m">
            If you are happy for us to pay your next payment into your old account
          </h2>
          <p class="govuk-body">
            You can <a href="uk-account">continue to provide your new account details</a> and we will update your account details within the next 8 days.
          </p>  

          <h2 class="govuk-heading-m">
            If you need your next payment to be paid into your new account
          </h2>
          <p class="govuk-body">
            Call us on <strong>0800 731 0469</strong> so that we can help you as quickly as possible.
          </p>  

          <a href="your-state-pension">Go back to your State Pension details</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
