{% extends "layout.html" %}

{% block pageTitle %}
  You cannot use this service - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            You need to call us
          </h1>
          <p class="govuk-body">
            It may take us up to 8 days to change your payment details online.
          </p>  
          <p class="govuk-body">
            So that we can help you as quickly as possible, you should call us on <strong>0800 731 0469</strong>.
          </p>  
          <a href="your-state-pension">Go back to your State Pension details</a>
        </div>

      </form>
      <p class="govuk-body">
        <a href="https://www.gov.uk/">Return to GOV.UK</a>
      </p>
    </div>
  </div>

{% endblock %}
