{% extends "layout.html" %}

{% block pageTitle %}
Can we pay your next payment into your old account? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/can-we-pay" method="post">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              We may not be able to change your bank details in time for your next payment
            </h1>
          </legend>
          <p class="govuk-body">We will send your next payment on Friday 17th January 2025. </p>
          <p class="govuk-body">It may take us up to 8 days to update your payment details. This means we may send your next payment to your old account. We will then send future payments to your new account.</p>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
             Can we send your next payment to your old account? 
            </h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="can-we-pay" name="can-we-pay" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="can-we-pay">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="can-we-pay" name="can-we-pay" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="can-we-pay">
              No, I need the next payment to be sent to my new account
              </label>
            </div>
          
          </div>
        </fieldset>
      </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
   

{% endblock %}
