
{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Second iteration of change payment frequency
      </h1>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="manage-state-pension.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Jump to a page in the journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Pre OIDV</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="manage-state-pension.html">Mock GOV.UK start page</a></li>
            <li><a href="how-did-you-find-the-service.html">How did you find out about this service?</a></li>
            <li><a href="privacy-notice.html">Privacy notice</a></li>
            <li><a href="cannot-use-service.html">You cannot use this service yet</a></li>
          </ul>
          <h3 class="govuk-heading-s">Your State Pension details</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="your-state-pension.html">Your State Pension overview if status is 'Receiving State Pension'</a></li>
            <li><a href="your-state-pension&issues.html">Your State Pension overview if status is <strong>anything other than</strong> 'Receiving State Pension'</a></li>
          </ul>
          <h3 class="govuk-heading-s">Bank details change</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="do-you-want-uk-account.html">Do you want to use a UK bank or building society account?</a></li>
            <li><a href="can-only-use-uk-account.html">You can only use this service with a UK bank or building society account</a></li>
            <li><a href="bank-or-building-society-details.html">Enter new bank details</a></li>
            <li><a href="check-your-details.html">Check your answers for bank details</a></li>
            <li><a href="you-have-changed-your-bank-details.html">Bank details changed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Payment frequency change</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="how-often-would-you-like-to-be-paid.html">Select payment frequency</a></li>
            <li><a href="check-your-details&frequency.html">Check your answers for payment frequency</a></li>
            <li><a href="frequency-confirmations/you-have-changed-your-payment-frequency&2-current-letter.html">Payment frequency changed - current letter wording</a></li>
            <li><a href="frequency-confirmations/you-have-changed-your-payment-frequency&2.html">Payment frequency changed - new deferral letter wording</a></li>
          </ul>
          <h3 class="govuk-heading-s">Get help</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="contact-pension-service.html">Get help - iterated version of GOV.UK contact Pension Service page</a></li>
            <li><a href="contact-pension-service&welsh.html">Get help Welsh version - iterated version of Welsh GOV.UK contact Pension Service page</a></li>
          </ul>
        </div>
      </details>
      <h2 class="govuk-heading-m">Version notes</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Based on <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1685006608132/c152f6e4b8ac623e7b9339e7da329f2a48e7fd90?sender=uf82923922d15a170bcd51219" target="_blank">feedback from second round of UR</a> - Tuesday 13 June to Thursday 15 June 2023 2023</li>
        <li>Changes to be tested in third round of testing, face-to-face interviews on 29 June 2023</li>
        <li><a href="https://dwpdigital.atlassian.net/browse/RBCCC-631" target="_blank">JIRA ticket for iterations</a></li>
        <li>Added NI privacy charter link to privacy notice page</li>
        <li>Added back link out to OIDV registration and verification journey so we can test with users</li>
        <li>Removed correspondence address from overview, will add back in future to test specifically with users who have different addresses in their account</li>
        <li>Updated contact Pension Service page to reflect the latest draft proposed by GOV.UK - this draft splits the contact page into 3 separate pages covering overall pension info, claiming SP and reporting changes</li>
        <li>Added an extra GOV.UK style page to cover our need of having the contact route for accessing the online helpdesk available on GOV.UK</li>
        <li>Add an additional option as a radio button for users to select if they want to keep their current frequency - this is to address the 1 user who was unsure what to do if they didn't want to change their frequency, and to see if it clarifies that these are all of the frequency options available</li>
        <li>Added a declaration to the check answers page that is more appropriate to the change of frequency - still awaiting policy decision on whether a declaration is needed here and what it should cover, so feedback on will support further discussion</li>
      </ul>

      <h2 class="govuk-heading-m">Payment frequency confirmation of change scenarios</h2>
      <p>The content given to users at confirmation will depend on how close they are to their next payment, whether the payment due will be their first SP payment, and whether they will require a part payment to get onto the right schedule. All scenarios linked from the grey footer of each confirmation page.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="frequency-confirmations/you-have-changed-your-payment-frequency&1.html">Scenario 1 - User has a payment due in the next 7 days which is their first payment</a></li>
        <li><a href="frequency-confirmations/you-have-changed-your-payment-frequency&2.html">Scenario 2 - User has a payment due in the next 7 days which is NOT their first payment</a></li>
        <li><a href="frequency-confirmations/you-have-changed-your-payment-frequency&3.html">Scenario 3 - User does not have a payment due in the next 7 days and the next payment is their first payment</a></li>
        <li><a href="frequency-confirmations/you-have-changed-your-payment-frequency&4.html">Scenario 4 - User does not have a payment due in the next 7 days and the next payment is NOT their first payment</a></li>
        <li><a href="frequency-confirmations/you-have-changed-your-payment-frequency&5.html">Scenario 5 - User not have a payment due in the next 7 days, the next payment is their first payment, and the new frequency can be applied from the first payment date without needing a part payment</a></li>
        <li><a href="frequency-confirmations/you-have-changed-your-payment-frequency&6.html">Scenario 6 - User does not have a payment due in the next 7 days, the next payment is NOT their first payment, and the new frequency can be applied from the next cycle without needing a part payment</a></li>
      </ul>

      <h2 class="govuk-heading-m">Alternative journey - only 1 frequency option available</h2>
      <p>Users must meet specific criteria to be able to change to 2 weekly payments. For those who do not meet the criteria, they will currently only be given 1 option to change to.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="would-you-like-to-be-paid-every-week.html">Change frequency page for users who only have one option available</a></li>
        <li><a href="payment-frequency-not-changed.html">User says no to their one option available</a></li>
      </ul>

      <h2 class="govuk-heading-m">Unhappy path pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="your-state-pension&amp;issues.html">Your State Pension account playback if status is <strong>anything other than</strong> 'Receiving State Pension'</a></li>
      </ul>

      <!-- <h2 class="govuk-heading-m">Experimental sandbox</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">ToDo</a></li>
      </ul> -->

{% endblock %}
