{% extends "layout.html" %}

{% block pageTitle %}
  Your State Pension account - Manage your State Pension - GOV.UK
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your State Pension account</h1>
      <h2 class="govuk-heading-m">Payment schedule</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next payment date
          </dt>
          <dd class="govuk-summary-list__value">
            Friday 24 December 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next payment amount
          </dt>
          <dd class="govuk-summary-list__value">
            £162.68
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment frequency
          </dt>
          <dd class="govuk-summary-list__value">
            Every 4 weeks
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Bank details</h2>
      <p class="govuk-hint">We received a change to your bank details Wednesday 14 December 2022. Lead time message?</p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name on the account
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="bank-change-1.html">
              Change<span class="govuk-visually-hidden"> account State Pansion is paid into</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            123456
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            12345678
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Contact details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            55 Main Street<br>
            Guildford<br>
            GU79 6YW
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home phone number
          </dt>
          <dd class="govuk-summary-list__value">
            0191 4461056
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alternative phone number
          </dt>
          <dd class="govuk-summary-list__value">
            0191 4461056
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile phone number
          </dt>
          <dd class="govuk-summary-list__value">
            077123 45678
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            email@me.co.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alternative format for letters
          </dt>
          <dd class="govuk-summary-list__value">
            Large print
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">
        If you need to tell us about changes
      </h2>
      <p class="govuk-body">
        You can report a change to your bank details in this online service.
      </p>
      <p class="govuk-body">
        If you need to report other changes, like a change of address, <a href="https://www.gov.uk/contact-pension-service">contact the Pension Service</a>. 
      </p>
    </div>
    </div>
  </div>

{% endblock %}
