n{% extends "layout.html" %}

{% block pageTitle %}
Accessibility statement for Manage your State Pension - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Accessibility statement for Manage your State Pension</h1>
    <p class="govuk-body">This service is part of the wider GOV.UK website. There's a separate <a href="https://www.gov.uk/help/accessibility-statement">accessibility statement for the main GOV.UK website</a>.</p>
    <p class="govuk-body">This statement only applies to the Manage your State Pension service, available at <a href="https://manage-state-pension.service.gov.uk"> https://manage-state-pension.service.gov.uk</a></p>
    <h2 class="govuk-heading-m">Using this service</h2>
    <p class="govuk-body">This service is run by Department for Work and Pensions. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>get from the start of the service to the end using just a keyboard</li>
        <li>get from the start of the service to the end using speech recognition software</li>
        <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We've also made the text in the service as simple as possible to understand.</p>
    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
    <h2 class="govuk-heading-m">How accessible this service is</h2>
    <p class="govuk-body">This service uses common styles, patterns and components from the GOV.UK Design System which are widely regarded as accessible.</p>
    <p class="govuk-body">We know some parts of this service are not fully accessible.</p>
    <p class="govuk-body">If the user does not do anything for [##] minutes, a modal dialog opens to warn the user they are about to be signed out. This modal dialog uses dynamic text that counts down to zero. When using the Hover Text feature of macOS, this text does not appear in the text entry location. This is because the text is marked up in a way to stop a screen reader reading it aloud every second.</p>
    
    <!-- <h2 class="govuk-heading-m">Feedback and contact information 1</h2>
    <p class="govuk-body">If you need help using this service, <a href="contact-pension-service.html" target="_blank">contact the DWP Online Helpdesk</a>. [WHAT CAN WE CALL THIS NUMBER]</p>
    <p class="govuk-body">If you need to report a change by phone or post, <a href="contact-pension-service.html" target="_blank">contact the Pension Service</a>.</p>
    <p class="govuk-body">If you live in Northern Ireland, <a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">contact the Northern Ireland Pension Centre</a>.</p>
    <p class="govuk-body">As part of providing this service, we may need to send you messages or documents. We'll ask you how you want us to send messages or documents to you, but contact us if you need them in a different format. For example large print, audio recording or braille.</p>
     --><h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p class="govuk-body">As part of this service, we may need to send you messages or documents. We can provide them in a different format, for example large print, audio recording or braille.</p>
    <p class="govuk-body">We provide a text relay service for people who are deaf, hearing impaired or have a speech impediment.</p>
    <p class="govuk-body">We can provide a British Sign Language (BSL) or Irish Sign Language (ISL) interpreter if you use the video relay service.</p>
    <p class="govuk-body">To find out more:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="contact-pension-service.html" target="_blank">contact the Pension Service (opens in new tab)</a>, if you live in England, Scotland or Wales</li>
      <li><a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre" target="_blank">contact the Northern Ireland Pension Centre (opens in new tab)</a>, if you live in Northern Ireland</li>
  </ul>
  <!-- <h2 class="govuk-heading-m">Feedback and contact information 3</h2>
    <p class="govuk-body">If you need State Pension information in a different format, for example, large print, audio recording or braille:</p>
    <h3 class="govuk-heading-s">If you live in England, Scotland or Wales</h3>
    <p class="govuk-body"><a href="contact-pension-service.html" target="_blank">Contact the Pension Service</a>.</p>
    <h3 class="govuk-heading-s">If you live in Northern Ireland</h3>
    <p class="govuk-body"><a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">Contact the Northern Ireland Pension Centre</a>.</p>
     --><h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
    <p class="govuk-body">We're always looking to improve the accessibility of this service. If you find any problems that are not listed on this page or think we're not meeting accessibility requirements, you can <a href="https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact" target="_blank">report an accessibility problem (opens in new tab)</a>.</p>
  <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').</p>
    <p class="govuk-body">If you're not happy with how we respond to your complaint:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>, if you live in England, Scotland or Wales</li>
      <li><a href="https://www.equalityni.org/Home">contact the Equality Commission for Northern Ireland (ECNI)</a>, if you live in Northern Ireland</li>
  </ul>
    <!-- <h2 class="govuk-heading-m">Different ways to contact us</h2>
    <p class="govuk-body">We provide a text relay service for people who are deaf, hearing impaired or have a speech impediment.</p>
    <p class="govuk-body">We can provide a British Sign Language (BSL) or Irish Sign Language (ISL) interpreter if you use the <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">video relay service</a>.</p>
    <p class="govuk-body">Find out <a href="contact-pension-service.html" target="_blank">how to contact us</a>.</p>
     --><h2 class="govuk-heading-m">Technical information about this service's accessibility</h2>
    <p class="govuk-body">The Department for Work and Pensions is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
  <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>.</p>
  <!-- <p class="govuk-body">This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to [insert one of the following: ‘the non-compliances’, ‘the exemptions’ or ‘the non-compliances and exemptions’] listed below.</p>
  <h2 class="govuk-heading-m">Non-accessible content</h2>
  <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
  <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
  <p class="govuk-body">[Note: In this subsection, list:

    accessibility problems
    which of the WCAG 2.1 AA success criteria the problem fails on
    when you plan to fix the problem
    Do not include any problems where you’re claiming disproportionate burden, or where the problem is outside the scope of the accessibility regulations (those should go in the subsections below).]</p>
<h3 class="govuk-heading-s">Disproportionate burden</h3>
  <p class="govuk-body">[Note: in this subsection list accessibility problems you’re claiming would be a disproportionate burden to fix

        Bear in mind that something which is a disproportionate burden now will not necessarily be a disproportionate burden forever. If the circumstances change, your ability to claim disproportionate burden may change too.]</p>
     --><!-- <ol class="govuk-list govuk-list--number">
    <li>REASON 1</li>
    <li>REASON 2</li>
  </ol> --> 
     <!-- <p class="govuk-body">This website is not compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>. The [insert one of the following: ‘non-compliances’, ‘exemptions’ or ‘non-compliances and exemptions’] are listed below.</p>
    <h2 class="govuk-heading-m">Non accessible content</h2>
    <p class="govuk-body">[Note: if the service is fully compliant with the WCAG 2.1 AA standard, you can leave the ‘Non accessible content’ section out.

        <br>Otherwise, don’t change the ’Non accessible content’ heading or the ‘The content listed below is non-accessible for the following reasons’ sentence - they’re legally required.
        
        <br>Do not change the ‘Non compliance with the accessibility regulations’, ‘Disproportionate burden’ and ‘Content that’s not within the scope of the accessibility regulations’ subheadings: they’re also legally required.
        
        <br>But if you need to list a lot of problems, you can break these subsections up with further subheadings - for example, ‘Navigation and accessing information’ or ‘Interactive tools and transactions’.]</p>
    <h3 class="govuk-heading-s">Non compliance with the accessibility regulations</h2>
    <p class="govuk-body">[Note: In this subsection, list:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>accessibility problems</li>
        <li>which of the WCAG 2.1 AA success criteria the problem fails on</li>
        <li>when you plan to fix the problem</li>
      </ul>
    <p class="govuk-body">Do not include any problems where you’re claiming disproportionate burden, or where the problem is outside the scope of the regulations (those should go in the subsections below).]</p>
    <h3 class="govuk-heading-s">Disproportionate burden</h3>
    <p class="govuk-body">[Note: in this subsection list accessibility problems you’re claiming would be a disproportionate burden to fix

      Bear in mind that something which is a disproportionate burden now will not necessarily be a disproportionate burden forever. If the circumstances change, your ability to claim disproportionate burden may change too.]</p>
    <h3 class="govuk-heading-s">Content that’s not within the scope of the accessibility regulations</h3>
    <p class="govuk-body">[Note: in this subsection list accessibility problems that fall outside the scope of the accessibility regulations.]</p>
     --><h2 class="govuk-heading-m">What we're doing to improve accessibility</h2>
    <p class="govuk-body">We will continue to iterate the design of the service and continue to manually test the service against the WCAG 2.1 standard.</p>
    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was prepared on [DATE when it was first published]. It was last reviewed on [DATE when it was last reviewed].</p>
    <p class="govuk-body">This service was last tested on [DATE]. The testing was carried out by the Department for Work and Pensions.</p>
    <!-- <h2 class="govuk-heading-m"></h2>
    <p class="govuk-body"></p>
    <ul class="govuk-list govuk-list--bullet">
        <li></li>
    </ul>
    <a href=""></a> -->
  </div>
</div>

{% endblock %}