{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Where would you like us to pay your State Pension? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/bank-validation1">
        <h1 class="govuk-heading-l">Where would you like us to pay your State Pension?</h1>
        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Name on the account
          </label>
          <input class="govuk-input govuk-input--width-20" id="account-holder" name="account-holder" type="text" value="{{ data['account-holder'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sortcode">
            Sort code
          </label>
          <div id="sort-code-hint" class="govuk-hint">
            Must be 6 digits long
          </div>
          <input class="govuk-input govuk-input--width-10" id="sort-code" name="sort-code" type="text" value="{{ data['sort-code'] }}">
        </div>
        

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Account number
          </label>
          <div id="sort-code-hint" class="govuk-hint">
            Must be between 6 and 8 digits long
          </div>
          <input class="govuk-input govuk-input--width-20" id="account-number" name="account-number" type="text" value="{{ data['account-number'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="rollnumber">
            Building society roll number (if you have one)
          </label>
          <div id="sort-code-hint" class="govuk-hint">
            You can find it on your card, statement or passbook
          </div>
          <input class="govuk-input govuk-input--width-10" id="roll-number" name="roll-number" type="text" value="{{ data['roll-number'] }}">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" data-govuk-notification-banner-init="">
        <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Prototype options
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body">Sort codes</p>
          <p class="govuk-body">
            <ul class="govuk-list govuk-list--bullet">
              <li><strong>123456</strong> - Valid sort code (MVP) </li>
              <li><strong>123457</strong> - Failure because the accounts do not match (MVP) </li>
              <li><strong>000000</strong> - Invalid sort code </li>
              <li><strong>000001</strong> - Cannot find account </li>
              <li><strong>000002</strong> - Cannot pay money into this account </li>
              <li><strong>000003</strong> - You can only use this service with a UK bank or building society account </li>
            </ul>
          </p>
        </div>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="contact-pension-service&help.html" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
