{% extends "layouts/ol_noback_nowelsh.html" %}

{% block pageTitle %}
  You cannot use this service - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            You can only use this service with a UK bank or building society account
          </h1>
          <p class="govuk-body">
            If you need to use another account <a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">contact the Northern Ireland Pension Centre by phone or post</a>.
          </p>  
        </div>
      </form>
      <p class="govuk-body">
        <a href="your-state-pension">Go back to your State Pension details</a>
      </p>
    </div>

  </div>
  </div>

{% endblock %}

