{% extends "layout.html" %}

{% block pageTitle %}
  Check your details - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/bank-validation2" method="post">
        <div class="govuk-form-group">
      
      <h1 class="govuk-heading-l">Check your details before you submit them</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              UK bank or building society account
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="do-you-want-uk-account.html">
                Change<span class="govuk-visually-hidden"> if you want to use a UK bank or building society account</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border:0;">
            <dt class="govuk-summary-list__key" style="width:40%;">
              New account details
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="bank-or-building-society-details.html">
                Change<span class="govuk-visually-hidden"> new account details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border:0;">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Name on the account
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['account-holder'] %}
                {{ data['account-holder'] }}
              {% else %}
                M Jones
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border:0;">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['sort-code'] %}
                {{ data['sort-code'] }}
              {% else %}
              000000

              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border:0;">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['account-number'] %}
                {{ data['account-number'] }}
              {% else %}

              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%;">
              Building society roll number (if you have one)
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['roll-number'] %}
                {{ data['roll-number'] }}
              {% else %}
                Not provided
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>
        
        <h2 class="govuk-heading-m">Submit your new details</h2>
        <p class="govuk-body">By submitting this change you are confirming that the information you are giving is complete and correct.</p>
          <button class="govuk-button" data-module="govuk-button">
            Confirm and submit
          </button>
        </form>
    </div>
  </div>

{% endblock %}
{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "../2-0/check-answers.html",
            text: "Lighter declaration",
            attributes: {
              target: "_blank"
            }
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
