{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Do you own the account? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/owned-account1" method="post">
        <h1 class="govuk-heading-l">You can change your bank details online if the new account is:</h1>
          <ul class="govuk-list govuk-body govuk-list--bullet">
            <li>an account that is yours, either a single or joint account</li>
            <li>a UK bank or building society account</li>
          </ul>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Is the new account both of these? 
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="own-account" name="owned-account" type="radio" value="own-account" {{ checked("own-account", "owned-account") }}>
                <label class="govuk-label govuk-radios__label" for="own-account">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="not-own-account" name="owned-account" type="radio" value="not-own-account" {{ checked("not-own-account", "not-owned-account") }}>
                <label class="govuk-label govuk-radios__label" for="not-own-account">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="contact-pension-service.html" target="_blank">Get help using the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}