{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong><br>
        Change of bank details with Transunion validation
      </h1>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="manage-state-pension.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Jump to a page in the journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Bank validation journey</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="manage-state-pension.html">Manage Your State Pension start page</a></li>
            <li><a href="do-you-own-the-account.html">Your State Pension account (playback if status is 'Receiving State Pension')</a></li>
            <li><a href="can-only-use-an-account-you-own.html">can only use an account thats yours</a></li>
            <li><a href="your-state-pension.html">Your State Pension account (playback if status is 'Receiving State Pension')</a></li>
            <li><a href="do-you-own-the-account.html">Do you own the account</a></li>
            <li><a href="can-only-use-uk-account.html">You can only use this service with a UK bank or building society account</a></li>
            <li><a href="can-only-use-uk-account&ni.html">You can only use this service with a UK bank or building society account (Northern Ireland)</a></li>
            <li><a href="bank-or-building-society-details.html">Where would you like us to pay your State Pension?</a></li>           
            <li><a href="we-cannot-find-this-account.html" target="_blank">We cannot find this account</a>
            <li><a href="we-cannot-pay-money-to-this-account.html" target="_blank">We cannot pay money to this account</a>
            <li><a href="can-only-use-uk-account-validation.html" target="_blank">You can only use this service with a UK bank or building society account</a>
            <li><a href="check-your-details.html">Check your details</a></li>
            <li><a href="cannot-confirm-you-own-this-account.html">We cannot confirm you own this account</a></li>
            <li><a href="kbv-warmup.html">KBV warmup screen</a></li>
            <li><a href="kbv-1.html">KBV question 1</a></li>
            <li><a href="kbv-2.html">KBV question 2</a></li>
            <li><a href="kbv-3.html">KBV question 3</a></li>
            <li><a href="kbv-failed.html">KBV failed</a></li>
            <li><a href="you-have-changed-your-bank-details.html" target="_blank">You have changed your bank details</a>
            <li><a href="you-have-changed-your-bank-details&alt.html" target="_blank">You have changed your bank details (Alternative for when the current payment will be paid into the old account due to payment run timelines)</a>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Version notes</h2>
      <h2 class="govuk-heading-s">Change of method of payment</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://dwpdigital.atlassian.net/browse/RFP-13555" target="_blank">Epic for this piece of work</a></li>
        <li><a href="https://dwpdigital.atlassian.net/browse/RFP-13569" target="_blank">JIRA ticket for iterations</a></li>
        <li>Based on <a href="https://lucid.app/lucidspark/e507ec66-bfb8-4404-bb9d-0601ede1dc6b/edit?invitationId=inv_cb805d5c-a20c-4e13-805e-ce22b20ae61e&page=0_0#" target="_blank">Lucid board for designs and workshops</a>
        <li><a href="https://dwpdigital.atlassian.net/wiki/x/YoTNOx8" target="_blank">Design history</a>
        </ul>

        <h2 class="govuk-heading-s">Sort code entry for bank details</h2>
        <ul class="govuk-list govuk-list--bullet">
        <li><strong>123456</strong> - Valid sort code (MVP) </li>
        <li><strong>123457</strong> - Failure because the accounts do not match (MVP) </li>
        <li><strong>000000</strong> - Invalid sort code </li>
        <li><strong>000001</strong> - Cannot find account </li>
        <li><strong>000002</strong> - Cannot pay money into this account </li>
        <li><strong>000003</strong> - You can only use this service with a UK bank or building society account </li>
      </ul>

      <h2 class="govuk-heading-m">Additional pages</h2>
      <h2 class="govuk-heading-s">Bank validation errors</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="we-cannot-find-this-account.html" target="_blank">We cannot find this account</a>
        <li><a href="we-cannot-pay-money-to-this-account.html" target="_blank">We cannot pay money to this account</a>
        <li><a href="you-can-only-use-this-service-with-a-uk-account.html" target="_blank">You can only use this service with a UK bank or building society account</a>
        <li><a href="can-only-use-an-account-you-own.html">can only use an account thats yours</a></li>
        <li><a href="cannot-confirm-you-own-this-account.html">We cannot confirm you own this account</a></li>    
      </ul>


      <h2 class="govuk-heading-m">Alternative pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">TODO</li>
      </ul>

{% endblock %}



