{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  You took out a mobile phone contract in July 2020, which provider was it with? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/store-card-provider1" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Verify your bank details - question 3 of 3</span>
              <h1 class="govuk-fieldset__heading">
                You took out a credit or store card in September 2023 - who was it with?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="barclays" name="store-card-provider" type="radio" value="barclays" {{ checked("store-card-provider", "barclays") }}>
                <label class="govuk-label govuk-radios__label" for="barclays">
                  Barclays
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="amazon" name="store-card-provider" type="radio" value="amazon" {{ checked("store-card-provider", "amazon") }}>
                <label class="govuk-label govuk-radios__label" for="amazon">
                  Amazon
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="santander" name="store-card-provider" type="radio" value="santander" {{ checked("store-card-provider", "santander") }}>
                <label class="govuk-label govuk-radios__label" for="santander">
                  Santander
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hsbc" name="store-card-provider" type="radio" value="hsbc" {{ checked("store-card-provider", "hsbc") }}>
                <label class="govuk-label govuk-radios__label" for="hsbc">
                  HSBC
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="marks-and-spencer" name="store-card-provider" type="radio" value="marks-and-spender" {{ checked("store-card-provider", "marks-and-spencer") }}>
                <label class="govuk-label govuk-radios__label" for="marks-and-spencer">
                  Marks & Spencer
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="contact-pension-service.html" target="_blank">Get help using the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}