{% extends "layout_noback_nosignout.html" %}

{% block pageTitle %}
  You have signed out - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="bank-playback" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            You have signed out
          </h1>
          <p class="govuk-body">
            It is now safe to close this window.
          </p>
          <p class="govuk-body">
            If this was a mistake you can <a href="survey">sign in to manage your State Pension</a>.
          </p>
          <h2 class="govuk-heading-m">
            Help us improve this service
          </h2>
          <p class="govuk-body">
            <a href="survey">Help make this service better by taking part in user research (optional)</a>
          </p>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
