{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "What is your partner's National Insurance number?" %}

{% set detailsTextHtml %}
    <p class="govuk-body">
        You can stay on this page for up to 20 minutes if you need to check your answer. Do not close the web page.
    </p>

    <p class="govuk-body">
        If you need more time, you can come back and confirm your identity later. You might be asked for different information.
    </p>
{% endset %}



{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="form" action={{ formPostLink }} method="get" autocomplete="off">

                <!--page heading with caption include-->
                {% set pageHeadingH1 %}
                    <span class="govuk-caption-l">
                        Confirm your identity
                    </span>
                    {{ title }}
                {% endset %}


                {{ govukInput({
                    label: {
                        html: pageHeadingH1,
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "For example, QQ 12 34 56 C"
                    },
                    classes: "govuk-input--width-10",
                    id: "kbv-partner-nino",
                    name: "kbv-partner-nino"
                }) }}


                {{ govukDetails({
                    summaryText: "I do not have this information now",
                    html: detailsTextHtml | safe
                }) }}


                {{ govukButton({
                    text: "Continue"
                }) }}

                <p><a href={{ skipQuestionUrl }}>I cannot answer this question</a></p>

            </form>
            
        </div>
    </div>
{% endblock %}