{% extends "layout_noback.html" %}

{% block pageTitle %}
  You have changed how often we will pay you - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          You have changed how often we will pay your State Pension
        </h1>
      </div>
      <!-- <p class="govuk-body">We have sent you a confirmation email.</p> -->
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        We will pay you:
      </p>
      {% if data['payment-frequency'] == 'Every 4 weeks (13 payments a year)' and data['frequency-select'] == 'Every 2 weeks' %}
        <ul class="govuk-list govuk-list--bullet">
          <li>
            {% if data['next-payment-amount'] %}
              {{ data['next-payment-amount'] | currency }}
            {% else %}
              £815.40
            {% endif %}
             on Friday
            {% if data['next-payment-day'] %}
              {{ data | isoDateFromDateInput("next-payment") | govukDate }}
            {% else %}
              4 August 2023
            {% endif %}
          </li>
          <li>
            {% if data['next-payment-amount'] %}
              {{ (data['next-payment-amount']/4) | fixed | currency }}
            {% else %}
              {{ (815.40/4) | fixed | currency  }}
            {% endif %}
            on Friday
            {% if data['next-payment-day'] %}
              <span>{{ data | isoDateFromDateInput("next-payment") | duration(1, "weeks") | govukDate }}</span>
            {% else %}
              Friday 11 August 2023
            {% endif %}
          </li>
          <li>
            {% if data['next-payment-amount'] %}
              {{ (data['next-payment-amount']/2) | fixed | currency }}
            {% else %}
              £407.70
            {% endif %}
            {% if data['frequency-select'] %}
              <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
            {% else %}
              every 2 weeks
            {% endif %}
            starting from Friday
            {% if data['next-payment-day'] %}
              <span>{{ data | isoDateFromDateInput("next-payment") | duration(3, "weeks") | govukDate }}</span>
            {% else %}
              25 August 2023
            {% endif %}
          </li>
        </ul>
        <p class="govuk-body">
          {% if data['frequency-email'] == 'frequency-confirmation-yes' %}
            We have sent you an email to confirm you have changed how often we will pay your State Pension. We will also send you a letter
            {% if data['show-letter-format'] == 'show-letter-format-yes' %}
              in <span style="text-transform: lowercase;">{{ data['letter-format'] }}</span> format
            {% endif %}
             in the post.
          {% else %}
            We will send you a letter
            {% if data['show-letter-format'] == 'show-letter-format-yes' %}
              in <span style="text-transform: lowercase;">{{ data['letter-format'] }}</span> format
            {% endif %}
            to confirm you have changed how often we will pay your State Pension.
          {% endif %}
        </p>
        <h3 class="govuk-heading-s">Payment details</h3>
        <p class="govuk-body">
          Your payment of
          {% if data['next-payment-amount'] %}
            {{ data['next-payment-amount'] | currency }}
          {% else %}
            £815.40
          {% endif %}
          is for the period
          {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | duration(-27, "days") | govukDate | dropYear }}</span>
          {% else %}
            8 July
          {% endif %}
          to
          {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | govukDate | dropYear }}.</span>
          {% else %}
            4 August.
          {% endif %}
          This payment cannot be changed.
        </p>
        <p class="govuk-body">
          Your payment of
          {% if data['next-payment-amount'] %}
            {{ (data['next-payment-amount']/4) | fixed | currency }}
          {% else %}
            {{ (815.40/4) | fixed | currency  }}
          {% endif %}
          is for the period
          {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | duration(1, "days") | govukDate | dropYear }}</span>
          {% else %}
            5 August
          {% endif %}
          to
          {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | duration(1, "week") | govukDate | dropYear }}.</span>
          {% else %}
            11 August.
          {% endif %}
          This is a one-off payment so we can start paying you
          {% if data['frequency-select'] %}
            <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>.
          {% else %}
            every 2 weeks.
          {% endif %}
        </p>
        <p class="govuk-body">
          Your regular payments of
          {% if data['next-payment-amount'] %}
            {{ (data['next-payment-amount']/2) | fixed | currency }}
          {% else %}
            {{ (815.40/2) | fixed | currency  }}
          {% endif %}
          {% if data['frequency-select'] %}
            <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
          {% else %}
            every 2 weeks
          {% endif %}
          start from
          {% if data['next-payment-day'] %}
              <span>{{ data | isoDateFromDateInput("next-payment") | duration(3, "weeks") | govukDate | dropYear }}.</span>
            {% else %}
              25 August.
          {% endif %}
        </p>

      {% elif data['payment-frequency'] == 'Every 4 weeks (13 payments a year)' and data['frequency-select'] == 'Every week' %}
        <ul class="govuk-list govuk-list--bullet">
          <li>
            {% if data['next-payment-amount'] %}
              {{ data['next-payment-amount'] | currency }}
            {% else %}
              £815.40
            {% endif %}
            on Friday
            {% if data['next-payment-day'] %}
              {{ data | isoDateFromDateInput("next-payment") | govukDate }}
            {% else %}
              4 August 2023
            {% endif %}
          </li>
          <li>
            {% if data['next-payment-amount'] %}
            {{ (data['next-payment-amount']/4*3) | fixed | currency }}
            {% else %}
              {{ ((815.40/4)*3) | fixed | currency  }}
            {% endif %}
            on Friday
            {% if data['next-payment-day'] %}
              <span>{{ data | isoDateFromDateInput("next-payment") | duration(3, "weeks") | govukDate }}</span>
            {% else %}
              25 August 2023
            {% endif %}
          </li>
          <li>
            {% if data['next-payment-amount'] %}
            {{ (data['next-payment-amount']/4) | fixed | currency }}
            {% else %}
              {{ (815.40/4) | fixed | currency  }}
            {% endif %}
            {% if data['frequency-select'] %}
              <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
            {% else %}
              every week
            {% endif %}
            starting from Friday
            {% if data['next-payment-day'] %}
              <span>{{ data | isoDateFromDateInput("next-payment") | duration(4, "weeks") | govukDate }}</span>
            {% else %}
              1 September 2023
            {% endif %}
          </li>
        </ul>
        <p class="govuk-body">
          {% if data['frequency-email'] == 'frequency-confirmation-yes' %}
            We have sent you an email to confirm you have changed how often we will pay your State Pension. We will also send you a letter
            {% if data['show-letter-format'] == 'show-letter-format-yes' %}
              in <span style="text-transform: lowercase;">{{ data['letter-format'] }}</span> format
            {% endif %}
             in the post.
          {% else %}
            We will send you a letter
            {% if data['show-letter-format'] == 'show-letter-format-yes' %}
              in <span style="text-transform: lowercase;">{{ data['letter-format'] }}</span> format
            {% endif %}
            to confirm you have changed how often we will pay your State Pension.
          {% endif %}
        </p>
        <h3 class="govuk-heading-s">Payment details</h3>
        <p class="govuk-body">
          Your payment of
          {% if data['next-payment-amount'] %}
            {{ data['next-payment-amount'] | currency }}
          {% else %}
            £815.40
          {% endif %}
          is for the period
          {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | duration(-27, "days") | govukDate | dropYear }}</span>
          {% else %}
            8 July
          {% endif %}
          to
          {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | govukDate | dropYear }}.</span>
          {% else %}
            4 August.
          {% endif %}
          This payment cannot be changed.
        </p>
        <p class="govuk-body">
          Your payment of
          {% if data['next-payment-amount'] %}
            {{ ((data['next-payment-amount']/4)*3) | fixed | currency }}
          {% else %}
          {{ ((815.40/4)*3) | fixed | currency  }}
          {% endif %}
          is for the period
          {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | duration(1, "days") | govukDate | dropYear}}</span>
          {% else %}
            5 August
          {% endif %}
          to
          {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | duration(3, "week") | govukDate | dropYear }}.</span>
          {% else %}
            25 August.
          {% endif %}
          This is a one-off payment so we can start paying you
          {% if data['frequency-select'] %}
            <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>.
          {% else %}
            every week.
          {% endif %}
        </p>
        <p class="govuk-body">
          Your regular payments of
          {% if data['next-payment-amount'] %}
            {{ (data['next-payment-amount']/4) | fixed | currency }}
          {% else %}
            {{ (815.40/4) | fixed | currency  }}
          {% endif %}
          {% if data['frequency-select'] %}
            <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
          {% else %}
            every week
          {% endif %}
          start from
          {% if data['next-payment-day'] %}
              <span>{{ data | isoDateFromDateInput("next-payment") | duration(4, "weeks") | govukDate | dropYear }}.</span>
            {% else %}
              1 September.
          {% endif %}
        </p>
      {% else %}
      <ul class="govuk-list govuk-list--bullet">
        <li>
          {% if data['next-payment-amount'] %}
            {{ data['next-payment-amount'] | currency }}
          {% else %}
            £815.40
          {% endif %}
           on Friday
          {% if data['next-payment-day'] %}
            {{ data | isoDateFromDateInput("next-payment") | govukDate }}
          {% else %}
            4 August 2023
          {% endif %}
        </li>
        <li>
          {% if data['next-payment-amount'] %}
          {{ (data['next-payment-amount']/4) | fixed | currency }}
          {% else %}
            {{ (815.40/4) | fixed | currency  }}
          {% endif %}
          on Friday
          {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | duration(1, "weeks") | govukDate }}</span>
          {% else %}
            11 August 2023
          {% endif %}
        </li>
        <li>
          {% if data['next-payment-amount'] %}
          {{ (data['next-payment-amount']/2) | fixed | currency }}
          {% else %}
            £407.70
          {% endif %}
          {% if data['frequency-select'] %}
            <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
          {% else %}
            every 2 weeks
          {% endif %}
          starting from Friday
          {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | duration(3, "weeks") | govukDate }}</span>
          {% else %}
            25 August 2023
          {% endif %}
        </li>
      </ul>
      <p class="govuk-body">
        {% if data['frequency-email'] == 'frequency-confirmation-yes' %}
          We have sent you an email to confirm you have changed how often we will pay your State Pension. We will also send you a letter
          {% if data['show-letter-format'] == 'show-letter-format-yes' %}
            in <span style="text-transform: lowercase;">{{ data['letter-format'] }}</span> format
          {% endif %}
           in the post.
        {% else %}
          We will send you a letter
          {% if data['show-letter-format'] == 'show-letter-format-yes' %}
            in <span style="text-transform: lowercase;">{{ data['letter-format'] }}</span> format
          {% endif %}
          to confirm you have changed how often we will pay your State Pension.
        {% endif %}
      </p>
      <h3 class="govuk-heading-s">Payment details</h3>
      <p class="govuk-body">
        Your payment of
        {% if data['next-payment-amount'] %}
          £{{ data['next-payment-amount'] | currency }}
        {% else %}
          £815.40
        {% endif %}
        is for the period
        {% if data['next-payment-day'] %}
          <span>{{ data | isoDateFromDateInput("next-payment") | duration(-27, "days") | govukDate | dropYear  }}</span>
        {% else %}
          8 July
        {% endif %}
        to
        {% if data['next-payment-day'] %}
          <span>{{ data | isoDateFromDateInput("next-payment") | govukDate | dropYear  }}.</span>
        {% else %}
          4 August.
        {% endif %}
        This payment cannot be changed.
      </p>
      <p class="govuk-body">
        Your payment of
        {% if data['next-payment-amount'] %}
          {{ (data['next-payment-amount']/4) | fixed | currency }}
        {% else %}
          {{ (815.40/4) | fixed | currency  }}
        {% endif %}
        is for the period
        {% if data['next-payment-day'] %}
          <span>{{ data | isoDateFromDateInput("next-payment") | duration(1, "days") | govukDate | dropYear  }}</span>
        {% else %}
          5 August
        {% endif %}
        to
        {% if data['next-payment-day'] %}
          <span>{{ data | isoDateFromDateInput("next-payment") | duration(1, "week") | govukDate | dropYear  }}.</span>
        {% else %}
          11 August.
        {% endif %}
        This is a one-off payment so we can start paying you
        {% if data['frequency-select'] %}
          <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>.
        {% else %}
          every 2 weeks.
        {% endif %}
      </p>
      <p class="govuk-body">
        Your regular payments of
        {% if data['next-payment-amount'] %}
          {{ (data['next-payment-amount']/2) | fixed | currency }}
        {% else %}
          {{ (815.40/2) | fixed | currency  }}
        {% endif %}
        {% if data['frequency-select'] %}
          <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
        {% else %}
          every 2 weeks
        {% endif %}
        start from
        {% if data['next-payment-day'] %}
            <span>{{ data | isoDateFromDateInput("next-payment") | duration(3, "weeks") | govukDate | dropYear  }}.</span>
          {% else %}
            25 August.
        {% endif %}
      </p>
      {% endif %}


      <h2 class="govuk-heading-m">
        If you receive Pension Credit
      </h2>
      <p class="govuk-body">
        If you need to change how often you get Pension Credit, <a href="https://www.gov.uk/pension-credit/change-of-circumstances" target="_blank">contact the Pension Service by phone or post (opens in new tab)</a>.
      </p>
      <h2 class="govuk-heading-m">
        Help improve this service
      </h2>
      <p class="govuk-body">
        You can <a href="#">help improve this service by giving us your feedback (opens in new tab)</a>.
      </p>
      <div class="govuk-inset-text">
        <a href="../your-state-pension&updated.html" class="govuk-link">Return to your State Pension details</a>
      </div>
      <p class="govuk-body">
        <a href="../signed-out.html">Sign out</a>
      </p>
      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
        {
          href: "you-have-changed-how-often-we-pay-you&1.html",
          text: "Scenario 1"
        },
        {
          href: "you-have-changed-how-often-we-pay-you&2.html",
          text: "Scenario 2"
        },
        {
          href: "you-have-changed-how-often-we-pay-you&3.html",
          text: "Scenario 3"
        },
          {
            href: "/frequency/1-0/signed-you-out.html",
            text: "Service sign out"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
