{% extends "layout.html" %}

{% block pageTitle %}
  We're already sending letters here - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We're already sending letters here</h1>
      <p class="govuk-body">
        <p>10 Dale Street<br>
          York<br>
          YO3 1ZF
        </p>
        <p class="govuk-body">
          We have not updated the address we send letters to, and will continue using this address to send you letters.
          <p>
          <p><a href="find-address.html">Search again</a> if you need to change to a different address.</p>
          <div class="govuk-inset-text">
            <a href="../your-state-pension.html">Return to Your State Pension details.</a></div>
    </div>

    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
