{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong><br>
        Change of address - Legacy agent task
      </h1>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="task_list.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Jump to a page in the journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="task_list.html">Task list</a></li>
            <li><a href="update_address2.html">Task page - Update address</a>
            <li><a href="task_list_confirm.html">Task completed</a>
            <li><a href="task_list_closed-alt.html">Task closed</a>
            <li><a href="task_list_closed.html">No action required</a></li>
            <li><a href="task_list_returned.html">Task returned to queue</a></li>
          </ul>
          <h3 class="govuk-heading-s">Your State Pension details</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="your-state-pension.html">Your State Pension overview if status is 'Receiving State Pension'</a></li>
            <li><a href="your-state-pension&issues.html">Your State Pension overview if status is <strong>anything other than</strong> 'Receiving State Pension'</a></li>
          </ul>
        </div>
      </details>
    

      <h2 class="govuk-heading-m">Version notes</h2>

      <h2 class="govuk-heading-s">Open the front door</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Iteration 1</li>
        <li><a href="https://dwpdigital.atlassian.net/wiki/spaces/RBCCC/pages/133882806985/Open+The+Front+Door+OTFD+Agent+Experience+-+Change+of+address" target="_blank">Design Documentation</a></li>
        <li>Based on <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1738660491787/ff00b6b8b26b63f9fffbf7a0d44d65c5976062fe" target="_blank">workshops and ideation sessions</a></li>
        <li>Journey for agents processing a change of address for PSCS citizens</li>
        <li>Tasks to come into task queue in order of oldest task first</li>
        <li>Agents must be able to navigate simple changes, view the request, and log appropriate action taken.</li>
      </ul>

      <h2 class="govuk-heading-m">Additional pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>TBC</li>
      </ul>
      <!-- <h2 class="govuk-heading-s">Exceptions for change of address</h2>
      <p> Journeys for users who enter a duplicate address through address lookup and manual address entry</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://localhost:3000/contact/3-0/change-of-address/duplicate/uk-address" target="_blank"> Scenario 1 - Duplicate change of address through address lookup</a>
        <li><a href="#" target="_blank">Scenario 2 - Duplicate change of address through manual address entry</a>
      </ul>-->

      <h2 class="govuk-heading-m">Alternative pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=""></a></li>
      </ul>

      <!-- <h2 class="govuk-heading-m">Experimental design</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=""></a></li>
      </ul> -->

{% endblock %}

