{% extends "layout_noback_nowelsh" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include 'includes/_header-nav-tasks.html' %}

{% block headEnd %}


{% endblock %}

{% block content %}

{% endblock %}



<div class="govuk-width-container">   

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include 'includes/_bar.html' %}
        <a href="task_list.html" class="govuk-back-link">Back</a>
        <br>
        <br>


        <p class="govuk-body">
          This record is managed in PSCS
        </p>

        <h1 class="govuk-heading-xl">Update change of address (SP COA)</h1>

        <p class="govuk-body">
          This claimant has requested a change of address. Review the request and update the details in CAM or PSCS.<br>
        </p>

        <p class="govuk-body">
          <strong>Change of address (SP COA) request online</strong>
        </p>
        <p class="govuk-body">
          <strong>Receipt email sent to claimant</strong><br>ross.mcdonald@test.com
        </p>

      

        <h2 class="govuk-heading-l">1. Find the claimant in CAM or PSCS</h2>
        <h2 class="govuk-heading-m">Citizens details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd id="name" class="govuk-summary-list__value">
              Ross Mcdonald
            </dd>
            <dd class="govuk-summary-list__actions">
              <button id="nameButton" type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">Copy text<span class="govuk-visually-hidden">, for name, to clipboard</span></button>
                <div id="nameMessage" class="hidden">Copy text<span class="govuk-visually-hidden">, for name, to clipboard</span></div>
                <div id="nameCopyMessage" aria-live="assertive" class="hidden"><span>Text copied</span></div>

              <!-- <button id="name1Button" type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">Copy text <span class="govuk-visually-hidden">, for name, to clipboard</span></button>
                <div id="name1Message" class="hidden">Copy text<span class="govuk-visually-hidden">, for name, to clipboard</span></div>
                <div id="name1CopyMessage" aria-live="assertive" class="hidden"><span>Text copied</span></div>
            </dd> -->
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd id="nino" class="govuk-summary-list__value">
              QQ 12 34 56 X
            </dd>
            <dd class="govuk-summary-list__actions">

              <button id="ninoButton" type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">Copy number <span class="govuk-visually-hidden">, for National Insurance, to clipboard</span></button>
                <div id="ninoMessage" class="hidden">Copy number<span class="govuk-visually-hidden">, for National Insurance, to clipboard</span></div>
                <div id="ninoCopyMessage" aria-live="assertive" class="hidden"><span>Number copied</span></div>

              <!-- <button id="ninoButton" type="submit" class="govuk-button app-copy-button" data-module="govuk-button">Copy number<span class="govuk-visually-hidden">, National Insurance, to clipboard</span></button>
                <div id="ninoMessage" class="hidden">Copy number<span class="govuk-visually-hidden">, for National Insurance, to clipboard</span></div>
                <div id="ninoCopyMessage" aria-live="assertive" class="hidden"><span>Number copied</span></div> -->
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Square Street<br>
              York<br>
              YO3 1SQ
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-l">2. Enter new address (SP COA) details </h2>
        <!-- <h2 class="govuk-heading-m">Citizens details</h2> -->
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              New account details
            </dt>
            <!-- <dd id="newacc" class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--blue">Verified</strong>
            </dd> -->

            <span class="verified-badge verified">
              <b>Address found</b>
            </span>
            
            <dd class="govuk-summary-list__actions">

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Line 1
            </dt>
            <dd id="name1" class="govuk-summary-list__value">
              22 Circle Road
            </dd>
            <dd class="govuk-summary-list__actions">

              <button id="name1Button" type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">Copy text <span class="govuk-visually-hidden">, for name on the account, to clipboard</span></button>
                <div id="name1Message" class="hidden">Copy text<span class="govuk-visually-hidden">, for name on the account, to clipboard</span></div>
                <div id="name1CopyMessage" aria-live="assertive" class="hidden"><span>Text copied</span></div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Town or city
            </dt>
            <dd id="sort" class="govuk-summary-list__value">
              Sheffield
            </dd>
            <dd class="govuk-summary-list__actions">

              <button id="sortButton" type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">Copy text <span class="govuk-visually-hidden">, for sort code, to clipboard</span></button>
                <div id="sortMessage" class="hidden">Copy number<span class="govuk-visually-hidden">, for sort code, to clipboard</span></div>
                <div id="sortCopyMessage" aria-live="assertive" class="hidden"><span>Number copied</span></div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd id="account" class="govuk-summary-list__value">
              S1 1BR
            </dd>
            <dd class="govuk-summary-list__actions">

              <button id="accountButton" type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">Copy text <span class="govuk-visually-hidden">, account number, to clipboard</span></button>
                <div id="accountMessage" class="hidden">Copy number<span class="govuk-visually-hidden">, for account number, to clipboard</span></div>
                <div id="accountCopyMessage" aria-live="assertive" class="hidden"><span>Number copied</span></div>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-l">3. Add a note in CAM contact history about the action you have taken</h2>
        <!-- <h2 class="govuk-heading-m">Citizens details</h2> -->
        <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Note text
            </dt>
            <dd id="note" class="govuk-summary-list__value">
              SP COA via MySP request
            </dd>
            <dd class="govuk-summary-list__actions">
              <button id="noteButton" type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">Copy text<span class="govuk-visually-hidden">, for note, to clipboard</span></button>
                <div id="noteMessage" class="hidden">Copy text<span class="govuk-visually-hidden">, for note, to clipboard</span></div>
                <div id="noteCopyMessage" aria-live="assertive" class="hidden"><span>Text copied</span></div>
          </div>
          
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <!-- <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            </legend>
            <div id="waste-hint" class="govuk-hint">
             Add a note in CAM contact history that the bank details were changed via a MySP request
            </div> -->
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="paymentFrequency" name="paymentFrequency" type="checkbox" value="paymentFrequency">
                <label class="govuk-label govuk-checkboxes__label" for="paymentFrequency">
                  I have updated the contact history in CAM
                </label>
              </div>              
            </div>
          </fieldset>
        </div> 
        <form class="form" action="/pscs-agent-action-5" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-heading-l">4. Which action have you taken? </h2>
              </legend>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscs-agent-action" name="pscs-agent-action" type="radio" value="Yes" {{ checked("pscs-agent-action", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="pscs-agent-action">
                    Updated the address
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    This will send a confirmation email to the claimant.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscs-agent-action" name="pscs-agent-action" type="radio" value="No2" {{ checked("pscs-agent-action", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="pscs-agent-action">
                    Escalated or transferred the task 
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    Following normal BAU process.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscs-agent-action" name="pscs-agent-action" type="radio" value="No" {{ checked("pscs-agent-action", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="pscs-agent-action">
                    No action required
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    This will send a confirmation email to the claimant.
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <p class="govuk-body">
            <a href="task_list_returned.html" class="govuk-link">Return task to queue</a>
          </p>
          
        </form>
      </div>

    </div>
  </div>     
{% endblock %}

{% block pageScripts %}

     
{% endblock %}

