{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}

{% include 'includes/_header-nav-unselected.html' %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <nav class="hmrc-language-select" aria-label="Language switcher">
    <a href="task_list.html" class="govuk-back-link">Back</a>
    <ul class="hmrc-language-select__list">
      <li class="hmrc-language-select__list-item">
        <span aria-current="true">English</span>
      </li>
      <li class="hmrc-language-select__list-item">
        <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <span aria-hidden="true">Cymraeg</span>
        </a>
      </li>
    </ul>
  </nav> 
   

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include 'includes/_bar.html' %}
        <p class="govuk-body">
          This pensioner has requested a change of address. Review the request and update the details in CAM or PSCS.<br>
        </p>

        <p class="govuk-body">
          <strong>Source:</strong> Online MYSP request<br>
          <strong>Receipt email sent to:</strong> ross.mcdonald@prototypemail.co.uk
        </p>

        

        <h1 class="govuk-heading-l">1. Find them in CAM or PSCS</h1>

        <table class="govuk-table govuk-!-margin-bottom-9">         

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Name</th>
              <td class="govuk-table__cell">Ross Mcdonald</td>
              <td class="govuk-table__cell" scope="col"> <a class="govuk-link" href="#">Copy text</a> </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Nino</th>
              <td class="govuk-table__cell">QQ 12 34 56 X</td>
              <td class="govuk-table__cell" scope="col"> <a class="govuk-link" href="#">Copy text</a> </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Current address</th>
              <td class="govuk-table__cell">
                1 Square Street<br>
                York<br>
                YO3 1SQ</td>
              <td class="govuk-table__cell" scope="col"> 
            </tr>
          </tbody>
        </table>

        <h1 class="govuk-heading-l">2. Update change of address (SP COA) details </h1>

        <table class="govuk-table govuk-!-margin-bottom-9">
          <th class="govuk-table__header" scope="col"> New address details </th>
          <th class="govuk-table__header" scope="col"> <strong class="govuk-tag govuk-tag--blue">
            Verified
          </strong></th>
          <th class="govuk-table__header" scope="col"> <a class="govuk-link" href="#"></a> </th>
          

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Line 1</th>
              <td class="govuk-table__cell">11 Square Street</td>
              <td class="govuk-table__cell" scope="col"> <a class="govuk-link" href="#">Copy text</a> </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Town or city</th>
              <td class="govuk-table__cell">York</td>
              <td class="govuk-table__cell" scope="col"> <a class="govuk-link" href="#">Copy text</a> </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Postcode</th>
              <td class="govuk-table__cell">YO3 1SQ</td>
              <td class="govuk-table__cell" scope="col"> <a class="govuk-link" href="#">Copy text</a> </td>
            </tr>
          </tbody>
        </table>
          
        <h1 class="govuk-heading-l">3. Add a note in CAM contact history about the action you have taken</h1>
        <table class="govuk-table govuk">     
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Note text</th>
              <td class="govuk-table__cell">SP COA details changed via MySP request</td>
              <td class="govuk-table__cell" scope="col"> <a class="govuk-link" href="#">Copy text</a> </td>
            </tr>
          </tbody>
        </table>

        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <!-- <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            </legend>
            <div id="waste-hint" class="govuk-hint">
             Add a note in CAM contact history that the bank details were changed via a MySP request
            </div> -->
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="paymentFrequency" name="paymentFrequency" type="checkbox" value="paymentFrequency">
                <label class="govuk-label govuk-checkboxes__label" for="paymentFrequency">
                  I have updated the contact history in CAM
                </label>
              </div>              
            </div>
          </fieldset>
        </div> 
        
        
        <form class="form" action="/pscs-agent-action-address" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  4. Which action have you taken?
                </h1>
              </legend>
              <!-- <p class="govuk-body">
                Select which action you have taken.
              </p> -->
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscs-agent-action-address" name="pscs-agent-action-address" type="radio" value="Yes" {{ checked("pscs-agent-action-address", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="pscs-agent-action-address">
                    Updated the address
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    This will send a confirmation email to the citizen 
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscs-agent-action-address" name="pscs-agent-action-address" type="radio" value="No" {{ checked("pscs-agent-action-address", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="pscs-agent-action-address">
                    Escalated or transferred the task 
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    Following normal BAU process
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pscs-agent-action-address" name="pscs-agent-action-address" type="radio" value="No2" {{ checked("pscs-agent-action-address", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="pscs-agent-action-address">
                    No action required
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <!-- <a href="task_list_already_actioned.html" button type="submit" style="margin-left: 2%" class="govuk-button govuk-button--secondary">
            The task has already been actioned
          </a> -->
          <!-- <a href="task_list_no_action_needed.html" button type="submit" style="margin-left:2%" class="govuk-button govuk-button--secondary">
            No action required
          </a> -->
          <p class="govuk-body">
            <a href="task_list_returned.html" class="govuk-link">Return this task to queue</a>
          </p>
          
        </form>
      </div>
  
              
  

    
        

       
    <!-- {% endblock %} -->

      {% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        </div>
      </div>

      {% endblock %}
