{% extends "layout.html" %}

{% block pageTitle %}
  What is your date of birth? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="privacy-notice" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Changes you can report online
          </h1>

          <p class="govuk-body">You can use this service to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>change the account we pay your State Pension into</li>
              <li>tell us you have changed address</li>
            </ul>


          <p class="govuk-body">
            It is likely you can also use this service to change:
          </p>


          <ul class="govuk-list govuk-list--bullet">
            <li>the address where you live</li>
            <li>the account we pay State Pension into</li>
            <li>your phone number</li>
            <li>your email address</li>
            <li>how often we pay your State Pension</li>
            <li>where we send your letters</li>
            <li>when you'll get your next State Pension payment</li>
          </ul>

          <p class="govuk-body">
            You will need to sign in to confirm this.
          </p>

          <h2 class="govuk-heading-m">
            Sign in to manage your State Pension online
          </h2>


          <p class="govuk-body">
            You will need a GOV.UK One Login to use this service. You will be able to create one if you do not already have one. 
          </p>


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

          <p class="govuk-body">
            <a href="manage-state-pension-gysp.html">I do not want to register at this time</a>.
          </p>

          <h2 class="govuk-heading-m">
            If you want to contact us another way or need to tell us about other changes
          </h2>

          <p class="govuk-body">
            If you live in England, Scotland or Wales <a href="">contact the Pension Service by phone or post</a>.
          </p>

          <p class="govuk-body">
            If you live in Northern Ireland <a href="">contact the Northern Ireland Pension Centre by phone or post</a>.
          </p>        
      </form>
    </div>
  </div>
  {% endblock %}

{% block footer %}

  {{ govukFooter({
    meta: {
      items: [
        {
          href: "idv-recreated-pages/idv-placeholder",
          text: "ID&V CODES REQUIRED (opens in new tab)",
          attributes: {
            target: "_blank"
          }
        },
        {
          href: "idv-recreated-pages/success",
          text: "SKIP ID&V SUCCESS"
        },
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}

{% endblock %}
