{% extends "layouts/ol_signed_in_alt.html" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Continue to use the service you want to use
      </h1>

      <p class="govuk-body">
          You've successfully proved your identity. You can now continue to the service you want to use.
      </p>

      <p class="govuk-body">
          Some of the information you shared when you proved your identitiy might be used to automaticaly fill in forms within the service.
      </p>

      <form class="form" action="your-state-pension" method="post">
        <button class="govuk-button" action="your-state-pension.html" data-module="govuk-button">
          Continue
        </button>
    </form>

</div>

  <!-- <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      Get help
    </h2>
    <h3 class="govuk-heading-s">
      England, Scotland and Wales
    </h3>
    <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>

    <h3 class="govuk-heading-s">
      Northern Ireland
    </h3>
    <p><a href="https://www.nidirect.gov.uk/contacts/nidirect-account-support" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
  </div> -->
</div>
</div>

    
{% endblock %}


