{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Check your answers before submitting your request
    </h1>



<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Where you live
    </dt>
    <dd class="govuk-summary-list__value">
      England, Wales or Northern Ireland
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/wf-opt-out/3-0/where-you-live">
        Change<span class="govuk-visually-hidden"> where you live</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['email'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/wf-opt-out/3-0/email">
        Change<span class="govuk-visually-hidden"> email address</span>
      </a>
    </dd>
  </div>

</dl>




    <h2 class="govuk-heading-m">Submit your opt out request</h2>
    <p class="govuk-body">By submitting this request you confirm that you do not want to receive the Winter Fuel
      Payment. You will not get this payment until you opt back in.</p>
    <p class="govuk-body">You cannot use this service to opt back in. You must contact the Winter Fuel Payment Centre.</p>
    <form action="/wf-opt-out/3-0/check-answers" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and submit
      </button>
    </form>


  </div>
</div>
{% endblock %}