{% extends "layout.html" %}

{% block pageTitle %}
Can you access the account we pay your State Pension into now? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/can-we-pay-3" method="post">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Can you access the account we pay your State Pension into now?
            </h1>
          </legend>
          <p class="govuk-body">It can take up to 8 days for us to make a change you tell us about online. </p>
          <p class="govuk-body">If your next payment is due before then, it may go to the account we pay into now. </p>
          <p class="govuk-body">If you cannot access that account, call us so that we can make the change straight away. </p>

          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              What do you want to do?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="can-we-pay" name="can-we-pay" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="can-we-pay">
                Change my account online
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="can-we-pay" name="can-we-pay" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="can-we-pay">
              Call to change my account
              </label>
            </div>
          </div>
          </fieldset>
        </div>
        </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
   
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="contact-pension-service&amp;help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>
{% endblock %}
