{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  You can only use an account that you own - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            You cannot change your bank details online
          </h1>
          <h2 class="govuk-heading-m">
            You need to contact us to change where we pay your State Pension
          </h2>
          <p class="govuk-body">If you want to use someone else's account contact:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/contact-pension-service/report-changes.html">the Pension Service</a> if you live in England, Scotland or Wales</li>
            <li><a href="https://www.gov.uk/international-pension-centre">the Northern Ireland Pension Centre</a> if you live in Northern Ireland</li> 
          </ul>
          <p class="govuk-body">If you want to use an account that is not in the UK <a href="https://www.gov.uk/international-pension-centre">contact the International Pension Centre</a></p>
        </div>
      </form>
      <div class="govuk-inset-text">
        <a href="your-state-pension" class="govuk-link">Return to Your State Pension details</a>
      </div>
    </div>

  </div>
  </div>

{% endblock %}
