{% extends "layouts/ol_signed_in_nolinks.html" %}

{% block pageTitle %}
  We cannot confirm this is your account - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            We cannot confirm this is your account
          </h1>
          <p class="govuk-body">
            If you want us to pay your State Pension into this account contact:
          </p>
          <p class="govuk-body">
            <ul class="govuk-list govuk-list--bullet">
            <li><a href="contact-pension-service.html">the Pension Service</a> if you live in England, Scotland or Wales.</li>
            <li><a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">the Northern Ireland Pension Centre</a> if you live in Northern Ireland</li>
          </p>  
        </div>
      </form>
    </div>
  </div>

  <div class="govuk-inset-text">
        <a href="your-state-pension" class="govuk-link">Return to Your State Pension details</a>
  </div>
        
        

    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="contact-pension-service.html" target="_blank">Get help using the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}