{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% set htmlClasses = "app-email" %}
{% set bodyClasses = "app-email__body" %}
{% block footer %}{% endblock %}

{% block pageTitle %}
Password reset security code email - GOV.UK One Login
{% endblock %}

{% block headIcons %}
<link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
<link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Creating or signing in to a GOV.UK One Login</span>
  Password reset security code email
</h1>

<div class="email-message">
  <table class="email-message-meta">
    <tbody>
          <tr>
            <th scope="row">From</th>
            <td>
             GOV.UK One Login
            </td>
          </tr>
      
        <tr>
          <th scope="row">To</th>
          <td>
            <span class="placeholder-no-brackets background: #fd0;">Email address</span>
          </td>
        </tr>
      
      <tr class="email-message-meta">
        <th scope="row">Subject</th>
        <td>
          Your security code for your GOV.UK One Login
        </td>
      </tr>
    </tbody>
  </table>
  <div class="email-message-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
    <p class="govuk-body">
      Use this security code to reset the password for your GOV.UK One Login.</p>
    <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-4">
      778230
    </div>
    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">The code will expire after 15 minutes.</p>
    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">If you did not ask to reset your password, you can ignore this email.</p>
    <p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">If you need help using the security code to reset your password, you can contact us: <a href="#">https://home.account.gov.uk/contact-gov-uk-one-login</a></p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4  govuk-!-margin-top-4">

    <p class="govuk-bodygovuk-!-margin-bottom-6">Do not reply to this email - it’s an automatic message from an unmonitored account.</p>
    
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4  govuk-!-margin-top-4">
    
    
    
      </div>
    </div>

{% endblock %}


