{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% set htmlClasses = "app-email" %}
{% set bodyClasses = "app-email__body" %}
{% block footer %}{% endblock %}

{% block pageTitle %}
Security code confirmation email - GOV.UK One Login
{% endblock %}

{% block headIcons %}
<link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
<link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Creating or signing in to a GOV.UK One Login</span>
Security code confirmation email
</h1>

<div class="email-message">
  <table class="email-message-meta">
    <tbody>
          <tr>
            <th scope="row">From</th>
            <td>
             GOV.UK One Login
            </td>
          </tr>
      
        <tr>
          <th scope="row">To</th>
          <td>
            <span class="placeholder-no-brackets background: #fd0;">Email address</span>
          </td>
        </tr>
      
      <tr class="email-message-meta">
        <th scope="row">Subject</th>
        <td>
         You've changed how you get security codes
        </td>
      </tr>
    </tbody>
  </table>
  <div class="email-message-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
    <p class="govuk-body">You've changed how you get security codes when you sign in to GOV.UK One Login.</p>

    <p class="govuk-body">
      If you did not do this, contact us: <a href="#">https://signin.account.gov.uk/contact-us</a></p>
    

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4  govuk-!-margin-top-4">

    <p class="govuk-bodygovuk-!-margin-bottom-6">Do not reply to this email - it’s an automatic message from an unmonitored account.</p>
    
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4  govuk-!-margin-top-4">
    
    
    
      </div>
    </div>

{% endblock %}


