{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong><br>
        Open the front door concept
      </h1>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="contact-pension-service.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Jump to a page in the journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Findr</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="contact-pension-service.html"></a></li>
          </ul>
          <h3 class="govuk-heading-s">Your State Pension details</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="your-state-pension.html">Your State Pension overview if status is 'Receiving State Pension'</a></li>
            <li><a href="your-state-pension&issues.html">Your State Pension overview if status is <strong>anything other than</strong> 'Receiving State Pension'</a></li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Version notes</h2>

      <h2 class="govuk-heading-s"></h2>
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li></li>
        <li></li> -->
      </ul>

      <h2 class="govuk-heading-s">Open the front door</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Based on <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1726476633474/cf32b5acf45a8c42ad54c1463a74399b60951b18" target="_blank">workshops and ideation sessions</a>
        <li><a href="https://dwpdigital.atlassian.net/browse/RFP-6473" target="_blank">JIRA ticket for design and ideation</a></li>
        <li><a href="https://dwpdigital.atlassian.net/browse/RFP-6474" target="_blank">JIRA ticket for prototyping</a></li>
        <li>Allowing access into the GYSP service from a public link online</li>
      </ul>

      <h2 class="govuk-heading-m">Additional pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>TBC</li>
      </ul>
      <!-- <h2 class="govuk-heading-s">Exceptions for change of address</h2>
      <p> Journeys for users who enter a duplicate address through address lookup and manual address entry</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://localhost:3000/contact/3-0/change-of-address/duplicate/uk-address" target="_blank"> Scenario 1 - Duplicate change of address through address lookup</a>
        <li><a href="#" target="_blank">Scenario 2 - Duplicate change of address through manual address entry</a>
      </ul>-->

      <h2 class="govuk-heading-m">Alternative pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">TODO</li>
      </ul>

      <!-- <h2 class="govuk-heading-m">Experimental design</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=""></a></li>
      </ul> -->

{% endblock %}

