{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We cannot pay money to non-UK accounts</h1>
      <div class="govuk-inset-text">
        Check the sort code and account number.
      </div>

     <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Name on the account</dt>
            <dd class="govuk-summary-list__value">John Snow</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Sort code</dt>
            <dd class="govuk-summary-list__value">555555</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">Account number</dt>
            <dd class="govuk-summary-list__value">55555567</dd>
          </div>

        </dl>

        <button class="govuk-button" data-module="govuk-button">Change account details</button>
        

    </div>
  </div>

{% endblock %}
