{% extends "layout.html" %}

{% block pageTitle %}
  Do you want to use a UK bank or building society account? - Manage your State Pension - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/account-type-mvp2" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you want to use a UK bank or building society account?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="uk-account" name="bank-or-build" type="radio" value="uk-account" {{ checked("bank-or-build", "uk-account") }}>
                <label class="govuk-label govuk-radios__label" for="uk-account">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="overseas" name="bank-or-build" type="radio" value="overseas-bank-account" {{ checked("bank-or-build", "overseas") }}>
                <label class="govuk-label govuk-radios__label" for="overseas">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">
        Get help
      </h1>
      <p><a href="https://www.gov.uk/contact-pension-service" target="_blank">Contact us for technical help with the online service (opens in a new tab)</a></p>
    </div>
  </div>

{% endblock %}
