{% extends "layout_noback.html" %}

{% block pageTitle %}
  You have added your home phone number - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          You have added the home phone number<br>
          {% if data['new-home-phone'] %}
            {{ data['new-home-phone'] }}
          {% else %}
            0191 264 0884
          {% endif %}
        </h1>
      </div>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        If we need to contact you about your State Pension, we will call or write to you using these details.
      </p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:40%;">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            <p>123 Square Street<br>York<br>YO3 1SQ</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:40%;">
            Home phone number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['new-home-phone'] %}
              {{ data['new-home-phone'] }}
            {% else %}
              01920 847390
            {% endif %}
          </dd>
        </div> 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:40%;">
            Mobile phone number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['new-mobile-phone'] %}
              {{ data['new-mobile-phone'] }}
            {% else %}
              0779028462
            {% endif %}
          </dd>
        </div>
      </dl>
      <div class="govuk-inset-text">
        To update your details <a href="../your-state-pension&updated">return to Your State Pension details</a>.
      </div>
      <h2 class="govuk-heading-m">
        Help improve this service
      </h2>
      <p class="govuk-body">
        You can <a href="#">help improve this service by giving us your feedback (opens in new tab)</a>.
      </p>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Sign out
      </button>
      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
