{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include "includes/_header-nav-tasks.html" %}

{% block headEnd %}
{% endblock %}



<div class="govuk-width-container">
  <nav class="hmrc-language-select" aria-label="Language switcher">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->
    <ul class="hmrc-language-select__list">
      <li class="hmrc-language-select__list-item">
        <span aria-current="true">English</span>
      </li>
      <li class="hmrc-language-select__list-item">
        <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <span aria-hidden="true">Cymraeg</span>
        </a>
      </li>
    </ul>
  </nav>  
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      <br>
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Task closed
          </h3>
          </div>
      </div>
        <h1 class="govuk-heading-xl">Tasks</h1>

        <form method="post">

          <nav class="navigation-secondary">
              <ul>
                <li>
                  <a href="get-a-task-claims">New claims</a>
                </li>

                <li>
                  <a href="get-a-task-award">Award changes</a>
                </li>

                <li>
                  <a href="get-a-task-alt">Alternative formats</a>
                </li>

                <li>
                  <a href="get-a-task-bereavement">Bereavement</a>
                </li>

                <li>
                  <a href="get-a-task">International</a>
                </li>

                <li>
                  <a href="get-a-task-other">Other</a>
                </li>

                <li>
                <a class="active" href="task_list">Simple changes</a>
                </li>

              </ul>
            </nav>
            <br>
            <br>


</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-l">Simple changes</h1>
  </div>
  </div>



  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-m">Method of payment MOP
    <p class="govuk-body-l"><a href="update_bank_account_interrupt.html" class="govuk-link"><b>Get next task</b></a></p></h1>

  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">103
          <p class="govuk-body govuk-!-font-size-24">total tasks</p>
        </h3>
  </div>
  <div class="govuk-grid-column-one-quarter">
        <h3 class="govuk-heading-l">88
          <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
        </h3>
  </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  <br>
 
  <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-m">UUpdate method of payment - version 2
      <p class="govuk-body-l"><a href="update_bank_account_2.html" class="govuk-link"><b>Get next task</b></a></p></h1>
  
    </div>
    <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-l">99
            <p class="govuk-body govuk-!-font-size-24">total tasks</p>
          </h3>
    </div>
    <div class="govuk-grid-column-one-quarter">
          <h3 class="govuk-heading-l">76
            <p class="govuk-body govuk-!-font-size-24">tasks ready to work</p>
          </h3>
    </div>
    </div>
  
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
    <br> -->

</div>



    </div>

<!-- 
      {% endblock %} -->

      {% block content %}

      {% endblock %}
