{% extends "layouts/ol_signed_in_noback" %}

{% block pageTitle %}
  Change your address for State Pension and Pension Credit - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              <h1 class="govuk-fieldset__heading">
               Change your address for State Pension and Pension Credit
              </h1>
            </legend>

            <p class="govuk-body">
              You can complete the sections in any order. You cannot save your answers and return later.
            </p>

            <h2 class="govuk-heading-m">Your home</h2>
            <ul class="govuk-task-list">


                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.newAddress == 'completed' %}
                            new-address/have-you-already-moved?section=newAddress
                        {% elif data.newAddress == 'inprogress' %}
                            new-address/have-you-already-moved?section=newAddress
                        {% else %}
                            new-address/have-you-already-moved?newAddress=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        Your new address
                    </a>
                    </div>
                    {% if data.newAddress == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.newAddress == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--orange">
                                In progress
                            </strong>
                        </div>
                    {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--blue">
                                Not started yet
                            </strong>
                        </div>
                    {%endif%}
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.liveNow == 'completed' %}
                            where-you-live-now/rent/housing-costs?section=liveNow
                        {% elif data.liveNow == 'inprogress' %}
                            where-you-live-now/rent/housing-costs?section=liveNow
                        {% else %}
                            where-you-live-now/rent/housing-costs?liveNow=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        Where you live now
                    </a>
                    </div>
                    {% if data.liveNow == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.liveNow == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--orange">
                                In progress
                            </strong>
                        </div>
                    {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--blue">
                                Not started yet
                            </strong>
                        </div>
                    {%endif%}
                </li>
            </ul>

            <h2 class="govuk-heading-m">People who live with you</h2>
            <ul class="govuk-task-list">

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.partnerDetails == 'completed' or data.partnerDetails == 'inprogress' %}
                            partner/do-you-live-with-a-partner?section=partner
                        {% else %}
                            partner/do-you-live-with-a-partner?partnerDetails=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        Your partner
                    </a>
                    </div>
                    {% if data.partnerDetails == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.partnerDetails == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--orange">
                                In progress
                            </strong>
                        </div>
                    {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--blue">
                                Not started yet
                            </strong>
                        </div>
                    {%endif%}
                </li>
            </ul>

            <h2 class="govuk-heading-m">Your money</h2>
            <ul class="govuk-task-list">
                

            {% if data.partnerDetails == 'completed' %}

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.savingsInvestments == 'completed' %}
                            s&i/capital-select-capital?section=savingsInvestments
                        {% elif data.savingsInvestments == 'inprogress' %}
                            s&i/capital-select-capital?section=savingsInvestments
                        {% else %}
                            s&i/capital-select-capital?savingsInvestments=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        Savings and investments
                    </a>
                    </div>
                    {% if data.savingsInvestments == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.savingsInvestments == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--blue">
                                Not started yet
                            </strong>
                        </div>
                    {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--blue">
                                Not started yet
                            </strong>
                        </div>
                    {%endif%}
                </li>
                {% else %}
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="
                        {% if data.savingsInvestments == 'completed' %}
                            s&i/capital-select-capital?section=savingsInvestments
                        {% elif data.savingsInvestments == 'inprogress' %}
                            s&i/capital-select-capital?section=savingsInvestments
                        {% else %}
                            s&i/capital-select-capital?savingsInvestments=inprogress
                        {% endif %}
                    " aria-describedby="company-details-5-status">
                        Savings and investments
                    </a>
                    </div>
                    {% if data.savingsInvestments == 'completed' %}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            Completed
                        </div>
                    {% elif data.savingsInvestments == 'inprogress'%}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                            <strong class="govuk-tag govuk-tag--orange">
                                In progress
                            </strong>
                        </div>
                    {% else %}
                        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
                            Cannot start yet
                        </div>
                    {%endif%}
                </li>
                {%endif%}
            </ul>


            {% if data.newAddress == 'completed' and data.liveNow and data.partnerDetails and data.savingsInvestments == 'completed' %}

            <h2 class="govuk-heading-m">Submit your new details</h2>
            <p class="govuk-body">By submitting this change you are confirming that the information you are giving is complete and correct.</p>

        <form method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
        <div class="govuk-inset-text">
                <a href="your-state-pension.html" class="govuk-link">Return to your State Pension details</a>
            </div>
        {% else %}

            <h2 class="govuk-heading-m">If you need help</h2>
            <p class="govuk-body">
                If you need help or want to tell us about your change of address another way,  <a href="https://www.gov.uk/contact-pension-service/report-changes" class="govuk-link" target="_blank">contact the Pension Service by phone or post (opens in a new tab)</a>.
            </p>

            <div class="govuk-inset-text">
                <a href="your-state-pension.html" class="govuk-link">Return to your State Pension details</a>
            </div>

        </fieldset>
        {%endif%}
        </div>
    </div>
    
    <!-- <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div> -->
  </div>

{% endblock %}
