{% extends "layout_noback.html" %}

{% block pageTitle %}
  You have changed how often we will pay you - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          You have changed how often we will pay your State Pension
        </h1>
      </div>
      <!-- <p class="govuk-body">We have sent you a confirmation email.</p> -->
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        We will pay you:
        <ul class="govuk-list govuk-list--bullet">
          <li>
            {% if data['first-payment-amount-conf'] %}
              £{{ data['first-payment-amount-conf'] }}
            {% else %}
              £815.40
            {% endif %}
             on
            {% if data['first-payment-date-conf'] %}
              <span>{{ data['first-payment-date-conf'] }}</span>
            {% else %}
              Friday 4 August 2023
            {% endif %}
          </li>
          <li>
            {% if data['part-payment-amount-conf'] %}
              £{{ data['part-payment-amount-conf'] }}
            {% else %}
              £203.85
            {% endif %}
            on
            {% if data['part-payment-date-conf'] %}
              <span>{{ data['part-payment-date-conf'] }}</span>
            {% else %}
              Friday 11 August 2023
            {% endif %}
          </li>
          <li>
            {% if data['regular-payment-amount-conf'] %}
              £{{ data['regular-payment-amount-conf'] }}
            {% else %}
              £407.70
            {% endif %}
            {% if data['frequency-select'] %}
              <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
            {% else %}
              every 2 weeks
            {% endif %}
            starting from
            {% if data['regular-payment-date-conf'] %}
              {{ data['regular-payment-date-conf'] }}
            {% else %}
              Friday 25 August 2023
            {% endif %}
          </li>
        </ul>
        <h3 class="govuk-heading-s">Payment details</h3>
        <p class="govuk-body">
          Your payment of
          {% if data['first-payment-amount-conf'] %}
            £{{ data['first-payment-amount-conf'] }}
          {% else %}
            £815.40
          {% endif %}
          is for the period 8 July to 4 August. This payment cannot be changed.
        </p>
        <p class="govuk-body">
          Your payment of
          {% if data['part-payment-amount-conf'] %}
            £{{ data['part-payment-amount-conf'] }}
          {% else %}
            £203.85
          {% endif %}
          is for the period 5 August to 11 August. This is a one-off payment so we can start paying you
          {% if data['frequency-select'] %}
            <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>.
          {% else %}
            every 2 weeks.
          {% endif %}
        </p>
        <p class="govuk-body">
          Your regular payments of
          {% if data['regular-payment-amount-conf'] %}
            £{{ data['regular-payment-amount-conf'] }}
          {% else %}
            £407.70
          {% endif %}
          {% if data['frequency-select'] %}
            <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
          {% else %}
            every 2 weeks
          {% endif %}
          start from 25 August.
        </p>


      <p class="govuk-body">
        We will send you a letter to confirm you have changed how often we will pay your State Pension.
      </p>
      <h2 class="govuk-heading-m">
        If you receive Pension Credit
      </h2>
      <p class="govuk-body">
        If you need to change how often you get Pension Credit, <a href="../contact-pension-service.html" target="_blank">contact the Pension Service by phone or post (opens in new tab)</a>.
      </p>
      <h2 class="govuk-heading-m">
        Help improve this service
      </h2>
      <p class="govuk-body">
        You can <a href="#">help improve this service by giving us your feedback (opens in new tab)</a>.
      </p>
      <div class="govuk-inset-text">
        <a href="../your-state-pension&updated.html" class="govuk-link">Return to your State Pension details</a>
      </div>
      <p class="govuk-body">
        <a href="../signed-out.html">Sign out</a>
      </p>
      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
        {
          href: "you-have-changed-how-often-we-pay-you&1.html",
          text: "Scenario 1"
        },
        {
          href: "you-have-changed-how-often-we-pay-you&2.html",
          text: "Scenario 2"
        },
        {
          href: "you-have-changed-how-often-we-pay-you&3.html",
          text: "Scenario 3"
        },
          {
            href: "/frequency/1-0/signed-you-out.html",
            text: "Service sign out"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
