
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Design Sprint 0 - Initial ideas
      </h1>

      <h2 class="govuk-heading-m">Initial MVP</h2>


      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="1-0/index.html">MVP release 1</a><br>
          <ul>
            <li>User navigates to direct link given in Private Beta comms</li>
            <li>Only accepting bank change, simple and automated</li>
            <li>Eligibility questions filter only users on New State Pension who are already in GYSP and won't have complex factors on their account (overseas)</li>
            <li>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Jump to a page
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul>
                    <li><a href="1-0/index.html">Fake GOV.UK start page</a></li>
                    <li><a href="1-0/eligibility-1.html">When did you start claiming your State Pension?</a></li>
                    <li><a href="1-0/eligibility-2.html">Were you invited?</a></li>
                    <li><a href="1-0/eligibility-3.html">Do you need to update your bank details?</a></li>
                    <li><a href="1-0/eligibility-4.html">Have you ever lived or worked overseas?</a></li>
                    <li><a href="1-0/ineligible.html">You cannot use this service yet</a></li>
                    <li><a href="1-0/idv-placeholder.html">IDV placeholder</a></li>
                    <li><a href="1-0/idv-fail.html">IDV fail</a></li>
                    <li><a href="1-0/idv-success.html">IDV success</a></li>
                    <li><a href="1-0/bank-playback.html">Where your State Pension is currently paid (playback)</a></li>
                    <li><a href="1-0/end.html">Don't want to change bank details - endpoint</a></li>
                    <li><a href="1-0/bank-change-1.html">UK or overseas account?</a></li>
                    <li><a href="1-0/end-overseas.html">Overseas account - endpoint</a></li>
                    <li><a href="1-0/bank-change-2.html">Enter new bank details</a></li>
                    <li><a href="1-0/email.html">Email confirmation</a></li>
                    <li><a href="1-0/email-alt.html">Email confirmation - no email address on account</a></li>
                    <li><a href="1-0/check-answers.html">Check your answers</a></li>
                    <li><a href="1-0/confirmation.html">Confirmation - change complete</a></li>
                    <li><a href="1-0/confirmation-alt.html">Confirmation - change complete but too close to next payment date</a></li>
                  </ul>
                </div>
              </details>
            </li>
          </ul>
        </li>
        <li>
          <a href="1-1/index.html">Iteration 1.1</a><br>
          <ul>
            <li>Improved value proposition with full SP payment schedule and registered details playback</li>
            <li>User navigates to direct link given in Private Beta comms</li>
            <li>Only accepting bank change, simple and automated</li>
            <li>Eligibility questions filter only users on New State Pension who are already in GYSP and won't have complex factors on their account (overseas)</li>
            <li>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Jump to a page
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul>
                    <li><a href="1-1/index.html">Fake GOV.UK start page</a></li>
                    <li><a href="1-1/eligibility-1.html">When did you start claiming your State Pension?</a></li>
                    <li><a href="1-1/eligibility-2.html">Were you invited?</a></li>
                    <li><a href="1-1/eligibility-4.html">Have you ever lived or worked overseas?</a></li>
                    <li><a href="1-1/ineligible.html">You cannot use this service yet</a></li>
                    <li><a href="1-1/idv-placeholder.html">IDV placeholder</a></li>
                    <li><a href="1-1/idv-fail.html">IDV fail</a></li>
                    <li><a href="1-1/idv-success.html">IDV success</a></li>
                    <li><a href="1-1/state-pension-playback.html">Your State Pension account (playback)</a></li>
                    <li><a href="1-1/end.html">Don't want to change bank details - endpoint</a></li>
                    <li><a href="1-1/bank-change-1.html">UK or overseas account?</a></li>
                    <li><a href="1-1/end-overseas.html">Overseas account - endpoint</a></li>
                    <li><a href="1-1/bank-change-2.html">Enter new bank details</a></li>
                    <li><a href="1-1/email.html">Email confirmation</a></li>
                    <li><a href="1-1/email-alt.html">Alternative email confirmation - no email address on account</a></li>
                    <li><a href="1-1/check-answers.html">Check your answers</a></li>
                    <li><a href="1-1/confirmation.html">Confirmation - change complete</a></li>
                    <li><a href="1-1/confirmation-alt.html">Confirmation - change complete but too close to next payment date</a></li>
                    <li><a href="1-1/state-pension-playback-updated.html">Updated bank details in Your State Pension account (playback)</a></li>
                  </ul>
                </div>
              </details>
            </li>
          </ul>
        </li>
        <li>
          <a href="1-2/index.html">Iteration 1.2</a><br>
          <ul>
            <li>User navigates to direct link given in Private Beta comms</li>
            <li>Accepting all bank changes, more complex will fall into manual queue</li>
            <li>Eligibility questions filter only users on New State Pension who are already in GYSP</li>
            <li>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Jump to a page
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul>
                    <li><a href="1-2/index.html">Fake GOV.UK start page</a></li>
                    <li><a href="1-2/eligibility-1.html">When did you start claiming your State Pension?</a></li>
                    <li><a href="1-2/eligibility-2.html">Were you invited?</a></li>
                    <li><a href="1-2/ineligible.html">You cannot use this service yet</a></li>
                    <li><a href="1-2/idv-placeholder.html">IDV placeholder</a></li>
                    <li><a href="1-2/idv-fail.html">IDV fail</a></li>
                    <li><a href="1-2/idv-success.html">IDV success</a></li>
                    <li><a href="1-2/state-pension-playback.html">Your State Pension account (playback)</a></li>
                    <li><a href="1-2/end.html">Don't want to change bank details - endpoint</a></li>
                    <li><a href="1-2/bank-change-1.html">UK or overseas account?</a></li>
                    <li><a href="1-2/end-overseas.html">Overseas account - endpoint</a></li>
                    <li><a href="1-2/bank-change-2.html">Enter new bank details</a></li>
                    <li><a href="1-2/email.html">Email confirmation</a></li>
                    <li><a href="1-2/email-alt.html">Alternative email confirmation - no email address on account</a></li>
                    <li><a href="1-2/check-answers.html">Check your answers</a></li>
                    <li><a href="1-2/confirmation.html">Confirmation - change complete</a></li>
                    <li><a href="1-2/confirmation-alt.html">Confirmation - change complete but too close to next payment date</a></li>
                    <li><a href="1-2/confirmation-alt-manual.html">Alternative confirmation for manual queued change - change received</a></li>
                    <li><a href="1-2/state-pension-playback-updated.html">Updated bank details in Your State Pension account (playback)</a></li>
                    <li><a href="1-2/state-pension-playback-updated-status.html">Pending update to bank details in Your State Pension account (playback)</a></li>
                  </ul>
                </div>
              </details>
            </li>
          </ul>
        </li>
        <li>
          Iteration 1.3<br>
          <ul>
            <li>TODO</li>
          </ul>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Future view</h2>


      <ul class="govuk-list govuk-list--bullet">
        <li>
          TODO
        </li>
        <li>
          TODO
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
