
{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        WIP: Adding email confirmation
      </h1>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="manage-state-pension.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Jump to a page in the journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Pre OIDV</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="manage-state-pension.html">Mock GOV.UK start page</a></li>
            <li><a href="how-did-you-find-the-service.html">How did you find out about this service?</a></li>
            <li><a href="privacy-notice.html">Privacy notice</a></li>
            <li><a href="cannot-use-service.html">You cannot use this service yet</a></li>
          </ul>
          <h3 class="govuk-heading-s">Your State Pension details</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="your-state-pension.html">Your State Pension overview if status is 'Receiving State Pension'</a></li>
            <li><a href="your-state-pension&issues.html">Your State Pension overview if status is <strong>anything other than</strong> 'Receiving State Pension'</a></li>
          </ul>
          <h3 class="govuk-heading-s">Bank details change</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="do-you-want-uk-account.html">Do you want to use a UK bank or building society account?</a></li>
            <li><a href="can-only-use-uk-account.html">You can only use this service with a UK bank or building society account</a></li>
            <li><a href="bank-or-building-society-details.html">Enter new bank details</a></li>
            <li><a href="bank-email/would-you-like-email-confirmation.html">Would you like email confirmation</a></li>
            <li><a href="bank-email/email.html">Confirm email address</a></li>
            <li><a href="check-your-details.html">Check your answers for bank details</a></li>
            <li><a href="you-have-changed-your-bank-details.html">Bank details changed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Payment frequency change</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-how-often-we-will-pay-you.html">Select payment frequency</a></li>
            <li><a href="frequency-email/would-you-like-email-confirmation.html">Would you like email confirmation</a></li>
            <li><a href="frequency-email/email.html">Confirm email address</a></li>
            <li><a href="check-how-often-we-will-pay-you.html">Check your answers for payment frequency</a></li>
            <li><a href="frequency-confirmations/you-have-changed-how-often-we-pay-you&1.html">Payment frequency changed - new deferral letter wording</a></li>
          </ul>
          <h3 class="govuk-heading-s">Get help</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="contact-pension-service.html">Get help - iterated version of GOV.UK contact Pension Service page</a></li>
            <li><a href="contact-pension-service&welsh.html">Get help Welsh version - iterated version of Welsh GOV.UK contact Pension Service page</a></li>
          </ul>
        </div>
      </details>
      <h2 class="govuk-heading-m">Version notes</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added in extra screens to ask if email confirmation wanted and confirm the email address</li>
        <li>Added alternative email entry screen for users who don't already have an email address on their SP record</li>
        <li>Updating payment frequency journey to be more dynamic and use custom data to make usability testing easier</li>
        <li>Added 'detailed payment schedule' page to show for users who are due to receive 1 or 2 different payments before getting to their regular amount</li>
      </ul>

      <h2 class="govuk-heading-m">Alternative pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="frequency-email/email-alt.html">Give email address if you don't have one on SP record</a></li>
        <li><a href="detailed-payment-schedule.html">Detailed payment schedule for users who have different payments to come before their regular payment starts</a></li>
      </ul>

      <!-- <h2 class="govuk-heading-m">Experimental design</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=""></a></li>
      </ul> -->

{% endblock %}
