{% extends "layout.html" %}

{% block pageTitle %}
What is your postcode? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="https://prototype-dth.herokuapp.com/idv/hmrciv/start-page?service-name=manage-your-state-pension">
        <h1 class="govuk-heading-l">What is your postcode?</h1>
          <div class="govuk-form-group">
           <label class="govuk-label" for="three-quarters">
             Postcode
           </label>
           <div id="sort-code-hint" class="govuk-hint">
            For example, AA3 1AB.
          </div>
            <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters" type="text">
          </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="contact-pension-service&help.html" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}
