{% extends "layout.html" %}

{% block pageTitle %}
  Your registration was successful - Manage your State Pension - GOV.UK
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="sign-in" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Your registration was successful
          </h1>
          <p>
            You’ve successfully registered for this service and can now sign in.
          </p>
          <h2 class="govuk-heading-m">
            What happens next
          </h2>
          <p>
            Before you start to use this service, we’ll need to confirm who you are so we can protect you from fraud.
          </p>
          <p>
            Once you’ve signed in, you’ll need to answer some security questions about documents you may have or personal details about yourself.
          </p>
          <p>
            The answers you provide will only be used to help us confirm who you are.
          </p>
          <div class="govuk-inset-text">
            <p>You may need to re-enter details about yourself. This is nothing to worry about. It simply helps us confirm it is you and protect you from fraud.</p>
          </div>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue to sign in
        </button>
      </form>
    </div>
  </div>

{% endblock %}
