{% extends "layout.html" %}

{% block pageTitle %}
  Prove your identity with GOV.UK One Login - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="create-account" method="post">

      <h1 class="govuk-heading-l">
        Sign in with GOV.UK One Login
      </h1>

      <p class="govuk-body">
          You need to sign in with your GOV.UK One Login. If you do not have a GOV.UK One Login, you'll need to create one.
      </p>

      <h2 class="govuk-heading-m">
          Prove your identity
      </h2>

      <p class="govuk-body">
          To help keep your information safe, you may be asked to prove your identity.
      </p>

      <p class="govuk-body">
          You'll need:
      </p>

      <ul class="govuk-list govuk-list--bullet">
          <li>a valid photo ID, such as a passport or driving licence</li>
      </ul>

      <p class="govuk-body">
          Or, if you haven't got photo ID, you can still prove your identity with:
      </p>

      <ul class="govuk-list govuk-list--bullet">
          <li>your bank or building society account details</li>
          <li>your National Insurance number</li>
      </ul>

      <h2 class="govuk-heading-m">
          If you already have a GOV.UK One Login
      </h2>

      <p class="govuk-body">
          Sign into GOV.UK One Login with the details you've previously set up.
      </p>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    </div>
</div>
  <!-- <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      Get help
    </h2>
    <h3 class="govuk-heading-s">
      England, Scotland and Wales
    </h3>
    <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>

    <h3 class="govuk-heading-s">
      Northern Ireland
    </h3>
    <p><a href="https://www.nidirect.gov.uk/contacts/nidirect-account-support" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
  </div> -->
</div>
</div>

    

{% endblock %}


