{% extends "layouts/main.html" %}

{% block pageTitle %}
Reset your password - GOV.UK One Login
{% endblock %}



{% block beforeContent %}
{% include "/includes/phase-banner.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/onward-journey/answer" method="post">

      <h1 class="govuk-heading-l">Reset your password</h1>

        <input type="hidden" name="_csrf" value="R5llNOhf-XOT-AHiIgPkphEHnEIHIHcEh0Wo">
            <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                
        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Enter a new password
          </label>
          <div id="password-hint" class="govuk-hint">
            It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as ‘password’ or a sequence of numbers.
          </div>
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password" aria-autocomplete="list"><span class="govuk-input__icon govuk-input__icon--right" onclick="togglePasswordVisibility('password', this)"></span><span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span> 
        </div>
        </div>
        
            <div class="govuk-form-group">
              <label class="govuk-label" for="confirm-password">
                Re-type your new password
              </label>
              
              <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                <div class="govuk-input__wrapper">
                  <input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="confirm-password" name="confirm-password" type="password" spellcheck="false" aria-describedby="confirm-password-hint" autocomplete="new-password" aria-autocomplete="list">
                  <span class="govuk-input__icon govuk-input__icon--right" onclick="togglePasswordVisibility('confirm-password', this)"></span>
                  <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                </div>
              </div>
            </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How to create a secure password
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.</p>
                <p class="govuk-body">You should use a password that you do not use for anything else.</p>
              </div>
            </details>
        
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
      
      </form>
    </div>
  </div>
</main>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-!-padding-bottom-3"></div>

<div class="govuk-notification-banner govuk-notification-banner--journey-options" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header govuk-notification-banner__header--journey-options">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Prototype options
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">You can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p class="govuk-body">
          <a href="/authentication/sign-in/emails/password-reset-confirmation" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">view password reset confirmation email (opens in new tab)</a>
          </p>
      </li>
      <li>
        <p class="govuk-body">
          <a href="/authentication/sign-in/text-messages/password-reset-confirmation" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">view password reset confirmation text message (opens in new tab)</a>
          </p>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-!-padding-bottom-6"></div>

</div>
</div>












{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/showPassword.js"></script>
  <script>
    // Initialize the ShowPassword module
    var showPasswordElements = document.querySelectorAll('[data-module="show-password"]');
    for (var i = 0; i < showPasswordElements.length; i++) {
      new window.GOVUK.Modules.ShowPassword(showPasswordElements[i]).init();
    }
  </script>
{% endblock %}

