{% extends "layout.html" %}

{% block pageTitle %}
  We cannot show your State Pension details - Manage your State Pension - GOV.UK
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="state-pension-playback" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            We cannot show your State Pension details
          </h1>
          <p>If you need to report a change in your circumstances <a href="https://www.gov.uk/contact-pension-service">contact the Pension Service by phone or post</a>.</p> 
      </div>
    </form>
    <p><a href="https://www.gov.uk/">Return to GOV.UK</a></p>

    </div>
  </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "state-pension-playback.html",
            text: "Original overview page"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}