{% extends "layout_noback_nowelsh" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include "includes/_header-nav-find.html" %}

{% block headEnd %}
{% endblock %}

<div class="govuk-width-container">
  <a href="find-someone.html" class="govuk-back-link">Back</a>
  <nav class="hmrc-language-select" aria-label="Language switcher">
    <ul class="hmrc-language-select__list">
      <!-- <a href="task_list.html" class="govuk-back-link">Back</a> -->
      <!-- <li class="hmrc-language-select__list-item">
        <span aria-current="true">English</span>
      </li>
      <li class="hmrc-language-select__list-item">
        <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <span aria-hidden="true">Cymraeg</span>
        </a>
      </li> -->
    </ul>
  </nav>
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-full">
        <!-- {% include 'includes/_bar-receiving.html' %} -->
        {% include 'includes/_bar.html' %}
        <p><span class="moj-badge">Legacy Record</span></p>
          <p>This record is managed in PSCS and CAM</p>

        <div>
          <a href="record-personal" button type="submit" class="govuk-button">
            Continue</a>
        </div>
        

          
          </div>
        </div>
      </main>
</div>
{% endblock %}




