{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong><br>
        Find someone
      </h1>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="find-someone.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
    

      <h2 class="govuk-heading-m">Version notes</h2>

      <h2 class="govuk-heading-s">Find someone</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Journey for agents being able to search for a citizen in GYSP who's record is in PSCS</li>

        <li>Based on <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1732110639028/d3c6ed9b0d89cdcb60d2eb707c64791cde75930e?wid=0-1740157237191" target="_blank">workshops and ideation sessions</a>
        <li><a href="https://dwpdigital.atlassian.net/browse/RFP-6141" target="_blank">RFP 6141 - JIRA ticket for Epic level ticket</a></li>
        <li><a href="https://dwpdigital.atlassian.net/browse/RFP-8183" target="_blank">RFP 8183 - JIRA ticket for iterations</a></li>
      </ul>

      <h3 class="govuk-heading-s">Findr</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="find-someone.html">Initial find someone screen</a></li>
          <li><a href="find-confirm.html">Confirm citizen</a></li>
          <li><a href="record-personal.html">Citizen record with limited functionality</a></li>
          <li><a href="update_bank_account.html">Bank account request task</a></li>
        </ul>

            <h2 class="govuk-heading-m">Additional pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>TBC</li>
      </ul>
      <!-- <h2 class="govuk-heading-s">Exceptions for change of address</h2>
      <p> Journeys for users who enter a duplicate address through address lookup and manual address entry</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://localhost:3000/contact/3-0/change-of-address/duplicate/uk-address" target="_blank"> Scenario 1 - Duplicate change of address through address lookup</a>
        <li><a href="#" target="_blank">Scenario 2 - Duplicate change of address through manual address entry</a>
      </ul>-->

      <h2 class="govuk-heading-m">Alternative pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li><a href="update_bank_account_2.html">Bank account alt version</a></li> -->
      </ul>

      <!-- <h2 class="govuk-heading-m">Experimental design</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=""></a></li>
      </ul> -->

{% endblock %}

