{% extends "layout_noback_nowelsh" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% include 'includes/_header-nav-find.html' %}

{% block headEnd %}
{% endblock %}


<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds"></div>
  <nav class="hmrc-language-select" aria-label="Language switcher">

  </nav>

  <main class="govuk-main-wrapper">
    {% include 'includes/_bar-receiving.html' %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <nav class="navigation-secondary govuk-!-margin-bottom-7">
          <ul>
            <li>
            <a class="active" href="">Tasks</a>
            </li>
          </ul>
        </nav>

          <h2 class="govuk-heading-m">Outstanding tasks for this account
          </h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:15px;">
              <dd class="govuk-summary-list__value">
                Method of payment (SP MOP)
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-!-font-size-19" href="update_bank_account.html">
                  View<span class="govuk-visually-hidden"> task</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>  
{% endblock %}



