{% extends "layout_noback_nosignout.html" %}

{% block pageTitle %}
  You cannot use this service - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="bank-playback" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">
            Sorry, the service is unavailable
        </h1>
        <p class="govuk-body">
          You will be able to use the service from 9am on Monday 27 May 2024.
        </p>
        <p class="govuk-body">
          The quickest way to manage your State Pension is to return to this online service when it becomes available.
        </p>
        <p class="govuk-body">You can also:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/contact-pension-service/report-changes">contact the Pension Service </a>, if you live in England or Wales</li>
            <li><a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">contact the Northern Ireland Pension Centre</a>, if you live in Northern Ireland</li>
          </ul>

        <p class="govuk-body">
         These helplines do not open until 9am on Tuesday 28 May 2024.
        </p>
      </div>
    </form>
  </div>
</div>

{% endblock %}

