{% extends "layout_nosignout.html" %}

{% block pageTitle %}
  Cannot create an account - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">If you cannot create an account</h1>
      <p class="govuk-body">
        To report a change in your circumstances, <a href="contact-pension-service.html">contact the Pension Service by phone or post</a>.
      </p>
      <p class="govuk-body">
        If you live in Northern Ireland, <a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">contact the Northern Ireland Pension Centre by phone or post</a>.
      </p>


    </div>
  </div>

{% endblock %}
