{% extends "layout.html" %}

{% block pageTitle %}
  How often do you want us to pay you? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/how-often7" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="frequency-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How often do you want us to pay your State Pension?
              </h1>
            </legend>

            {% if data['payment-frequency'] == 'Every 4 weeks (13 payments a year)' %}
              <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="weekly" name="frequency-select" type="radio" value="Every week" {{ checked("paid-weekly", "Every week") }}>
                  <label class="govuk-label govuk-radios__label" for="weekly">
                    Every week
                  </label>
                </div>
                {% if data['entitled-to2'] == 'entitled' %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="2weekly" name="frequency-select" type="radio" value="Every 2 weeks" {{ checked("paid-2weekly", "Every 2 weeks") }}>
                      <label class="govuk-label govuk-radios__label" for="2weekly">
                        Every 2 weeks
                      </label>
                    </div>
                {% endif %}
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="keep4weekly" name="frequency-select" type="radio" value="Every 4 weeks" {{ checked("keep-4weekly", "Every 4 weeks") }}>
                  <label class="govuk-label govuk-radios__label" for="keep4weekly">
                    Keep payments every 4 weeks
                  </label>
                </div>
              </div>
            {% elif data['payment-frequency'] == 'Every 2 weeks' %}
              <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="weekly" name="frequency-select" type="radio" value="Every week" {{ checked("paid-weekly", "Every week") }}>
                  <label class="govuk-label govuk-radios__label" for="weekly">
                    Every week
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="4weekly" name="frequency-select" type="radio" value="Every 4 weeks" {{ checked("paid-4weekly", "Every 4 weeks") }}>
                  <label class="govuk-label govuk-radios__label" for="4weekly">
                    Every 4 weeks
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="keep2weekly" name="frequency-select" type="radio" value="Every 2 weeks" {{ checked("keep-2weekly", "Every 2 weeks") }}>
                  <label class="govuk-label govuk-radios__label" for="keep2weekly">
                    Keep payments every 2 weeks
                  </label>
                </div>
              </div>
            {% elif data['payment-frequency'] == 'Every week' %}
              <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                {% if data['entitled-to2'] == 'entitled' %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="2weekly" name="frequency-select" type="radio" value="Every 2 weeks" {{ checked("paid-2weekly", "Every 2 weeks") }}>
                    <label class="govuk-label govuk-radios__label" for="2weekly">
                      Every 2 weeks
                    </label>
                  </div>
                {% endif %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="4weekly" name="frequency-select" type="radio" value="Every 4 weeks" {{ checked("paid-4weekly", "Every 4 weeks") }}>
                  <label class="govuk-label govuk-radios__label" for="4weekly">
                    Every 4 weeks
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="keepweekly" name="frequency-select" type="radio" value="Every week" {{ checked("keep-weekly", "Every week") }}>
                  <label class="govuk-label govuk-radios__label" for="keepweekly">
                    Keep payments every week
                  </label>
                </div>
              </div>
            {% else %}
              <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="weekly" name="frequency-select" type="radio" value="Every week" {{ checked("paid-weekly", "Every week") }}>
                  <label class="govuk-label govuk-radios__label" for="weekly">
                    Every week
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="2weekly" name="frequency-select" type="radio" value="Every 2 weeks" {{ checked("paid-2weekly", "Every 2 weeks") }}>
                  <label class="govuk-label govuk-radios__label" for="2weekly">
                    Every 2 weeks
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="keep4weekly" name="frequency-select" type="radio" value="Every 4 weeks" {{ checked("keep-4weekly", "Every 4 weeks") }}>
                  <label class="govuk-label govuk-radios__label" for="keep4weekly">
                    Keep payments every 4 weeks
                  </label>
                </div>
              </div>
            {% endif %}
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="contact-pension-service&help.html" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "change-how-often-we-will-pay-you&single",
            text: "Single option view"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
