{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
          Complete
        </strong><br>
        Open the front door for all citizens (GySP and Legacy records)
      </h1>

      <h1 class="govuk-heading-xl">
        Change of address is available to all citizens
      </h1>


      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="contact-pension-service.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Jump to a page in the journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            
            <li><a href="manage-state-pension.html">MySP start page</a>
            <li><a href="privacy-notice.html">How we use your information</a></li>
            <li><a href="interstitial-screen.html">Interstitial screen</a>
            <li><a href="create-account.html">Sign in or create an account</a></li>
            <li><a href="idv-success.html">One Login account creation success</a></li>
            <li><a href="your-state-pension.html">Your State Pension for GySP citizens</a></li>
            <li><a href="your-state-pension-legacy.html">Your State Pension for legacy citizens</a></li>
          </ul>
          <h3 class="govuk-heading-s">Your State Pension details</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="your-state-pension.html">Your State Pension overview if status is 'Receiving State Pension'</a></li>
            <li><a href="your-state-pension&issues.html">Your State Pension overview if status is <strong>anything other than</strong> 'Receiving State Pension'</a></li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Version notes</h2>

      <h2 class="govuk-heading-s"></h2>
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li></li>
        <li></li> -->
      </ul>

      <h2 class="govuk-heading-s">Open the front door</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Iteration 5</li>
        <li><a href="https://dwpdigital.atlassian.net/browse/RFP-12193" target="_blank">JIRA ticket for this piece of work</a></li>
        <li><a href="https://lucid.app/lucidspark/a9a81d22-05f1-462d-aba0-5db1b87a6c18/edit?view_items=atw2UUURJwCg&page=0_0&invitationId=inv_2e596c53-ccc6-4645-8290-7e4469b80e70" target="_blank">Board for design and ideation</a></li>        
        <li><a href="" target="_blank">Design documentation</a>
        <li>Allowing access into the GYSP service from a public link online</li>
        <li>Assuming change of address will be the first feature that can be accessed by both GySP and Legacy citizens</li>
        <li>The eligibility checker has been removed from the journey now that address will be available to all citizens. This includes the screens 'Have you received a letter', "date of birth", and screens showing the result of the eligibility checker informing citizens what they can do in the service
        <li>MySP start page has a bulletted list of things you 'may' be able to do if you are born after 1955 as we cant be 100% sure
        <li>There is a small number of people who's birth date is out of sync on our systems due to an equalisation period so they may not get the experience they expect. The language around what additional things a citizen can do is a little vague to account for this. This is something we cannot get around unless we have an accurate date of birth for all of our citizens
        <li>The majority of citizens will be on legacy so the additional features can only be used by 17% of Pensioners which doesnt account for citizens who dont have access to online services so this figure may be less
        <li>The best scenario is that a citizen on GySP reaches the MySP dashboard to find out they can do more than a change of address
        <li>The worst scenario is that a citizen on Legacy reaches the MySP dashboard to find out they can do a change of address.
      </ul>

      <h2 class="govuk-heading-m">Additional pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>TBC</li>
      </ul>
      <!-- <h2 class="govuk-heading-s">Exceptions for change of address</h2>
      <p> Journeys for users who enter a duplicate address through address lookup and manual address entry</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://localhost:3000/contact/3-0/change-of-address/duplicate/uk-address" target="_blank"> Scenario 1 - Duplicate change of address through address lookup</a>
        <li><a href="#" target="_blank">Scenario 2 - Duplicate change of address through manual address entry</a>
      </ul>-->

      <h2 class="govuk-heading-m">Alternative pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">TODO</li>
      </ul>

      <!-- <h2 class="govuk-heading-m">Experimental design</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=""></a></li>
      </ul> -->

{% endblock %}

