{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% set htmlClasses = "app-email" %}
{% set bodyClasses = "app-email__body" %}
{% block footer %}{% endblock %}

{% block pageTitle %}
Created GOV.UK One Login email - GOV.UK One Login
{% endblock %}

{% block headIcons %}
<link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
<link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Creating or signing in to a GOV.UK One Login</span>
  Created GOV.UK One Login email
</h1>

<div class="email-message">
  <table class="email-message-meta">
    <tbody>
          <tr>
            <th scope="row">From</th>
            <td>
             GOV.UK One Login
            </td>
          </tr>
      
        <tr>
          <th scope="row">To</th>
          <td>
            <span class="placeholder-no-brackets background: #fd0;">Email address</span>
          </td>
        </tr>
      
      <tr class="email-message-meta">
        <th scope="row">Subject</th>
        <td>
          Your GOV.UK One Login
        </td>
      </tr>
    </tbody>
  </table>
  <div class="email-message-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
    <p class="govuk-body">
      You’ve created your GOV.​UK One Login.</p>
    <p class="govuk-body">Sign in to your GOV.​UK One Login to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>manage your sign in details</li>
  <li>see and access the services you’ve used with it</li>
</ul>
<p class="govuk-body">
  Sign in: <a href="#" class="govuk-link">https://www.gov.uk/account</a>
</p>
<p class="govuk-body">GOV.​UK One Login is new. At the moment you can only use it to access some government services.</p>
<p class="govuk-body">It does not work with all government accounts and services yet (for example Government Gateway or Universal Credit).</p>
<p class="govuk-body">In the future, you’ll be able to use your GOV.​UK One Login to access all services on GOV.​UK.</p>
<p class="govuk-body">
If you have questions, problems or suggestions for how we could make your GOV.UK One Login better, you can contact us: <a href="#" class="govuk-link">https://signin.account.gov.uk/contact-us</a>
</p>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4  govuk-!-margin-top-4">

<p class="govuk-bodygovuk-!-margin-bottom-6">Do not reply to this email - it’s an automatic message from an unmonitored account.</p>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4  govuk-!-margin-top-4">


<h2 class="govuk-heading-m">Eich GOV.​UK One Login</h2>
<p class="govuk-body">
  Rydych wedi creu eich GOV.​UK One Login.</p>
<p class="govuk-body">Mewngofnodwch i’ch GOV.​UK One Login i:</p>
<ul class="govuk-list govuk-list--bullet">
<li>reoli eich manylion mewngofnodi</li>
<li>gweld a chael mynediad at y gwasanaethau rydych chi wedi’u defnyddio gydag ef</li>
</ul>
<p class="govuk-body">
  Mewngofnodi: <a href="#" class="govuk-link">https://www.gov.uk/account</a>
</p>
<p class="govuk-body">Mae GOV.​UK One Login yn newydd. Ar hyn o bryd gallwch ond ei ddefnyddio i gael mynediad i rai gwasanaethau’r llywodraeth.</p>
<p class="govuk-body">Nid yw’n gweithio gyda phob cyfrif neu wasanaeth y llywodraeth hyd yma (er enghraifft Porth y Llywodraeth neu Gredyd Cynhwysol).</p>
<p class="govuk-body">Yn y dyfodol, byddwch yn gallu defnyddio eich GOV.​UK One Login i gael mynediad i holl wasanaethau ar GOV.​UK.</p>
<p class="govuk-body">
  Os oes gennych gwestiynau, problemau neu awgrymiadau am sut y gallem wneud eich GOV.​UK One Login yn well, gallwch gysylltu â ni: <a href="#" class="govuk-link">https://signin.account.gov.uk/contact-us</a>
</p>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4  govuk-!-margin-top-4">

<p class="govuk-bodygovuk-!-margin-bottom-6">Peidiwch ag ymateb i’r e-bost hwn – mae’n neges awtomatig o gyfrif heb ei fonitro.</p>













  
  </div>
</div>

{% endblock %}


