{% extends "layout.html" %}

{% block pageTitle %}
  Check your details - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We will send letters to</h1>
      <p class="govuk-body"><p>
        {% if data['new-address-line-1'] %}
              {{ data['new-address-line-1'] }}<br>
            {% else %}
              123 Square Street<br>
            {% endif %}
            {% if data['new-address-line-2'] %}
              {{ data['new-address-line-2'] }}<br>
            {% else %}
              York<br>
            {% endif %}
            {% if data['new-address-line-3'] %}
              {{ data['new-address-line-3'] }}<br>
            {% endif %}
            {% if data['new-postcode'] %}
              {{ data['new-postcode'] }}
            {% else %}
              YO3 1SQ
            {% endif %}
      </p>

      <form action="you-have-removed-your-correspondence-address?new-correspondence-address-line-1&new-correspondence-address-line-2&new-correspondence-address-line-3&new-correspondence-postcode" method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Confirm and submit
        </button>
      </form> 
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>
  

{% endblock %}
{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
