{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to remove? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/remove-correspondence-address" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you sure you want to remove this address?
              </h1>
            </legend>
            <div class="govuk-inset-text">
              {% if data['correspondence-address-line-1'] %}
              {{ data['correspondence-address-line-1'] }}<br>
              {% else %}
                17 Abbey Street<br>
              {% endif %}
              {% if data['correspondence-address-line-2'] %}
              {{ data['correspondence-address-line-2'] }}<br>
              {% else %}
                Bath<br>
              {% endif %}
              {% if data['correspondence-address-line-3'] %}
              {{ data['correspondence-address-line-3'] }}<br>
              {% endif %}
              {% if data['correspondence-postcode'] %}
              {{ data['correspondence-postcode'] }}
              {% else %}
                BA1 1DB
              {% endif %}
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="correspondence-address-remove-yes" name="remove-correspondence-address" type="radio" value="Yes" {{ checked("remove-correspondence-address", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="home-phone-remove-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="correspondence-address-remove-no" name="remove-correspondence-address" type="radio" value="No" {{ checked("remove-correspondence-address", "No") }}>
                <label class="govuk-label govuk-radios__label" for="correspondence-address-remove-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>

{% endblock %}

