{% extends "layout_noback.html" %}

{% block pageTitle %}
  The address we send letters to has been updated - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      {% if (data['select-correspondence-address'] == "Select3") %}
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          The address we will send letters to has been updated
        </h1>
      </div>
      <h2 class="govuk-heading-s">The address we will send letters to has been updated to:</h2> 
      <p class="govuk-body">
       11 Dale Street<br>
       York<br>
       YO3 1ZF<br>

       {% elif (data['correspondence-postcode-1'] == "yo3 1zf") %}
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          The address we will send letters to has been updated
        </h1>
      </div>
      <h2 class="govuk-heading-s">The address we will send letters to has been updated to:</h2> 
        <p class="govuk-body">
         123 Square Street<br>
         York<br>
        YO3 1SQ	<br> 

      {% else %}
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          We will send letters to your home address
        </h1>
      </div>
      <h2 class="govuk-heading-s">The address we will send letters to has been updated to:</h2> 
        <p class="govuk-body">
         123 Square Street<br>
         York<br>
        YO3 1SQ	<br> 
      {% endif %} 
      


      <!-- {% if (data['select-correspondence-address'] == "Select1") %}   
      <p class="govuk-body">
        1 Dale Street<br>
        York<br>
        YO3 1ZF	<br>
        {% else %}
        {% endif %}
      
      {% if (data['select-correspondence-address'] == "Select2") %}   
      <p class="govuk-body">
        84 Square Street<br>
        York<br>
        YO3 1SQ	<br>
        {% endif %}

      

        {% if (data['select-correspondence-address'] == "Select4") %}
        <p class="govuk-body">
          123 Square Street<br>
          York<br>
          YO3 1SQ	<br>
          {% endif %}

        {% if (data['select-correspondence-address'] == "Select5") %}
        <p class="govuk-body">
          123 Square Street<br>
          York<br>
          YO3 1SQ	<br>
          {% endif %} -->
        
  
  <h2 class="govuk-heading-m">
        Help improve this service
      </h2>
      <p class="govuk-body">
        You can <a href="#">help improve this service by giving us your feedback (opens in new tab)</a>.
      </p>
      <div class="govuk-inset-text">
      <a href="your-state-pension&updated">Return to Your State Pension details.</a></div>
      <p class="govuk-body">
        <a href="signed-out.html">Sign out</a>
      </p>
      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
