{% extends "layout.html" %}

{% block pageTitle %}
  Placeholder page, not in service – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="sp-claim-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                OID&V codes required for authentication steps
              </h1>
            </legend>
            <ul class="govuk-list govuk-list--bullet">
              <li>Register email authentication: 283194</li>
              <li>Register mobile authentication: 969862</li>
              <li>Sign in mobile authentication: 471350</li>
            </ul>
          </fieldset>
        </div>

    </div>
  </div>

{% endblock %}
