{% extends "layout.html" %}

{% block pageTitle %}
  You may need to call us - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
           If you need your next payment to be paid into your new account
          </h1>
          <p class="govuk-body">
            Call us on <strong>0800 731 0469</strong> so that we can help you as quickly as possible.
          </p>
       
          <h2 class="govuk-heading"></h2>
          <p class="govuk-body">
            If you still have access to your old account, you can <a href="uk-account">continue to provide your new account details</a>. Your next payment may be paid into your old account but future payments will be paid into your new account.
          </p>  

          <a href="your-state-pension">Go back to your State Pension details</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
