{% extends "layout.html" %}

{% block pageTitle %}
  You may need to call us - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
           If you need your next payment to be paid into your new account
          </h1>
          <p class="govuk-body">
            You should contact us by phone at:
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="contact-pension-service">the Pension Service</a> if you live in England, Scotland or Wales</li>
              <li><a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre">the Northern Ireland Pension Centre</a> if you live in Northern Ireland</li>
            </ul>
          </p>
       
          <h2 class="govuk-heading-m">If you still have access to your old account</h2>
          
          <p class="govuk-body">
            You can <a href="uk-account">continue to provide your new account details</a>. Your next payment may be paid into your old account but future payments will be paid into your new account.
          </p>  

          <a href="your-state-pension">Go back to your State Pension details</a>
        </div>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <h3 class="govuk-heading-s">
        England, Scotland and Wales
      </h3>
      <p><a href="../contact-pension-service&help" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>

      <h3 class="govuk-heading-s">
        Northern Ireland
      </h3>
      <p><a href="https://www.nidirect.gov.uk/contacts/nidirect-account-support" target="_blank">Contact us by phone to get help with the online service (opens in new tab)</a></p>
    </div>
  </div>
  </div>

{% endblock %}
