{% extends "layout.html" %}

{% block pageTitle %}
Can we pay your next payment into your old account? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/can-we-pay-2" method="post">

      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Your next payment might not be sent to your new account if you update your details online
            </h1>
          </legend>
          <p class="govuk-body">We will send your next payment on Friday 17th January 2025. </p>
          <p class="govuk-body">It may take us up to 8 days to update your payment details. This means we may send your next payment to your old account. We will then send future payments to your new account.</p>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
             Do you want to continue to update your details online?
            </h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">

              <input class="govuk-radios__input" id="can-we-pay-2" name="can-we-pay-2" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="can-we-pay-2">
                Yes, I still have access to my old account
              </label>
            </div>
            <div class="govuk-radios__item">

              <input class="govuk-radios__input" id="can-we-pay-2" name="can-we-pay-2" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="can-we-pay-2">
              No, I need to call you
              </label>
            </div>
          
          </div>
        </fieldset>
      </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
   

{% endblock %}
