{% extends "layout_noback.html" %}

{% block pageTitle %}
  We will update your payment details within the next 8 days - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          We will update your payment details within the next 8 days


        </h1>
      </div>
     <p class="govuk-body">We have sent you a confirmation email.</p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        We will update your payment details within the next 8 days. We will send you an email when we have changed your payment details.
      </p>
      <p class="govuk-body">Your next payment is due on Friday 17th January and might be on its way to your old account. You told us that you still have access to your old account.</p>
      <h2 class="govuk-heading-m">Contacting us</h2>
      <p class="govuk-body">
        You may need to contact us if:
        <ul class="govuk-list govuk-list--bullet">
          <li>you need to get in touch urgently</li>
          <li>you want to change the payment details we use to pay your Pension Credit</li>
          <li>to find out what other changes you must report, and how to tell us about them</li>
        </ul>
      </p>
        <p class="govuk-body">You can contact us at:
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="contact-pension-service" target="_blank">the Pension Service (opens in new tab)</a> if you live in England, Scotland or Wales</li>
          <li><a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre" target="_blank">the Northern Ireland Pension Centre (opens in new tab)</a> if you live in Northern Ireland</li>
        </ul>
      </p>

      <div class="govuk-inset-text">
        <a href="your-state-pension-in-progress" class="govuk-link">Return to your State Pension details</a>
      </div>
      <a href="receipt-email" class="govuk-link">Prototype link - email</a>
      </div>
    </div>
  </div>

      <div class="govuk-inset-text">
        <a href="your-state-pension-in-progress" class="govuk-link">Return to your State Pension details</a>
      </div>
      <a href="receipt-email" class="govuk-link">Prototype link - email</a>
      </div>
    </div>
  </div>

 

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "you-have-changed-your-bank-details&alt.html",
            text: "Alternative confirmation page"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}