{% extends "layout.html" %}

{% block pageTitle %}
What kind of account do you want to use? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/uk-account-q" method="post">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              You can only use this service with a UK bank or building society account
            </h1>
          </legend>
          
          <p class="govuk-body">
            If you need to use another account <a href="contact-pension-service.html">contact the Pension Service by phone or post</a>.
          </p>  
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
   

{% endblock %}
