{% extends "layout_noback.html" %}

{% block pageTitle %}
  Your State Pension - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
        
          {{ data['first-name'] }}&nbsp{{ data['last-name'] or "Alex Jones" }}
        </span>
        Your State Pension
      </h1>
     
    
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:0px;">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['current-address-line-1'] %}
              {{ data['current-address-line-1'] }}<br>
            {% else %}
              123 Square Street<br>
            {% endif %}
            {% if data['current-address-line-2'] %}
              {{ data['current-address-line-2'] }}<br>
            {% else %}
              York<br>
            {% endif %}
            {% if data['current-address-line-3'] %}
              {{ data['current-address-line-3'] }}<br>
            {% endif %}
            {% if data['current-postcode'] %}
              {{ data['current-postcode'] }}
            {% else %}
              YO3 1SQ
            {% endif %}
          </dd>       
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            1 July 1954
          </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    National Insurance number
  </dt>
  <dd class="govuk-summary-list__value">
    {% if data['NINO'] %}
  {{ data['NINO'] }}{% else %}QQ123456C{% endif %}
  </dd>
</div>
</dl>

<h2 class="govuk-heading-m">Bank or building society details</h2>
<p class="govuk-body">
  <a href="can-we-pay.html">Tell us about a change to your bank or building society account details.</a> 
</p>

<p class="govuk-body">
  You can see what account your payments are currently being sent to by checking your statement for payments with the reference '{% if data['NINO'] %}
  {{ data['NINO'] }}{% else %}QQ123456C{% endif %} DWP SP'. Or you can contact us by phone or post at:
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="contact-pension-service" target="_blank">the Pension Service (opens in new tab)</a> if you live in England, Scotland or Wales</li>
    <li><a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre" target="_blank">the Northern Ireland Pension Centre (opens in new tab)</a> if you live in Northern Ireland</li>
  </ul>
</p>

      <h2 class="govuk-heading-m">Payment schedule</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 1px solid #b1b4b6;padding-top:15px;">
          <dt class="govuk-summary-list__key">
            How often we pay your State Pension
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['payment-frequency'] %}
              {{ data['payment-frequency'] }}
            {% else %}
              Every 4 weeks<br>(13 payments a year)
            {% endif %}
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next payment date
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['next-payment-date'] %}
              {{ data['next-payment-date'] }}
            {% else %}
              Friday 17 January 2025
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next payment amount
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['next-payment-amount'] %}
              {{ data['next-payment-amount'] | currency }}
            {% else %}
              £815.40
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
      </dl>
      
      <h2 class="govuk-heading-m">
        Telling us about other changes
      </h2>
      <p class="govuk-body">
        To find out what changes you must report, and how to tell us about them, <a href="contact-pension-service.html" target="_blank">contact the Pension Service (opens in new tab)</a>.
      </p>
      <p class="govuk-body">
        If you live in Northern Ireland, <a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre" target="_blank">contact the Northern Ireland Pension Centre by phone or post (opens in new tab)</a>.
      </p>
      <p class="govuk-body">
        In the future you will be able to use this service to: 
        <ul class="govuk-list govuk-list--bullet">
          <li>update your personal details and contact details</li>
          <li>change how often we pay your State Pension</li>
        </ul> 
      </p>
    </div>    
  </div>

      <!-- {% if data['correspondence-address'] %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" style="border-top: 0px solid #b1b4b6;padding-bottom:15px;">
          <dt class="govuk-summary-list__key">
           Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['correspondence-address-line-1'] %}
              {{ data['correspondence-address-line-1'] }}<br>
            {% else %}
              58 Pigeon Street<br>
            {% endif %}
            {% if data['correspondence-address-line-2'] %}
              {{ data['correspondence-address-line-2'] }}<br>
            {% else %}
              York<br>
            {% endif %}
            {% if data['correspondence-address-line-3'] %}
            {{ data['correspondence-address-line-3'] }}<br>
            {% endif %}
            {% if data['correspondence-postcode'] %}
              {{ data['correspondence-postcode'] }}
            {% else %}
              YO5 1AB
            {% endif %}
        <dd class="govuk-summary-list__actions">
          {% if data['correspondence-address'] %}
          <ul class="govuk-summary-list__actions-list">  
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> correspondence address</span></a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="correspondence-address/remove-address.html">Remove<span class="govuk-visually-hidden"> correspondence address</span></a>
            </li>
          </ul>
          {% endif %}
        </dd>
      </dl>
      {% else %}
        <p style="border-bottom: 1px solid #b1b4b6;padding-bottom:15px;"> If you'd like your letters sent somewhere other than your home address,<a href="correspondence-address/uk-address.html" target="_blank"> add a new correspondence address.</a></p>
      {% endif %} -->

 

     

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "your-state-pension&issues.html",
            text: "Alternative overview page"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}



        



    


        