
{% extends "layout_noback_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Change of Circumstances<br/>Retirement Services
      </h1>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--l">Service maintenance tasks</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!govuk-grid-column-two-thirds">Description</th>

            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <!-- <th scope="row" class="govuk-table__header govuk-!govuk-grid-column-two-thirds">WIP: Design Sprint ???</th> -->
            <td class="govuk-table__cell">A list of tasks being worked on to improve the service and fix issues that we uncover unexpectedly</td>
            <td class="govuk-table__cell"><a href="service-maintenance/index.html">Open</a></td>
          </tr>
        </tbody>  

        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--l">Change of address</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Link</th>
            </tr>
          </thead>
  
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP:</th>
              <td class="govuk-table__cell govuk-!-width-one-quarter"> TBC</td>
              <td class="govuk-table__cell">MVP iteration of change of address.</td>
              <td class="govuk-table__cell"><a href="contact/3-0/your-state-pension.html">Open</a></td>
            </tr>

        </table>
      

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--l">Addition of contact detail change journeys</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP: Design Sprint 4</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter"> 13 March to 27 March</td>
            <td class="govuk-table__cell">MVP iteration of contact details READY FOR DEV.</td>
            <td class="govuk-table__cell"><a href="contact/mvp/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP: Design Sprint 3</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter"> 31 January to 13 February 2024</td>
            <td class="govuk-table__cell">Second iteration of change contact details in preparation for 2nd round of UR with inclusion of address</td>
            <td class="govuk-table__cell"><a href="contact/3-0/index.html">Open</a></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP: Design Sprint 2</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">15 January to 26 anuary 2024</td>
            <td class="govuk-table__cell">First iteration of contact details including KBV questions for first round of UR</td>
            <td class="govuk-table__cell"><a href="contact/2-0/manage-state-pension.html">Open</a></td>
          </tr>
        </tbody>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP: Design Sprint 1</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">6 November to 1 December 2023</td>
            <td class="govuk-table__cell">Initial design for changing contact details based on existing GDS patterns</td>
            <td class="govuk-table__cell"><a href="contact/1-0/index.html">Open</a></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--l">Addition of email confirmation</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">WIP: Design Sprint 2</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">22 November to 5 December 2023</td>
            <td class="govuk-table__cell">Iteration of email confirmation based on usability testing feedback</td>
            <td class="govuk-table__cell"><a href="email-and-payment-schedule/2-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 1</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">15 to 29 September 2023</td>
            <td class="govuk-table__cell">Initial design for email confirmation based on other retirement services</td>
            <td class="govuk-table__cell"><a href="email-and-payment-schedule/1-0/index.html">Open</a></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--l">Addition of change payment frequency</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 5</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">21 to 29 August 2023</td>
            <td class="govuk-table__cell">MVP iteration of payment frequency - READY FOR DEV</td>
            <td class="govuk-table__cell"><a href="frequency/5-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 4</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">3 to 28 July 2023</td>
            <td class="govuk-table__cell">Third iteration of change payment frequency</td>
            <td class="govuk-table__cell"><a href="frequency/4-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 3</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">16 to 28 June 2023</td>
            <td class="govuk-table__cell">Second iteration of change payment frequency</td>
            <td class="govuk-table__cell"><a href="frequency/3-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 2</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">5 to 12 June 2023</td>
            <td class="govuk-table__cell">First iteration of change payment frequency</td>
            <td class="govuk-table__cell"><a href="frequency/2-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 1</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">4 to 18 April 2023</td>
            <td class="govuk-table__cell">Initial design is based on the BA work on requirements</td>
            <td class="govuk-table__cell"><a href="frequency/1-0/index.html">Open</a></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-table__caption--l">MVP delivery<br/>Present State Pension details and change bank account</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Prototype</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 4</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">10 to 17 February 2023</td>
            <td class="govuk-table__cell">Final iteration of MVP journey, ready for dev. Use this version for walkthroughs with stakeholders or wider teams.</td>
            <td class="govuk-table__cell"><a href="mvp/4-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 3</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">27 January to 9 February 2023</td>
            <td class="govuk-table__cell">Second round of iteration of MVP journey</td>
            <td class="govuk-table__cell"><a href="mvp/3-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 2</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">19 to 26 January 2023</td>
            <td class="govuk-table__cell">First iteration of MVP journey</td>
            <td class="govuk-table__cell"><a href="mvp/2-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 1</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">16 December 2022 to 19 January 2023</td>
            <td class="govuk-table__cell">Iteration of initial ideas incorporating team feedback</td>
            <td class="govuk-table__cell"><a href="mvp/1-0/index.html">Open</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Design Sprint 0</th>
            <td class="govuk-table__cell govuk-!-width-one-quarter">8 to 15 December 2022</td>
            <td class="govuk-table__cell">Initial ideas based on design research</td>
            <td class="govuk-table__cell"><a href="initial-ideas/v00-index.html">Open</a></td>
          </tr>
        </tbody>
      </table>

      
    </div>
  </div>

{% endblock %}
