{% extends "layout_nowelsh.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
          Completed
        </strong><br>
        Change of address journey 1st iteration
      </h1>
      <h2 class="govuk-heading-m">Set up custom data</h2>
      <div class="govuk-inset-text">
        <p><a href="admin.html">Use this page to set up custom data</a> that will apply across the prototype journeys.</p>
        <p>To clear any data entered, use the 'Clear data' link in the grey footer.</p>
      </div>

      <h2 class="govuk-heading-m">Happy path end-to-end journey</h2>
      <a href="manage-state-pension.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">Start now</a>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Jump to a page in the journey
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Pre OIDV</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="manage-state-pension.html">Mock GOV.UK start page</a></li>
            <li><a href="how-did-you-find-the-service.html">How did you find out about this service?</a></li>
            <li><a href="privacy-notice.html">Privacy notice</a></li>
            <li><a href="cannot-use-service.html">You cannot use this service yet</a></li>
          </ul>
          <h3 class="govuk-heading-s">Your State Pension details</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="your-state-pension.html">Your State Pension overview if status is 'Receiving State Pension'</a></li>
            <li><a href="your-state-pension&issues.html">Your State Pension overview if status is <strong>anything other than</strong> 'Receiving State Pension'</a></li>
          </ul>
          <h3 class="govuk-heading-s">Bank details change</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-bank/do-you-want-uk-account.html">Do you want to use a UK bank or building society account?</a></li>
            <li><a href="change-bank/can-only-use-uk-account.html">You can only use this service with a UK bank or building society account</a></li>
            <li><a href="change-bank/bank-or-building-society-details.html">Enter new bank details</a></li>
            <li><a href="change-bank/check-your-details.html">Check your answers for bank details</a></li>
            <li><a href="change-bank/you-have-changed-your-bank-details.html">Bank details changed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Change of address</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="do-you-receive-other-benefits.html"> Do you receive benefits in addition to your State Pension? </a></li>
            <li><a href="benefits-disclaimer.html">You need to change your address with each benefit office</a></li>
            <li><a href="have-you-already-moved.html">Have you already moved into this property?</a></li>
            <li><a href="report-change-after-move.html">You need to change your address once you have moved</a></li>
            <li><a href="uk-address.html">Is the new address in the UK?</a></li>
            <li><a href="you-cannot-change-your-address-online.html">You cannot change your address online</a></li>
            <li><a href="address-finder/find-address.html">Find address</a></li>
            <li><a href="address-finder/select-an-address.html">Select an address</a></li>
            <li><a href="address-finder/no-address-found.html">No address found</a></li>
            <li><a href="check-your-details.html">Check your details</a></li>
            <li><a href="you-have-changed-your-address.html">Your address has been updated with State Pension</a></li>
            <li><a href="you-have-changed-your-address-alt.html">Your address has been updated with State Pension Alt</a></li>
          </ul>
          <h3 class="govuk-heading-s">Home phone change</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-home-phone/enter-home-phone.html">Enter new home phone</a></li>
            <li><a href="change-home-phone/check-your-details.html">Check answers home phone</a></li>
            <li><a href="change-home-phone/you-have-changed-your-contact-details.html">Home phone changed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Remove only home phone</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-home-phone/remove-home-phone.html">Remove home phone</a></li>
            <li><a href="change-home-phone/you-have-removed-your-only-home-phone-number.html">Home phone number removed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Home phone add</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-home-phone/enter-home-phone-add.html">Enter home phone</a></li>
            <li><a href="change-home-phone/check-your-details-add.html">Check answers add home phone</a></li>
            <li><a href="change-home-phone/you-have-added-your-contact-details.html">Home phone number added</a></li>
          </ul>
          <h3 class="govuk-heading-s">Mobile phone change</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-mobile-phone/enter-mobile-phone.html">Enter new mobile phone</a></li>
            <li><a href="change-mobile-phone/check-your-details-contact.html">Check answers mobile phone</a></li>
            <li><a href="change-mobile-phone/you-have-changed-your-contact-details.html">Mobile phone changed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Mobile phone remove</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-mobile-phone/remove-mobile-phone.html">Remove mobile phone</a></li>
            <li><a href="change-mobile-phone/you-have-removed-your-contact-details.html">Mobile phone number removed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Mobile phone add</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-mobile-phone/enter-mobile-phone-add.html">Add mobile phone</a></li>
            <li><a href="change-mobile-phone/check-your-details-add.html">Check answers add mobile phone</a></li>
            <li><a href="change-mobile-phone/you-have-added-your-contact-details.html">Mobile phone number added</a></li>
          </ul>
          <h3 class="govuk-heading-s">Work phone change</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-alt-phone/enter-alt-phone.html">Enter new work phone</a></li>
            <li><a href="change-alt-phone/check-your-details.html">Check answers work phone</a></li>
            <li><a href="change-alt-phone/you-have-changed-your-contact-details.html">work phone changed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Work phone remove</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-alt-phone/remove-alt-phone.html">Remove work phone</a></li>
            <li><a href="change-alt-phone/you-have-removed-your-contact-details.html">work phone number removed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Work phone add</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-alt-phone/enter-alt-phone-add.html">Enter work phone</a></li>
            <li><a href="change-alt-phone/check-your-details-add.html">Check answers add work phone</a></li>
            <li><a href="change-alt-phone/you-have-added-your-contact-details.html">work phone number added</a></li>
          </ul>
          <h3 class="govuk-heading-s">Email address change</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-email-address/enter-email-address.html">Enter new email address</a></li>
            <li><a href="change-email-address/check-your-details.html">Check answers email address</a></li>
            <li><a href="change-email-address/you-have-changed-your-contact-details.html">Email address changed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Remove only email address</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-email-address/remove-email-address.html">Remove email address</a></li>
            <li><a href="change-email-address/you-have-removed-your-email-address.html">Email address removed</a></li>
          </ul>
          <h3 class="govuk-heading-s">Email address add</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-email-address/enter-email-address-add">Enter email address</a></li>
            <li><a href="change-email-address/check-your-details-add.html">Check answers email address</a></li>
            <li><a href="change-email-address/you-have-added-your-contact-details.html">Email address added</a></li>
          </ul>
          <h3 class="govuk-heading-s">Get help</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="contact-pension-service.html">Get help - iterated version of GOV.UK contact Pension Service page</a></li>
            <li><a href="contact-pension-service&welsh.html">Get help Welsh version - iterated version of Welsh GOV.UK contact Pension Service page</a></li>
          </ul>
          <h3 class="govuk-heading-s">Home address change</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="change-of-address/benefit-type.html">Are you on any benefits?</a></li>
            <li><a href="change-email-address/check-your-details.html">Check answers email address</a></li>
            <li><a href="change-email-address/you-have-changed-your-contact-details.html">Email address changed</a></li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Version notes</h2>

      <h2 class="govuk-heading-s">Change of address</h2>
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li>Based on <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1682586597693/17fb52fb18524109a639f93a8eced427e1aae500?sender=u7945a63eec3e3fa9988e1807" target="_blank">workshops and ideation sessions</a> -->
        <!-- <li><a href="https://dwpdigital.atlassian.net/browse/RFP-3911" target="_blank">JIRA ticket for iterations</a></li> -->
        <li>Design to align the address finder with what's in the GYSP service</li>
        <li>Building number or name to be a mandatory field</li>
        <li>Removing the <a href="you-are-changing-the-address-where-you-live.html">you are changing the address where you live</a> page as it was causing some severe usability issues during UT</li>
      </ul>

      <h2 class="govuk-heading-m">Additional pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>TBC</li>
      </ul>
      <!-- <h2 class="govuk-heading-s">Exceptions for change of address</h2>
      <p> Journeys for users who enter a duplicate address through address lookup and manual address entry</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://localhost:3000/contact/3-0/change-of-address/duplicate/uk-address" target="_blank"> Scenario 1 - Duplicate change of address through address lookup</a>
        <li><a href="#" target="_blank">Scenario 2 - Duplicate change of address through manual address entry</a>
      </ul>-->

      <h2 class="govuk-heading-m">Alternative pages</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">TODO</li>
      </ul>

      <!-- <h2 class="govuk-heading-m">Experimental design</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=""></a></li>
      </ul> -->

{% endblock %}

