{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}
{% set govukRebrand = true %}


{% set homepageLink = "www.bbc.co.uk" %}

{% set navigation = [
  {
    href: "#nav1",
    text: ""
  },
  {
    href: "#nav2",
    text: "",
    active: true
  },
  {
    href: "#nav3",
    text: ""
  }
]
%} 

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service — <a class='govuk-link' href='#'>your feedback will help us to improve it (opens in new tab)</a>
      </span>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
<!-- <div class="govuk-grid-column-one-third" style="float:right;">
  {{
    hmrcLanguageSelect({
      language: 'en',
      en: {
        href: '?en'
      },
      cy: {
        href: '?cy'
      }
    })
  }}
</div> -->
</div>
{% endblock %}

{% block footer %}

  {{ govukFooter({
    meta: {
      items: [
        
      {
        href: "https://govuk-prototype-kit.herokuapp.com/",
        text: "GOV.UK Prototype Kit " + releaseVersion
      },
      
      {
          href: "/manage-prototype",
          text: "Manage Prototype"
        },
        
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        }
      ],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}

{% endblock %}

