{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Do you own the account? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you want to be opted out of getting the Winter Fuel Payments?"
            },
            value: {
              text: data['do-you-want-to-opt-out']
            },
            actions: {
              items: [
                {
                  href: "/wf-opt-out/1-0/do-you-want-to-opt-out",
                  text: "Change",
                  visuallyHiddenText: "Do you want to be opted out of getting the Winter Fuel Payments?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What is your email address?"
            },
            value: {
              text: data['email']
            },
            actions: {
              items: [
                {
                  href: "/wf-opt-out/1-0/email",
                  text: "Change",
                  visuallyHiddenText: "What is your email address?"
                  
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Do you want reminders about opting in?"
            },
            value: {
              text: data['reminders']
            },
            actions: {
              items: [
                {
                  href: "/wf-opt-out/1-0/do-you-want-reminders",
                  text: "Change",
                  visuallyHiddenText: "Do you want reminders about opting in?"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/wf-opt-out/1-0/confirmaiton" method="post" novalidate>

        {{ govukButton({
          text: "Confirm"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}