{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Do you own the account? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<!-- DYNAMIC TEXT: GREEN BANNER -->

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
{% if data['decision'] == 'no' %}
 <h1 class="govuk-panel__title">Your request to opt in has been submitted</h1>
{% elif data['decision'] == 'yes' %}
<h1 class="govuk-panel__title">Your request to opt out has been submitted</h1>
{% else %}
 <h1>No selection has been made</h1>
{% endif %}
          <!-- <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div> -->
        </div>

<!-- DYNAMIC TEXT: WE WILL EMAIL TO SAY YOU'RE IN/OUT -->

  <p class="govuk-body">
          {% if data['decision'] == 'no' %}
 <p class="govuk-body">We will send you an email when you have been successfully opted in.</p>
 <p class="govuk-body">Being opted in does not guarantee that you will get the Winter Fuel Payment.</p>
 <p class="govuk-body"><strong>What happens next</strong></p>
<p class="govuk-body">We will check your eligibility each year and tell you if you will get the Winter Fuel Payment for that winter. </p>

{% elif data['decision'] == 'yes' %}
<p class="govuk-body">We will send you an email when you have been successfully opted out.</p>
<p class="govuk-body"><strong>What happens next</strong></p>
<p class="govuk-body">You will not get the Winter Fuel Payment for the 2026 to 2027 payment period or for any future payment periods.</p>
<p class="govuk-body">You can opt back in at any time by using this service.</p>
{% else %}
 <p>No selection has been made</p>
{% endif %}
          
<!-- DYNAMIC TEXT: YOU WILL/WON'T GET PAYMENT -->

        <!-- <h2 class="govuk-heading-m">What happens next</h2>

 <p class="govuk-body">
          {% if data['decision'] == 'no' %}
 <p class="govuk-body">You may get the Winter Fuel Payment for the 2026 to 2027 payment period or for any future payment periods.</p>
{% elif data['decision'] == 'yes' %}
<p class="govuk-body">You will not get the Winter Fuel Payment for the 2026 to 2027 payment period or for any future payment periods.</p>
{% else %}
 <p>No selection has been made</p>
{% endif %} -->

<!-- DYNAMIC TEXT: YOU CAN OPT BACK IN/OUT -->

 <!-- <p class="govuk-body">
          {% if data['decision'] == 'no' %}
 <p class="govuk-body">You can opt back out at any time by using this service.</p>
{% elif data['decision'] == 'yes' %}
<p class="govuk-body">You can opt back in at any time by using this service.</p>
{% else %}
 <p>No selection has been made</p>
{% endif %} -->

<!-- DYNAMIC TEXT: YOU WILL/WONT BE REMINDED -->

 <p class="govuk-body">
 
{% if data['reminders'] == 'yes' and data['decision'] == 'yes' %}
  <p class="govuk-body">We will email each year to remind you that you have opted out and can choose to opt back in.</p>

{% elif data['reminders'] == 'yes' and data['decision'] == 'no' %}
  <p class="govuk-body">We will remind you that you can opt out using this service.</p>

{% else %}
  <p class="govuk-body">No selection has been made</p>
{% endif %}




        <div class="govuk-inset-text">
  <a href ="/wf-opt-out/1-0/your-state-pension-out">Return to Your State Pension details</a>
</div>
      </div>
    </div>
  </main>
</div>

{% endblock %}