{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Do you own the account? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  <form class="form" action="/wf-opt-out/1-0/do-you-want-to-opt-out" method="post">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you want to be opted out of getting the Winter Fuel Payment?
      </h1>
    </legend>
    <div id="changedName-hint" class="govuk-hint">
     Opting out of Winter Fuel payment will not affect your State Pension.
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="decision-yes" name="decision" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="decision-out">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="decision-no" name="decision" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="decision-in">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

 <button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
</form>

{% endblock %}