{% extends "layouts/ol_signed_in.html" %}

{% block pageTitle %}
  Do you own the account? - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}


<div class="govuk-form-group">
 <form class="form" action="/wf-opt-out/1-0/check-answers" method="post">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you want yearly reminders that you can opt back in?
      </h1>
    </legend>
    <div id="changedName-hint" class="govuk-hint">
     Reminders will be sent to the email address you have provided.
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="remind-yes" name="do-you-want-reminders" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="remind-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="remind-no" name="do-you-want-reminders" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="remind-no">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

 <button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
</form>

{% endblock %}