{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Email confirmation - Manage your State Pension - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table" style="border:1px solid #b1b4b6;">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <p class="govuk-body" style="margin:10px 20px;">From</p>
        </td>
        <td class="govuk-table__cell">
          <p class="govuk-body" style="margin:10px 20px;">Get your State Pension</p>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <p class="govuk-body" style="margin:10px 20px;">Reply to</p>
        </td>
        <td class="govuk-table__cell">
          <p class="govuk-body" style="margin:10px 20px;">longbenton.getyourstatepension2@dwp.gov.uk</p>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <p class="govuk-body" style="margin:10px 20px;">To</p>
        </td>
        <td class="govuk-table__cell">
          <p class="govuk-body" style="margin:10px 20px;">
            {% if data['confirmation-email'] == 'current' %}
              {% if data['current-email'] %}
                {{ data['current-email'] }}
              {% elif data['enter-email-alt'] %}
                {{ data['enter-email-alt'] }}
              {% else %}
                email@me.co.uk
              {% endif %}
            {% elif data['confirmation-email'] == 'new' %}
              {{ data['enter-email'] }}
            {% else %}
              email@me.co.uk
            {% endif %}
          </p>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <p class="govuk-body" style="margin:10px 20px;">Subject</p>
        </td>
        <td class="govuk-table__cell">
          <p class="govuk-body" style="margin:10px 20px;">You have changed how often we will pay your State Pension</p>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" colspan="2">
          <p class="govuk-body" style="margin:20px;">Dear 
            {% if data['full-name'] %}
              {{ data['full-name'] }},
            {% else %}
              Alex Jones,
            {% endif %}
          </p>
          <p class="govuk-body" style="margin:20px;">You have changed how often we will pay your State Pension.</p>
          <p class="govuk-body" style="margin:20px;">We will pay you 
            {% if data['payment-frequency'] == 'Every 4 weeks (13 payments a year)' and data['frequency-select'] == 'Every 2 weeks' %}
              {% if data['next-payment-amount'] %}
                £{{ (data['next-payment-amount']/2)  }}
              {% else %}
                £407
              {% endif %}
              {% if data['frequency-select'] %}
                <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
              {% else %}
                every 2 weeks
              {% endif %}
            {% elif data['payment-frequency'] == 'Every 4 weeks (13 payments a year)' and data['frequency-select'] == 'Every week' %}
              {% if data['next-payment-amount'] %}
                £{{ (data['next-payment-amount']/4)  }}
              {% else %}
                £203
              {% endif %}
              {% if data['frequency-select'] %}
                <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
              {% else %}
                every week
              {% endif %}
            {% else %}
              {% if data['next-payment-amount'] %}
                £{{ (data['next-payment-amount']/2) }}
              {% else %}
                £407
              {% endif %}
              {% if data['frequency-select'] %}
                <span style="text-transform: lowercase;">{{ data['frequency-select'] }}</span>
              {% else %}
                every 2 weeks
              {% endif %}
            {% endif %}
            starting from Friday
            {% if data['payment-frequency'] == 'Every 4 weeks (13 payments a year)' and data['frequency-select'] == 'Every 2 weeks' %}
              {% if data['next-payment-day'] %}
                {{ data | isoDateFromDateInput("next-payment") | duration(3, "weeks") | govukDate }}.
              {% else %}
                25 August 2023.
              {% endif %}
            {% elif data['payment-frequency'] == 'Every 4 weeks (13 payments a year)' and data['frequency-select'] == 'Every week' %}
              {% if data['next-payment-day'] %}
                {{ data | isoDateFromDateInput("next-payment") | duration(4, "weeks") | govukDate }}.
              {% else %}
                1 September 2023.
              {% endif %}
            {% else %}
              {% if data['next-payment-day'] %}
                {{ data | isoDateFromDateInput("next-payment") | duration(3, "weeks") | govukDate }}.
              {% else %}
                25 August 2023.
              {% endif %}
            {% endif %}
          </p>
          <p class="govuk-body" style="margin:20px;">You may get payments before this so we can start paying you every week.</p>
          <p class="govuk-body" style="margin:20px;">To view your details and make changes online, go to: <a href="https://www.gov.uk/manage-state-pension" target="_blank">https://www.gov.uk/manage-state-pension</a></p>
          <p class="govuk-body" style="margin:20px;">Do not reply to this email.</p>
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
